<app-loading *ngIf="loadingVisible"></app-loading>
<p-dialog #pDialog [(visible)]="dialogVisible" [modal]="true" appendTo="body" 
		[contentStyle]="{'height':'70vh'}" [style]="{'width':'90vw','height':'auto'}" 
		(onShow)="onShow($event)" (onHide)="onHide($event)">
	<p-header>
		{{'LABELS.' + headerLabelCode | translate}}
		<a [ngClass]="{'ui-dialog-titlebar-icon ui-corner-all':true}" style="position: absolute; right: 30px;"  tabindex="0" role="button" (click)="onToggleMinimize()" (keydown.enter)="onToggleMinimize()">
			<span [ngClass]="minimized ? 'pi pi-chevron-down' : 'pi pi-minus'"></span>
		</a>
	</p-header>

	<div class="ui-g ui-grid-responsive ui-grid-pad ui-fluid">
		<form [formGroup]="formGroup" class="ui-g-12">

			<!-- Institutie -->
			<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
				<div class="ui-grid-row">
					<div class="ui-grid-col-2">
						{{'LABELS.MEMBRU_REPREZENTANTI_COMISIE_SAU_GL_INSTITUTIE' | translate}}<span> *</span>:
					</div>
					<div class="ui-grid-col-10">
						<app-nomenclator-value-field
								formControlName="institutie"
								[customFilters]="institutieCustomFilters"
								[readonly]="readonly"
								(valueChanged)="onInstitutieValueChanged($event)">
						</app-nomenclator-value-field>
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-2"></div>
					<div class="ui-grid-col-10">
						<div class="ui-message ui-messages-error ui-corner-all" *ngIf="institutieFormControl.invalid && (institutieFormControl.dirty || institutieFormControl.touched)">
							<i class="fa fa-close"></i>
							<span *ngIf="institutieFormControl.errors['required']">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>
						</div>
					</div>
				</div>
			</div>

			<!-- Membru Institutie -->
			<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
				<div class="ui-grid-row">
					<div class="ui-grid-col-2">
						{{'LABELS.MEMBRU_REPREZENTANTI_COMISIE_SAU_GL_MEMBRU_INSTITUTIE' | translate}}:
					</div>
					<div class="ui-grid-col-10">
						<app-nomenclator-value-field
								formControlName="membruInstitutie"
								[customFilters]="membruInstitutieCustomFilters"
								[readonly]="readonly || membruInstitutieFormControl.disabled"
								(valueChanged)="onMembruInstitutieValueChanged($event)">
						</app-nomenclator-value-field>
					</div>
				</div>
			</div>

			<!-- Nume membru -->
			<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" *ngIf="numeFormControl.enabled">
				<div class="ui-grid-row">
					<div class="ui-grid-col-2">
						{{'LABELS.MEMBRU_REPREZENTANTI_COMISIE_SAU_GL_NUME' | translate}}<span *ngIf="numeFormControl.enabled"> *</span>:
					</div>
					<div class="ui-grid-col-10">
						<input type="text" formControlName="nume" pInputText [readonly]="readonly">
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-2"></div>
					<div class="ui-grid-col-10">
						<div class="ui-message ui-messages-error ui-corner-all" *ngIf="numeFormControl.invalid && (numeFormControl.dirty || numeFormControl.touched)">
							<i class="fa fa-close"></i>
							<span *ngIf="numeFormControl.errors['required']">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>
						</div>
					</div>
				</div>
			</div>

			<!-- Prenume membru -->
			<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" *ngIf="prenumeFormControl.enabled">
				<div class="ui-grid-row">
					<div class="ui-grid-col-2">
						{{'LABELS.MEMBRU_REPREZENTANTI_COMISIE_SAU_GL_PRENUME' | translate}}<span *ngIf="prenumeFormControl.enabled"> *</span>:
					</div>
					<div class="ui-grid-col-10">
						<input type="text" formControlName="prenume" pInputText [readonly]="readonly">
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-2"></div>
					<div class="ui-grid-col-10">
						<div class="ui-message ui-messages-error ui-corner-all" *ngIf="prenumeFormControl.invalid && (prenumeFormControl.dirty || prenumeFormControl.touched)">
							<i class="fa fa-close"></i>
							<span *ngIf="prenumeFormControl.errors['required']">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>
						</div>
					</div>
				</div>
			</div>

			<!-- Functie -->
			<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
				<div class="ui-grid-row">
					<div class="ui-grid-col-2">
						{{'LABELS.MEMBRU_REPREZENTANTI_COMISIE_SAU_GL_FUNCTIE' | translate}}<span *ngIf="functieFormControl.enabled"> *</span>:
					</div>
					<div class="ui-grid-col-10">
						<input type="text" formControlName="functie" pInputText [readonly]="readonly">
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-2"></div>
					<div class="ui-grid-col-10">
						<div class="ui-message ui-messages-error ui-corner-all" *ngIf="functieFormControl.invalid && (functieFormControl.dirty || functieFormControl.touched)">
							<i class="fa fa-close"></i>
							<span *ngIf="functieFormControl.errors['required']">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>
						</div>
					</div>
				</div>
			</div>

			<!-- Departament -->
			<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
				<div class="ui-grid-row">
					<div class="ui-grid-col-2">
						{{'LABELS.MEMBRU_REPREZENTANTI_COMISIE_SAU_GL_DEPARTAMENT' | translate}}<span *ngIf="departamentFormControl.enabled"> *</span>:
					</div>
					<div class="ui-grid-col-10">
						<input type="text" formControlName="departament" pInputText [readonly]="readonly">
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-2"></div>
					<div class="ui-grid-col-10">
						<div class="ui-message ui-messages-error ui-corner-all" *ngIf="departamentFormControl.invalid && (departamentFormControl.dirty || departamentFormControl.touched)">
							<i class="fa fa-close"></i>
							<span *ngIf="departamentFormControl.errors['required']">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>
						</div>
					</div>
				</div>
			</div>

			<!-- Email -->
			<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
				<div class="ui-grid-row">
					<div class="ui-grid-col-2">
						{{'LABELS.MEMBRU_REPREZENTANTI_COMISIE_SAU_GL_EMAIL' | translate}}<span *ngIf="emailFormControl.enabled"> *</span>:
					</div>
					<div class="ui-grid-col-10">
						<input type="text" formControlName="email" pInputText [readonly]="readonly">
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-2"></div>
					<div class="ui-grid-col-10">
						<div class="ui-message ui-messages-error ui-corner-all" *ngIf="emailFormControl.invalid && (emailFormControl.dirty || emailFormControl.touched)">
							<i class="fa fa-close"></i>
							<span *ngIf="emailFormControl.errors['required']">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>
							<span *ngIf="emailFormControl.errors['email']">{{'MESSAGES.INVALID_EMAIL' | translate}}</span>
						</div>
					</div>
				</div>
			</div>

			<!-- Telefon -->
			<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
				<div class="ui-grid-row">
					<div class="ui-grid-col-2">
						{{'LABELS.MEMBRU_REPREZENTANTI_COMISIE_SAU_GL_TELEFON' | translate}}<span *ngIf="telefonFormControl.enabled"> *</span>:
					</div>
					<div class="ui-grid-col-10">
						<input type="text" formControlName="telefon" pInputText [readonly]="readonly">
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-2"></div>
					<div class="ui-grid-col-10">
						<div class="ui-message ui-messages-error ui-corner-all" *ngIf="telefonFormControl.invalid && (telefonFormControl.dirty || telefonFormControl.touched)">
							<i class="fa fa-close"></i>
							<span *ngIf="telefonFormControl.errors['required']">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>
						</div>
					</div>
				</div>
			</div>

			<!-- Calitate -->
			<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
				<div class="ui-grid-row">
					<div class="ui-grid-col-2">
						{{'LABELS.MEMBRU_REPREZENTANTI_COMISIE_SAU_GL_CALITATE' | translate}}<span> *</span>:
					</div>
					<div class="ui-grid-col-10">
						<p-dropdown 
								formControlName="calitate" 
								[options]="calitateSelectItems"
								[disabled]="readonly"
								[style]="{'width':'100%'}" 
								[placeholder]="'LABELS.SELECT' | translate"
								filter="true"
								[showClear]="true">
						</p-dropdown>
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-2"></div>
					<div class="ui-grid-col-10">
						<div class="ui-message ui-messages-error ui-corner-all" *ngIf="calitateFormControl.invalid && (calitateFormControl.dirty || calitateFormControl.touched)">
							<i class="fa fa-close"></i>
							<span *ngIf="calitateFormControl.errors['required']">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>
						</div>
					</div>
				</div>
			</div>

			<!-- Stare -->
			<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
				<div class="ui-grid-row">
					<div class="ui-grid-col-2">
						{{'LABELS.MEMBRU_REPREZENTANTI_COMISIE_SAU_GL_STARE' | translate}}<span> *</span>:
					</div>
					<div class="ui-grid-col-10">
						<p-dropdown 
								formControlName="stare" 
								[options]="stareSelectItems"
								[disabled]="readonly"
								[style]="{'width':'100%'}" 
								[placeholder]="'LABELS.SELECT' | translate"
								filter="true"
								[showClear]="true">
						</p-dropdown>
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-2"></div>
					<div class="ui-grid-col-10">
						<div class="ui-message ui-messages-error ui-corner-all" *ngIf="stareFormControl.invalid && (stareFormControl.dirty || stareFormControl.touched)">
							<i class="fa fa-close"></i>
							<span *ngIf="stareFormControl.errors['required']">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>
						</div>
					</div>
				</div>
			</div>

			<!-- Diplome -->
			<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
				<div class="ui-grid-row">
					<div class="ui-grid-col-2">
						{{'LABELS.MEMBRU_REPREZENTANTI_COMISIE_SAU_GL_DIPLOME' | translate}}:
					</div>
					<div class="ui-grid-col-10">
						<p-table [columns]="diplomeColumns" 
								[value]="diplomeValues" 
								[(selection)]="selectedDiploma"  
								[responsive]="true"
								[resizableColumns]="true"
								columnResizeMode="fit"
								[scrollable]="true"
								selectionMode="single" 
								scrollHeight="250px"
								(onRowSelect)="onDiplomaSelect()"
								(onRowUnselect)="onDiplomaUnselect()">
							<ng-template pTemplate="colgroup" let-columns>
								<colgroup>
									<col style="width: 50px">
									<col *ngFor="let column of columns" style="width: auto">
								</colgroup>
							</ng-template>
							<ng-template pTemplate="caption">
								<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
									<div class="ui-grid-row">
										<div class="ui-grid-col-12" style="text-align: left;">
											<p-button [disabled]="!addDiplomaActionEnabled" (onClick)="onAddDiplomaAction()" [label]="'LABELS.ADD' | translate"></p-button>
											<p-button [disabled]="!editDiplomaActionEnabled" (onClick)="onEditDiplomaAction()" [label]="'LABELS.EDIT' | translate"></p-button>
											<p-button [disabled]="!removeDiplomaActionEnabled" (onClick)="onRemoveDiplomaAction()" [label]="'LABELS.REMOVE' | translate"></p-button>
										</div>
									</div>
								</div>
							</ng-template>
							<ng-template pTemplate="header" let-columns>
								<tr>
									<th pResizableColumn>
										{{"LABELS.NO_CRT" | translate}}
									</th>
									<th pResizableColumn *ngFor="let column of columns">
										{{column.header}}
									</th>
								</tr>
							</ng-template>
							<ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
								<tr [pSelectableRow]="rowData">
									<td>{{index + 1}}</td>
									<td *ngFor="let column of columns">
										{{rowData[column.field]}}
									</td>
								</tr>
							</ng-template>
						</p-table>
					</div>
				</div>
			</div>
		</form>
	</div>
	<p-footer>
		<p-button *ngIf="saveActionEnabled" (onClick)="onSaveAction($event)" [label]="('LABELS.' + saveLabelCode) | translate"></p-button>
		<p-button (onClick)="onCancelAction($event)" [label]="'LABELS.CANCEL' | translate"></p-button>
	</p-footer>
</p-dialog>

<app-diploma-membru-reprezentanti-comisie-sau-gl-window *ngIf="diplomaWindowVisible"
		[takenDenumiri]="diplomaWindowTakenDenumiri"
		[diploma]="diplomaWindowDiploma"
		(saved)="onDiplomaWindowSaved($event)"
		(closed)="onDiplomaWindowClosed()">
</app-diploma-membru-reprezentanti-comisie-sau-gl-window>