<p-dialog *ngIf="windowVisible" [visible]="windowVisible" [width]="width" [modal]="true" (onHide)="onHide($event)">
	<p-header>{{"LABELS.SEARCH_RESULTS" | translate}}:</p-header>
	<p-table 
			[(selection)]="selectedUser" 
			[columns]="columns" 
			[value]="usersFoundInDirectory"
			[lazy]="true"
			[responsive]="true"
			(onRowSelect)="onRowSelect($event)"
			(onRowUnselect)="onRowUnselect($event)"
			selectionMode="single">
		<ng-template pTemplate="header" let-columns>
			<tr>
				<th *ngFor="let column of columns" [pSortableColumn]="column.field">
					{{column.header | translate}}
					<p-sortIcon [field]="column.field"></p-sortIcon>
				</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-rowData let-columns="columns">
			<tr [pSelectableRow]="rowData">
				<td *ngFor="let column of columns">
					{{rowData[column.field]}}
				</td>
			</tr>
		</ng-template>
	</p-table>
	<p-footer>
		<p-button (onClick)="onSelectAction($event)" [disabled]="selectButtonDisabled" [label]="'LABELS.SELECT' | translate"></p-button>
	</p-footer>
</p-dialog>