<app-loading *ngIf="loadingVisible"></app-loading>
<p-dialog #pDialog [(visible)]="windowVisible" [modal]="true" appendTo="body"
		[contentStyle]="{'height':'70vh'}" [style]="{'width':'90vw','height':'auto'}" 
		(onShow)="onShow($event)" (onHide)="onHide($event)">
	<p-header>
		{{title}}
		<a [ngClass]="{'ui-dialog-titlebar-icon ui-corner-all':true}" style="position: absolute; right: 30px;"  tabindex="0" role="button" (click)="onToggleMinimize()" (keydown.enter)="onToggleMinimize()">
			<span [ngClass]="minimized ? 'pi pi-chevron-down' : 'pi pi-minus'"></span>
		</a>
	</p-header>
	<div [ngStyle]="{'height':'70vh'}">
		<form [formGroup]="formGroup">
			<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
				<div class="ui-grid-row">
					<div class="ui-grid-col-2">
						{{"LABELS.WORKSPACE" | translate}} *:
					</div>
					<div class="ui-grid-col-10">
						<app-document-location-selector formControlName="documentLocation"></app-document-location-selector>
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-2"></div>
					<div class="ui-grid-col-10">
						<div class="ui-message ui-messages-error ui-corner-all" *ngIf="documentLocationFormControl.invalid && (documentLocationFormControl.dirty || documentLocationFormControl.touched)">
							<i class="fa fa-close"></i>
							<span *ngIf="documentLocationFormControl.errors['required']">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
				<div class="ui-grid-row">
					<div class="ui-grid-col-2">
						{{'LABELS.DOCUMENT_NAME' | translate}}:
					</div>
					<div class="ui-grid-col-10">
						<input type="text" formControlName="documentName" pInputText>
					</div>
				</div>
			</div>
			<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
				<div class="ui-grid-row">
					<div class="ui-grid-col-2"></div>
					<div class="ui-grid-col-10">
						<p-button (onClick)="onSearchAction()" [label]="'LABELS.SEARCH' | translate"></p-button>
					</div>
				</div>
			</div>
		</form>
		<br>
		<p-table *ngIf="documentsVisible" 
				[(selection)]="selectedDocuments"
				[value]="documents"  
				[selectionMode]="selectionMode"
				[responsive]="true"
				[resizableColumns]="true"
				columnResizeMode="expand"
				[scrollable]="true"
				[scrollHeight]="scrollHeight"
				[paginator]="true" 
				[rows]="pageSize"
				[first]="first"
				(onPage)="onPage($event)"
				(onRowSelect)="onDocumentSelected($event)"
				(onRowUnselect)="onDocumentUnselected($event)">
			<ng-template pTemplate="colgroup" let-columns>
				<colgroup>
					<col style="width: 5%">
					<col style="width: 65%">
					<col style="width: 15%">
					<col style="width: 10%">
					<col style="width: 5%">
				</colgroup>
			</ng-template>
			<ng-template pTemplate="header" let-columns>
				<tr>
					<th pResizableColumn>
						{{"LABELS.NO_CRT" | translate}}
					</th>							
					<th pResizableColumn pSortableColumn="documentName">
						{{"LABELS.DOC_NAME" | translate}}
						<p-sortIcon field="documentName"></p-sortIcon>
					</th>
					<th pResizableColumn pSortableColumn="author">
						{{"LABELS.DOC_AUTHOR" | translate}}
						<p-sortIcon field="author"></p-sortIcon>
					</th>
					<th pResizableColumn pSortableColumn="createdDate">
						{{"LABELS.DOC_CREATED" | translate}}
						<p-sortIcon field="createdDate"></p-sortIcon>
					</th>
					<th pResizableColumn></th>	
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-document let-index="rowIndex">
				<tr [pSelectableRow]="document">
					<td class="ui-resizable-column">{{(index + 1)}}</td>					
					<td class="ui-resizable-column">{{document.documentName}}</td>
					<td class="ui-resizable-column">{{document.author}}</td>
					<td class="ui-resizable-column">{{document.createdDate | appDateFormater}}</td>
					<td class="ui-resizable-column">
						<p-button (onClick)="onViewDocumentAction(document)" icon="fa fa-eye"></p-button>
					</td>
				</tr>
			</ng-template>
			<ng-template pTemplate="emptymessage" let-columns>
				<tr>
					<td [attr.colspan]="6">
						{{"LABELS.NO_RECORDS_FOUND" | translate}}
					</td>
				</tr>
			</ng-template>
			<ng-template *ngIf="nrOfDocuments > 0" pTemplate="summary">
				{{nrOfDocuments}} documents
			</ng-template>
		</p-table>
	</div>
	<p-footer>
		<p-button (onClick)="onOKAction()" [label]="'LABELS.OK' | translate" [disabled]="!okActionEnabled"></p-button>
		<p-button (onClick)="onCloseAction()" [label]="'LABELS.CLOSE' | translate"></p-button>
	</p-footer>
</p-dialog>

<app-document-window *ngIf="viewDocumentWindowVisible" 
	[inputData]="viewDocumentWindowInputData" 
	[mode]="viewDocumentWindowMode" 
	[maximized]="true"
	(windowClosed)="onViewDocumentWindowClosed($event)">
</app-document-window>