<p-pickList
		[source]="sourceStates"
		[target]="targetStates"
		[responsive]="true"
		[showSourceControls]="showControls"
		[showTargetControls]="showControls"
		[disabled]="readonly"
		(onMoveToTarget)="onTargetChanged($event)"
		(onMoveToSource)="onTargetChanged($event)"
		(onMoveAllToTarget)="onTargetChanged($event)"
		(onMoveAllToSource)="onTargetChanged($event)">
	<ng-template let-state pTemplate="item">
			<div class="ui-helper-clearfix">
				<div style="margin: 5px 10px">
					{{ state.name }}
				</div>
			</div>
	</ng-template>
</p-pickList>