<p-dialog #pDialog [(visible)]="visible" [modal]="true" appendTo="body" 
		[contentStyle]="{'height':'70vh'}" [style]="{'width':'90vw','height':'auto'}" 
		(onShow)="onShow($event)" (onHide)="onHide($event)">
	<p-header>
			{{nomenclatorName}}
		<a [ngClass]="{'ui-dialog-titlebar-icon ui-corner-all':true}" style="position: absolute; right: 30px;"  tabindex="0" role="button" (click)="onToggleMinimize()" (keydown.enter)="onToggleMinimize()">
			<span [ngClass]="minimized ? 'pi pi-chevron-down' : 'pi pi-minus'"></span>
		</a>
	</p-header>

	<div [ngStyle]="{'height':'70vh'}">
        <app-nomenclator-data-table *ngIf="nomenclatorDataTableVisible"
			    [nomenclatorId]="nomenclatorDataTableNomenclatorId"
				[customFilters]="nomenclatorDataTableCustomFilters"
				[customSortedAttributes]="nomenclatorDataTableCustomSortedAttributes"
				[customFilterByValueIds]="nomenclatorDataTableCustomFilterByValueIds"
			    [selectionMode]="nomenclatorDataTableMode"
			    (selectionChanged)="onNomenclatorDataTableSelectionChanged($event)">
	    </app-nomenclator-data-table>
	</div>

	<p-footer>
		<p-button label="OK" (onClick)="onOkAction($event)"></p-button>
		<p-button [label]="'LABELS.CANCEL' | translate" (onClick)="onHide($event)"></p-button>
	</p-footer>
	
</p-dialog>