#workspace-table {
	width: 100%;
	border-collapse: collapse;
	position: relative;
}

#workspace-table tr td {
	border: 1px solid #d9d9d9;
	height: 100%;
}

#workspace-table .workspace-left-columns {
	width: 20%;
}

#workspace-table .workspace-right-columns {
	width: 80%;
}

#workspace-table button {
	width: 30px !important;
}

:host ::ng-deep .ui-panel-content {
	padding: 0px !important;
}
:host ::ng-deep .ui-widget-content {
	border: 0px;
}