<div class="ui-g-12 ui-sm-12 ui-md-6">
	<p-dropdown 
			[(ngModel)]="selectedYear" 
			[options]="yearItems"
			[placeholder]="'LABELS.SELECT' | translate"
			appendTo="body" 
			filter="true"
			(onChange)="onYearValueChanged($event)">
	</p-dropdown>
</div>

<div class="ui-g-12">
	<p-table
			#registruIesiriDataTable
			[lazy]="true"
			[(selection)]="selectedData" 
			[columns]="columns" 
			[value]="pageData.items" 
			[paginator]="true" 
			[totalRecords]="pageData.totalItems" 
			[rows]="pageData.pageSize"
			[first]="pageOffset" 
			[rowsPerPageOptions]="rowsPerPageOptions" 
			[scrollable]="true" 
			[scrollHeight]="scrollHeight"
			[loading]="dataLoading" 
			selectionMode="single"
			[resizableColumns]="true"
			(onRowSelect)="onDataSelected($event)"
			(onRowUnselect)="onDataUnselected($event)"
			(onLazyLoad)="onLazyLoad($event)">

		<ng-template pTemplate="colgroup" let-columns>
			<colgroup>
				<col *ngFor="let column of columns" style="width:250px">
			</colgroup>
		</ng-template>

		<ng-template pTemplate="header" let-columns>
			<tr>
				<th *ngFor="let column of columns" [pSortableColumn]="column.sortField" [pSortableColumnDisabled]="!column.sortable" pResizableColumn>
					{{column.header}}
					<p-sortIcon *ngIf="column.sortable" [field]="column.sortField"></p-sortIcon>
				</th>
			</tr>
			<tr>
				<th *ngFor="let column of columns" [ngSwitch]="column.filterType">
					<input *ngIf="column.filterType === 'TEXT' && column.filter" 
							pInputText type="text" 
							[disabled]="!column.filter"
							[ngModel]="selectedFilterValueMap.get(column.filterField)"
							(ngModelChange)="selectedFilterValueMap.set(column.filterField,$event)"
							(input)="registruIesiriDataTable.filter($event.target.value, column.filterField, column.filterMatchMode)">
					
					<input *ngIf="column.filterType === 'NUMBER' && column.filter" 
							pInputText type="text" 
							pKeyFilter="num" 
							[disabled]="!column.filter"
							[ngModel]="selectedFilterValueMap.get(column.field)"
							(ngModelChange)="selectedFilterValueMap.set(column.field,$event)"
							(input)="registruIesiriDataTable.filter($event.target.value, column.field, column.filterMatchMode)">
					<p-calendar *ngIf="column.filterType === 'DATE' && column.filter" 
							[showIcon]="true" 
							[monthNavigator]="true" 
							[yearNavigator]="true" 
							[readonlyInput]="true"
							[dateFormat]="dateFormat" 
							[yearRange]="yearRange" 
							[style]="{'max-width':'100%'}" 
							[inputStyle]="{'max-width':'70%'}"
							[disabled]="!column.filter"
							[ngModel]="selectedFilterValueMap.get(column.filterField)"
							(ngModelChange)="selectedFilterValueMap.set(column.filterField,$event)"
							appendTo="body" 
							showButtonBar="true" 
							(onSelect)="registruIesiriDataTable.filter($event, column.filterField, column.filterMatchMode)"
							(onClearClick)="registruIesiriDataTable.filter('', column.filterField, column.filterMatchMode)">
					</p-calendar>
					<p-selectButton *ngIf="column.filterType === 'BOOLEAN' && column.filter"
							[options]="booleanFilterTypes" 
							[multiple]="true"
							[disabled]="!column.filter"
							[ngModel]="selectedFilterValueMap.get(column.filterField)"
							(ngModelChange)="selectedFilterValueMap.set(column.filterField,$event)"
							(onChange)="registruIesiriDataTable.filter($event.value, column.filterField, column.filterMatchMode)">
					</p-selectButton>
					<p-multiSelect *ngIf="column.filterType === 'NOMENCLATOR' && column.filter" 
							[ngModel]="selectedFilterValueMap.get(column.field)"
							(ngModelChange)="selectedFilterValueMap.set(column.field,$event)"
							[options]="nomenclatorFilterData[column.field]" 
							[style]="{'width' :'100%'}" 
							[disabled]="!column.filter"
							maxSelectedLabels="1" 
							appendTo="body"
							(onChange)="registruIesiriDataTable.filter($event.value, column.field, column.filterMatchMode)">
					</p-multiSelect>
					<p-multiSelect *ngIf="column.filterType === 'MONTH' && column.filter"
						[options]="monthSelectItems"
						[ngModel]="selectedFilterValueMap.get(column.filterField)"
						(ngModelChange)="selectedFilterValueMap.set(column.filterField,$event)"
						[style]="{'width' :'100%'}" 
						[disabled]="!column.filter"
						maxSelectedLabels="1" 
						appendTo="body"
						(onChange)="registruIesiriDataTable.filter($event.value, column.filterField, column.filterMatchMode)">
					</p-multiSelect>
					<p-button *ngIf="column.filterType === 'DESTINATAR'"
						[label]="'LABELS.REGISTRU_IESIRI_FILTREAZA_DESTINATARI' | translate" 
						(onClick)="onViewDestinatariFilterWindow()">
					</p-button>
				</th>
			</tr>
		</ng-template>
		
		<ng-template pTemplate="body" let-registruIesiriData let-columns="columns">
			<tr [pSelectableRow]="registruIesiriData">
				<td *ngFor="let column of columns" [ngClass]="registruIesiriData.trebuieAnulat ? 'must-be-canceled' : null">
					<span *ngIf="isColumnTranslatable(column) && !isDestinatariColumn(column)">{{ registruIesiriData[column.field] | translate}}</span>
					<span *ngIf="!isColumnTranslatable(column) && !isDestinatariColumn(column)">{{ registruIesiriData[column.field] }}</span>
					<span *ngIf="!isColumnTranslatable(column) && isDestinatariColumn(column)">
						<p-button [label]="'LABELS.REGISTRU_IESIRI_VIZUALIZEAZA_DESTINATARI' | translate" (onClick)="onViewDestinatari(registruIesiriData.destinatari, registruIesiriData.numarInregistrare)"></p-button>
					</span>
				</td>
			</tr>
		</ng-template>

		<ng-template pTemplate="emptymessage" let-columns>
			<tr>
				<td [attr.colspan]="columns.length">
					{{'LABELS.NO_RECORDS_FOUND' | translate}}
				</td>
			</tr>
		</ng-template>
	</p-table>
</div>

<p-dialog #pDialog [(visible)]="registruIesiriDestinatariVisible" [modal]="true" appendTo="body" [styleClass]="'regIesiriSDestWindowDialog'"
		[contentStyle]="{'height':'70vh'}" [style]="{'width':'90vw','height':'auto'}" 
		(onShow)="onShowRegistruIesiriDestinatari()" (onHide)="onCloseRegistruIesiriDestinatari()">
	<p-header>
		{{destinatariViewWindowHeader}} 
		<a [ngClass]="{'ui-dialog-titlebar-icon ui-corner-all':true}" style="position: absolute; right: 30px;"  tabindex="0" role="button" (click)="onToggleMinimizeRegistruIesiriDestinatari()" (keydown.enter)="onToggleMinimizeRegistruIesiriDestinatari()">
			<span [ngClass]="registruIesiriDestinatariMinimized ? 'pi pi-chevron-down' : 'pi pi-minus'"></span>
		</a>
	</p-header>
	<p-table 
		[value]="registruIesiriDestinatatriForView" 
		[ngStyle]="{'height':'70vh'}"
		selectionMode="single">
		<ng-template pTemplate="header">
			<tr>
				<th>{{"LABELS.REGISTRU_IESIRI_DESTINATAR" | translate}}</th>
				<th>{{"LABELS.REGISTRU_IESIRI_DEPARTAMENT" | translate}}</th>
				<th>{{"LABELS.REGISTRU_IESIRI_NR_INREGISTRARE" | translate}}</th>
				<th>{{"LABELS.REGISTRU_IESIRI_DATA_INREGISTRARE" | translate}}</th>
				<th>{{"LABELS.REGISTRU_IESIRI_INTRARE" | translate}}</th>
				<th>{{"LABELS.COMISII_SAU_GL" | translate}}</th>
				<th>{{"LABELS.REGISTRU_IESIRI_OBSERVATII" | translate}}</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-destinatar>
			<tr [pSelectableRow]="destinatar">
				<td>{{destinatar.nume}}</td>
				<td>{{destinatar.departament}}</td>
				<td>{{destinatar.numarInregistrare}}</td>
				<td>{{destinatar.dataInregistrare | appDateFormater}}</td>
				<td>{{destinatar.nrInregistrareIntrare}}</td>
				<td>{{destinatar.comisieGl}}</td>
				<td>{{destinatar.observatii}}</td>
			</tr>
		</ng-template>
	</p-table>
</p-dialog>

<app-registru-iesiri-selector-destinatari-filter-window
	[windowVisible]="destinatariFilterWindowVisible"
	(destinatariFiltered)="onDestinatariFiltered($event)"
	(windowClosed)="onDestinatariWindowClosed()">
</app-registru-iesiri-selector-destinatari-filter-window>
