<div class="ui-g">
	<div class="ui-g-12">
		<div class="ui-g-12">
			<app-nomenclator-data-toolbar
					[inputData]="toolbarInputData"
					[permissions]="toolbarPermissions"
					[customTools]="toolbarCustomTools"
					(actionPerformed)="onToolbarActionPerformed($event)">
			</app-nomenclator-data-toolbar>
		</div>
		<div class="ui-g-12">
			<span *ngIf="!nomenclatorDataTableVisible">{{'MESSAGES.LOADING' | translate}}</span>
			<app-nomenclator-data-table *ngIf="nomenclatorDataTableVisible"
					[nomenclatorId]="nomenclatorDataTableNomenclatorId"
					[selectionMode]="'single'"
					[customSortedAttributes]="customSortedAttributes"
					(selectionChanged)="onNomenclatorDataTableDataSelected($event)">
			</app-nomenclator-data-table>
		</div>
	</div>
</div>
			
<app-reprezentanti-comisie-sau-gl-window *ngIf="reprezentantiWindowVisible"
		[inputData]="reprezentantiWindowInputData"
		[mode]="reprezentantiWindowMode"
		[maximized]="true"
		(windowClosed)="onReprezentantiWindowClosed($event)">
</app-reprezentanti-comisie-sau-gl-window>