<app-loading *ngIf="loadingVisible"></app-loading>

<p-dialog #pDialog [(visible)]="windowVisible" [modal]="true" appendTo="body"
		[contentStyle]="{'height':'70vh'}" [style]="{'width':'90vw','height':'auto'}" 
		(onShow)="onShow($event)" (onHide)="onHide($event)">
	<p-header>
		<span>Calendar</span>
		<a [ngClass]="{'ui-dialog-titlebar-icon ui-corner-all':true}" style="position: absolute; right: 30px;"  tabindex="0" role="button" (click)="onToggleMinimize()" (keydown.enter)="onToggleMinimize()">
			<span [ngClass]="minimized ? 'pi pi-chevron-down' : 'pi pi-minus'"></span>
		</a>
	</p-header>
	<p-tabView [style]="{'height':'70vh'}">
		<p-tabPanel [header]="'LABELS.GENERAL' | translate" [selected]="true">
			<app-calendar-general-tab-content
				*ngIf="tabContentVisible"
				[calendarModel]="calendarModel"
				[mode]="mode">
			</app-calendar-general-tab-content>
		</p-tabPanel>
		<p-tabPanel [header]="'LABELS.USERS_RIGHTS' | translate">
			<app-calendar-users-rights-tab-content
				*ngIf="tabContentVisible"
				[calendarModel]="calendarModel"
				[mode]="mode">
			</app-calendar-users-rights-tab-content>
		</p-tabPanel>
	</p-tabView>
	<p-footer>
		<p-button (onClick)="onSaveAction($event)" [label]="'LABELS.SAVE' | translate"></p-button>
		<p-button (onClick)="onCancelAction($event)" [label]="'LABELS.CANCEL' | translate"></p-button>
	</p-footer>
</p-dialog>