<p-table [value]="subactivities" selectionMode="single" [(selection)]="selectedSubactivity" 
        [scrollable]="true"
		(onRowSelect)="onSubactivitySelected()" (onRowUnselect)="onSubactivityUnselected()">
	<ng-template pTemplate="caption">
        <div class="ui-helper-clearfix" style="text-align: right">
			<p-button icon="fa fa-plus" [disabled]="addButtonDisabled" (onClick)="onAddSubactivity()"></p-button>
			<p-button icon="fa fa-pencil-square-o" [disabled]="deleteButtonDisabled" (onClick)="onEditSubactivity()"></p-button>
			<p-button icon="fa fa-minus" [disabled]="deleteButtonDisabled" (onClick)="onDeleteSubactivity()"></p-button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>{{"LABELS.NAME" | translate}}</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-subactivity>
        <tr [pSelectableRow]="subactivity">
            <td>{{subactivity.name}}</td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="subactivityWindowVisible"
		[contentStyle]="{'max-height':'40vh'}" [style]="{'height':'auto', 'max-height':'40vh', 'width':'45vw', 'min-width':'45vw'}" 
		(onShow)="onShowSubactivityWindow()" (onHide)="onHideSubactivityWindow()">
		<p-header>
			<span>{{ (subactivityWindowMode === "edit" ? "LABELS.EDIT" : "LABELS.ADD" ) | translate}}</span>
		</p-header>
		<div class="ui-g-12 ui-g-nopad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2">
				{{'LABELS.NAME' | translate}}
			</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<input type="text" 
				pInputText 
				[formControl]="subactivityName"/>
			</div>
			<div *ngIf="subactivityName.invalid && subactivityName.touched" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>
		<p-footer>
			<p-button (onClick)="onSubactivityWindowOk($event)" [label]="'LABELS.OK' | translate"></p-button>
		</p-footer>
</p-dialog>
