<p-dialog #pDialog [(visible)]="windowVisible" [modal]="true" appendTo="body" 
		[contentStyle]="{'height':'70vh'}" [style]="{'width':'90vw','height':'auto'}" 
		(onShow)="onShow($event)" (onHide)="onHide($event)">
	<p-header>
		{{"LABELS.IN_PROGRESS_TASKS" | translate}} 
		<a [ngClass]="{'ui-dialog-titlebar-icon ui-corner-all':true}" style="position: absolute; right: 30px;"  tabindex="0" role="button" (click)="onToggleMinimize()" (keydown.enter)="onToggleMinimize()">
			<span [ngClass]="minimized ? 'pi pi-chevron-down' : 'pi pi-minus'"></span>
		</a>
	</p-header>
	
	<app-project-task-selector [projectId]="projectId" [defaultStatusFilter]="statusFilter" [statusFilterDisabled]="statusFilterDisabled">
	</app-project-task-selector>

	<p-footer>
		<p-button (onClick)="onCancel()" [label]="'LABELS.CLOSE' | translate"></p-button>
	</p-footer>
</p-dialog>