<p-dialog appendTo="body" [(visible)]="visible" [modal]="true"  [style]="{'width':'90vw','height':'auto'}"  (onHide)="onHide($event)" maximizable="true">
	<p-header>{{ "LABELS.PROJECT_TASK" | translate }} {{ getHeaderTaskName() }}</p-header>
		<form #f="ngForm" class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid" novalidate>
			
			<div class="ui-g-12 ui-g-nopad ">
				<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.COMMENTS" | translate}}:</div>
				<div class="ui-g-12 ui-sm-12 ui-md-10">
					<textarea style="width: 100%" pInputTextarea [ngModelOptions]="{standalone: true}" [(ngModel)]="comments" required></textarea>
				</div>
			</div>
			
			<div *ngIf="formSubmitted && !commentsExists()" class="ui-g-12 ui-sm-12 ui-md-10 ui-md-offset-2">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</form>

	<p-footer>
		<p-button [label]="'LABELS.PROJECT_COMPLETE_TASK' | translate" (onClick)="onCompleteTask()" [disabled]="loading"></p-button>
		<p-button [label]="'LABELS.CANCEL' | translate" (onClick)="onHide($event)"></p-button>
	</p-footer>
</p-dialog>

<app-confirmation-window *ngIf="confirmationWindow.visible"
	[messages]="confirmationWindow.messages"
	[confirmationCallback]="confirmationWindow.callback">
</app-confirmation-window>