<p-dialog #pDialog [(visible)]="visible" [modal]="true" appendTo="body"
		[contentStyle]="{'height':'70vh'}" [style]="{'width':'90vw','height':'auto'}" 
		(onShow)="onShow($event)" (onHide)="onHide($event)">
	<p-header>
		{{getHeaderTitle()}} 
		<a [ngClass]="{'ui-dialog-titlebar-icon ui-corner-all':true}" style="position: absolute; right: 30px;"  tabindex="0" role="button" (click)="onToggleMinimize()" (keydown.enter)="onToggleMinimize()">
			<span [ngClass]="minimized ? 'pi pi-chevron-down' : 'pi pi-minus'"></span>
		</a>
	</p-header>
	
	<form [formGroup]="formGroup" [ngStyle]="{'height':'70vh'}">

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.REGISTRU_IESIRI_DESTINATAR_EXISTENT" | translate}}
				<span *ngIf="!destinatarFromNomenclatorFormControl.disabled">*</span>
				:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<app-nomenclator-value-field 
					formControlName="destinatarFromNomenclator" 
					[readonly]="destinatarFromNomenclatorFormControl.disabled" 
					[customFilters]="customFilters"
					(valueChanged)="onDestinatarFromNomenclatorChanged($event)">
				</app-nomenclator-value-field>
			</div>
			<div *ngIf="destinatarFromNomenclatorFormControl.invalid && (destinatarFromNomenclatorFormControl.dirty || destinatarFromNomenclatorFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					<span *ngIf="destinatarFromNomenclatorFormControl.errors['required']">{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}</span>
				</div>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.REGISTRU_IESIRI_DESTINATAR_NOU" | translate}}<span *ngIf="!numeDestinatarFormControl.disabled">*</span>:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<input 
					type="text" 
					pInputText formControlName="numeDestinatar" 
					(input)="onNumeDestinatarValueChanged()" 
					[readonly]="numeDestinatarFormControl.disabled"/>
			</div>
			<div *ngIf="numeDestinatarFormControl.invalid && (numeDestinatarFormControl.dirty || numeDestinatarFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.REGISTRU_IESIRI_INTRARE" | translate}}<span *ngIf="!intrareFormControl.disabled">*</span>:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<app-registru-intrari-field formControlName="intrare" [inputData]="registruIntrariFieldInputData" (registruIntrariIdChanged)="onInRegisterEntryNumberChanged($event)"></app-registru-intrari-field>
			</div>
			<div *ngIf="intrareFormControl.invalid && (intrareFormControl.dirty || intrareFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.REGISTRU_IESIRI_DEPARTAMENT" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<input type="text" pInputText formControlName="departament" [readonly]="departamentFormControl.disabled"/>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.REGISTRU_IESIRI_NR_INREGISTRARE" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<input type="text" pInputText formControlName="nrInregistrare"/>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.REGISTRU_IESIRI_DATA_INREGISTRARE" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<p-calendar 
					[showIcon]="true"
					[dateFormat]="dateFormat"
					[monthNavigator]="true" 
					[yearNavigator]="true"
					[yearRange]="yearRange"
					formControlName="dataInregistrare"
					appendTo="body" 
					showButtonBar="true">
				</p-calendar>
			</div>			
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.COMISII_SAU_GL" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<app-nomenclator-value-field formControlName="comisie" [readonly]="comisieFormControl.disabled">
				</app-nomenclator-value-field>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.REGISTRU_IESIRI_OBSERVATII" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<input type="text" pInputText formControlName="observatii" [readonly]="observatiiFormControl.disabled"/>
			</div>			
		</div>

	</form>
	
	<p-footer>
		<p-button [label]="'LABELS.SAVE' | translate" (onClick)="onSave()" [disabled]="!saveActionEnabled"></p-button>
		<p-button [label]="'LABELS.CANCEL' | translate" (onClick)="onHide($event)"></p-button>
	</p-footer>
</p-dialog>