<p-dialog #pDialog [(visible)]="visible" [modal]="true" appendTo="body" 
		[contentStyle]="{'height':'70vh'}" [style]="{'width':'90vw','height':'auto'}" 
		(onShow)="onShow($event)" (onHide)="onHide($event)">
	<p-header>
		{{"LABELS.REPLACEMENT_PROFILE" | translate}} 
		<a [ngClass]="{'ui-dialog-titlebar-icon ui-corner-all':true}" style="position: absolute; right: 30px;"  tabindex="0" role="button" (click)="onToggleMinimize()" (keydown.enter)="onToggleMinimize()">
			<span [ngClass]="minimized ? 'pi pi-chevron-down' : 'pi pi-minus'"></span>
		</a>
	</p-header>
		<form [formGroup]="replacementProfilesForm"  class="ui-g ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid" [ngStyle]="{'height':'70vh'}">
			<div class="ui-g-12 ui-g-nopad ">
				<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.REQUESTER" | translate}}:</div>
				<div class="ui-g-12 ui-sm-12 ui-md-10">
					<app-user-selector (selectionChanged)="onSelectedRequesterUserProfilesChanged($event)" formControlName="requesterSelector"></app-user-selector>
				</div>
			</div>
			
			<div class="ui-g-12 ui-g-nopad ">
				<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.REPLACEMENT" | translate}}:</div>
				<div class="ui-g-12 ui-sm-12 ui-md-10">
					<app-user-selector formControlName="replacementSelector" labelDisplayMode="name-title" required></app-user-selector>
				</div>
			</div>
			<div *ngIf="replacementSelectorControl.invalid && replacementSelectorControl.touched" class="ui-g-12 ui-sm-12 ui-md-10 ui-md-offset-2">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
			
			<div class="ui-g-12 ui-g-nopad ">
				<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.PROFILES" | translate}}:</div>
				<div class="ui-g-12 ui-sm-12 ui-md-10">
					<p-multiSelect [options]="selectedRequesterUserProfiles" [filter]="false" [defaultLabel]="'LABELS.SELECT' | translate" 
						formControlName="selectedRequesterUserProfiles" optionLabel="title" required></p-multiSelect>
				</div>
			</div>
			<div *ngIf="selectedRequesterUserProfilesControl.invalid && selectedRequesterUserProfilesControl.touched" class="ui-g-12 ui-sm-12 ui-md-10 ui-md-offset-2">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
			
			<div class="ui-g-12 ui-g-nopad ">
				<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.COMMENTS" | translate}}:</div>
				<div class="ui-g-12 ui-sm-12 ui-md-10">
					<textarea pInputTextarea formControlName="comments"></textarea>
				</div>
			</div>
			
			<div class="ui-g-12 ui-g-nopad ">
				<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.START_DATE" | translate}}:</div>
				<div class="ui-g-12 ui-sm-12 ui-md-10">
					<p-calendar 
						[showIcon]="true"
						[dateFormat]="dateFormat"
						[monthNavigator]="true"
						[yearNavigator]="true"
						[yearRange]="yearRange"
						formControlName="startDate"
						readonlyInput="true"
						appendTo="body"
						required>
					</p-calendar>
				</div>
			</div>
			<div *ngIf="startDateControl.invalid && startDateControl.touched" class="ui-g-12 ui-sm-12 ui-md-10 ui-md-offset-2">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					<span *ngIf="startDateControl.errors['required']">{{'MESSAGES.REQUIRED' | translate}} </span>
					<span *ngIf="startDateControl.errors['startDateGreaterThanEndDate']">{{'MESSAGES.END_DATE_MUST_BE_GRATER_THAT_START_DATE' | translate}} </span>
				</div>
			</div>
			
			<div class="ui-g-12 ui-g-nopad">
				<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.END_DATE" | translate}}:</div>
				<div class="ui-g-12 ui-sm-12 ui-md-10">
					<p-calendar 
						[showIcon]="true"
						[dateFormat]="dateFormat"
						[monthNavigator]="true"
						[yearNavigator]="true"
						[yearRange]="yearRange"
						formControlName="endDate"
						readonlyInput="true"
						appendTo="body"
						required>
					</p-calendar>
				</div>
			</div>
			<div *ngIf="endDateControl.invalid && endDateControl.touched" class="ui-g-12 ui-sm-12 ui-md-10 ui-md-offset-2">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					<span *ngIf="endDateControl.errors['endDateLowerThanStartDate']">{{'MESSAGES.END_DATE_MUST_BE_GRATER_THAT_START_DATE' | translate}} </span>
				</div>
			</div>
			
			<div class="ui-g-12 ui-g-nopad ">
				<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.AVAILABLE_REPLACEMENT_PROFILES_IN_WHICH_REQUESTER_IS_REPLACEMENT" | translate}}:</div>
				<div class="ui-g-12 ui-sm-12 ui-md-10">
					<p-table 
							[(selection)]="selectedReplacementProfilesInWhichRequesterIsReplacement"
							[value]="availableReplacementProfilesInWhichRequesterIsReplacement"
							[resizableColumns]="true">
						<ng-template pTemplate="header" let-columns>
							<tr>
								<th style="width: 4em"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
								<th>{{"LABELS.REQUESTER" | translate }}</th>
								<th>{{"LABELS.REPLACEMENT" | translate }}</th>
								<th>{{"LABELS.START_DATE" | translate }}</th>
								<th>{{"LABELS.END_DATE" | translate }}</th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-rowData let-columns="columns">
							<tr [pSelectableRow]="rowData">
								<td><p-tableCheckbox [value]="rowData"></p-tableCheckbox></td>
								<td>{{rowData["requesterUsername"]}}</td>
								<td>{{rowData["replacementName"]}}</td>
								<td>{{rowData["startDateForDisplay"]}}</td>
								<td>{{rowData["endDateForDisplay"]}}</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
			</div>
			
			<div class="ui-g-12 ui-g-nopad ">
				<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.OUT_OF_OFFICE" | translate}}:</div>
				<div class="ui-g-12 ui-sm-12 ui-md-10">
					<p-checkbox formControlName="outOfOffice" binary="true"></p-checkbox>
				</div>
			</div>
			
			<div *ngIf="isOutOfOfficeChecked()" class="ui-g-12 ui-g-nopad ">
				<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.EMAIL_SUBJECT" | translate}}:</div>
				<div class="ui-g-12 ui-sm-12 ui-md-10">
					<input pInputText type="text" formControlName="outOfOfficeEmailSubjectTemplate" required/>
				</div>
			</div>
			<div *ngIf="isOutOfOfficeChecked() && (outOfOfficeEmailSubjectTemplateControl.invalid && outOfOfficeEmailSubjectTemplateControl.touched)" class="ui-g-12 ui-sm-12 ui-md-10 ui-md-offset-2">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
			
			<div *ngIf="isOutOfOfficeChecked()" class="ui-g-12 ui-g-nopad ">
				<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.EMAIL_BODY" | translate}}:</div>
				<div class="ui-g-12 ui-sm-12 ui-md-10">
					<textarea pInputTextarea formControlName="outOfOfficeEmailBodyTemplate" required></textarea>
				</div>
			</div>
			<div *ngIf="isOutOfOfficeChecked() && (outOfOfficeEmailBodyTemplateControl.invalid && outOfOfficeEmailBodyTemplateControl.touched)" class="ui-g-12 ui-sm-12 ui-md-10 ui-md-offset-2">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>

		</form>
	<p-footer>
		<p-button [label]="'LABELS.SAVE' | translate" (onClick)="onSaveAction()"></p-button>
		<p-button [label]="'LABELS.RETURNED' | translate" [disabled]="isModeNew()" (onClick)="onReturnedAction()"></p-button>
		<p-button [label]="'LABELS.CANCEL' | translate" (onClick)="onCancelAction()"></p-button>
	</p-footer>
</p-dialog>