<app-loading *ngIf="loadingVisible"></app-loading>
<p-dialog #pDialog [(visible)]="windowVisible" [modal]="true" appendTo="body" 
		[contentStyle]="{'height':'70vh'}" [style]="{'width':'90vw','height':'auto'}" 
		(onShow)="onShow($event)" (onHide)="onHide($event)">
	<p-header>
		{{ getHeaderTaskName() }} 
		<a [ngClass]="{'ui-dialog-titlebar-icon ui-corner-all':true}" style="position: absolute; right: 30px;"  tabindex="0" role="button" (click)="onToggleMinimize()" (keydown.enter)="onToggleMinimize()">
			<span [ngClass]="minimized ? 'pi pi-chevron-down' : 'pi pi-minus'"></span>
		</a>
	</p-header>
	<p-tabView [style]="{'height':'70vh'}">
		<p-tabPanel [header]="'LABELS.GENERAL' | translate" [selected]="true">
			<app-task-general-tab-content (projectSelected)="onProjectChanged($event)" [perspective]="perspective"></app-task-general-tab-content>
		</p-tabPanel>
		<p-tabPanel [header]="'LABELS.PROJECT_ASSIGNED_USER' | translate" [disabled]="perspective === 'edit' || perspective === 'view'">
			<app-task-assignment-tab-content [projectId]="selectedProjectId"></app-task-assignment-tab-content>
		</p-tabPanel>
	</p-tabView>
	<p-footer>
		<p-button (onClick)="onSaveAction($event)" [label]="'LABELS.SAVE' | translate" [disabled]="perspective === 'view'"></p-button>
		<p-button (onClick)="onCancelAction($event)" [label]="'LABELS.CANCEL' | translate"></p-button>
	</p-footer>
</p-dialog>

<app-messages-window *ngIf="messagesWindowVisible"
	[messages]="messagesWindowMessages"
	(windowClosed)="onMessagesWindowClosed($event)">
</app-messages-window>