<p-table [columns]="columns" 
        [value]="rowViews" 
        [(selection)]="selectedRowView"  
        [responsive]="true"
        [resizableColumns]="true"
        columnResizeMode="fit"
        [scrollable]="true"
        selectionMode="single" 
		scrollHeight="250px"
        [loading]="loading"
        (onRowSelect)="onRowSelect($event)"
        (onRowUnselect)="onRowUnSelect($event)">
    <ng-template pTemplate="colgroup" let-columns>
		<colgroup>
            <col style="width: 50px">
			<col *ngFor="let column of columns" style="width: auto">
		</colgroup>
	</ng-template>
    <ng-template pTemplate="caption" *ngIf="!readonly">
		<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-grid-row">
				<div class="ui-grid-col-12" style="text-align: left;">
					<p-button [disabled]="!addActionEnabled" (onClick)="onAddAction()" [label]="'LABELS.ADD' | translate"></p-button>
					<p-button [disabled]="!editActionEnabled" (onClick)="onEditAction()" [label]="'LABELS.EDIT' | translate"></p-button>
					<p-button [disabled]="!removeActionEnabled" (onClick)="onRemoveAction()" [label]="'LABELS.REMOVE' | translate"></p-button>
				</div>
			</div>
		</div>
	</ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th pResizableColumn>
                {{"LABELS.NO_CRT" | translate}}
            </th>
            <th pResizableColumn *ngFor="let column of columns">
                {{column.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
        <tr [pSelectableRow]="rowData">
            <td>{{index + 1}}</td>
            <td *ngFor="let column of columns">
                {{rowData.metadataValueByDefinitionId[column.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>

<app-admin-update-document-metadata-collection-window *ngIf="metadataCollectionWindowVisible"
    [inputData]="metadataCollectionWindowInputData"
    [maximized]="true"
    (saved)="onMetadataCollectionWindowSaved($event)"
    (canceled)="onMetadataCollectionWindowCanceled($event)">
</app-admin-update-document-metadata-collection-window>