<app-loading *ngIf="loadingVisible"></app-loading>
<div class="ui-g">
	<div class="ui-g-12">
		<p-button [label]="'LABELS.ADD' | translate" (onClick)="onAdd()" [disabled]="!addButtonEnabled"></p-button>
		<p-button [label]="'LABELS.EDIT' | translate" (onClick)="onEdit()" [disabled]="!editButtonEnabled"></p-button>
		<p-button [label]="'LABELS.VIEW' | translate" (onClick)="onView()" [disabled]="!viewButtonEnabled"></p-button>
		<p-button [label]="'LABELS.FINALIZE' | translate" (onClick)="onFinalize()" [disabled]="!finalizeButtonEnabled"></p-button>
		<p-button [label]="'LABELS.CANCEL' | translate" (onClick)="onCancel()" [disabled]="!cancelButtonEnabled"></p-button>
		<p-button [label]="'LABELS.REFRESH' | translate" (onClick)="onRefresh()" [disabled]="!refreshButtonEnabled"></p-button>
		<p-button [label]="'LABELS.EXPORT_CSV' | translate" (onClick)="onExportCSV()" [disabled]="!exportCSVButtonEnabled"></p-button>
	</div>
	<div class="ui-g-12">
		<app-registru-iesiri-selector [inputData]="registruIesiriSelectorInputData" (selectionChanged)="registruIesiriSelectionChanged($event)"></app-registru-iesiri-selector>
	</div>
</div>

<app-registru-iesiri-window *ngIf="registruIesiriWindowVisible" [registruId]="registruIesiriId" [nomenclatorIdByCode]="nomenclatorIdByCode" [mode]="registruIesiriMode"
		(windowClosed)="onRegistruIesiriWindowClosed()">
</app-registru-iesiri-window>

<app-anulare-registru-intrari-iesiri-window
		*ngIf="anulareRegistruIntrariIesiriWindowVisible"
		[inregistrare]="registruIesiriSelector.selectedData"
		tipRegistru="iesire"
		(windowClosed)="onAnulareRegistruIntrariIesiriWindowClosed($event)">
</app-anulare-registru-intrari-iesiri-window>

<app-confirmation-window *ngIf="confirmationWindowVisible"
	[messages]="getConfirmFinalizeMessages()"
	[confirmationCallback]="confirmFinalize()">
</app-confirmation-window>