<div class="ui-g">
	<div class="ui-g-12">
		<p-button [label]="'LABELS.PROJECT_NEW_TASK' | translate" (onClick)="onAddTask()"></p-button>
		<p-button [disabled]="!isTaskSelected()" [label]="'LABELS.PROJECT_VIEW_TASK' | translate" (onClick)="onViewTask()"></p-button>
		<p-button [disabled]="!isTaskSelected()" [label]="'LABELS.PROJECT_TASK_EDIT' | translate" (onClick)="onEditTask()"></p-button>
		<p-button [disabled]="completeTaskButtonDisabled()" [label]="'LABELS.PROJECT_COMPLETE_TASK' | translate" (onClick)="onShowCompleteTaskWindow()"></p-button>
		<p-button [disabled]="!isTaskSelected() || isCancelTaskButtonDisabled()" [label]="'LABELS.CANCEL' | translate" (onClick)="onCancelTask()"></p-button>
	</div>
	<div class="ui-g-12">
		<p-table #tasksTable [value]="tasks" 
			[(selection)]="selectedTask" 
			selectionMode="single"
			[scrollable]="true"
			[scrollHeight]="scrollHeight"
			[responsive]="true"
			sortField="projectId" 
			sortMode="single" 
			(onSort)="onSort()" 
			(onFilter)="onFilter($event)"
			(onRowSelect)="onRowSelect($event)"
			(onRowUnselect)="onRowUnselect($event)"> 
			
			<ng-template pTemplate="colgroup" let-columns>
				<colgroup>
					<col *ngFor="let column of columns" style="width:200px">
				</colgroup>
			</ng-template>
	
			<ng-template pTemplate="emptymessage">
				<tr>
					<td align="center" [attr.colspan]="columns.length">
						{{'LABELS.NO_RECORDS_FOUND' | translate}}
					</td>
				</tr>
			</ng-template>
	
			<ng-template pTemplate="header">
				<tr>
					<th *ngFor="let column of columns">
						{{ column.header | translate }}
					</th>
				</tr>
				<tr>
					<th *ngFor="let column of columns" [ngSwitch]="column.filterType">
						<div class="ui-g-12 ui-g-nopad">
							<input *ngSwitchCase="'TEXT'" pInputText type="text" style="width: 100%"
								(input)="tasksTable.filter($event.target.value, column.field, column.filterMatchMode)">
							<p-calendar *ngSwitchCase="'DATE'" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" [readonlyInput]="true"
								[dateFormat]="dateFormat" [yearRange]="yearRange" [yearRange]="yearRange" appendTo="body" showButtonBar="true"
								(onSelect)="tasksTable.filter($event, column.field, column.filterMatchMode)"
								(onClearClick)="tasksTable.filter('', column.field, column.filterMatchMode)" 
								[style]="{'max-width':'100%'}" [inputStyle]="{'max-width':'70%'}">
							</p-calendar>
							<p-dropdown *ngSwitchCase="'PRIORITY'" [options]="taskProritiesSelectItems" appendTo="body"
								filter="true" [style]="{'min-width' :'100%'}"
								(onChange)="tasksTable.filter($event.value, column.field, column.filterMatchMode)">
							</p-dropdown>
						</div>
					</th>
				</tr>
			</ng-template>
	
			<ng-template pTemplate="body" let-task let-rowIndex="rowIndex">
				<tr class="ui-widget-header" *ngIf="rowGroupMetadata[task.projectId].index === rowIndex">
					<td colspan="8">
						<span [ngStyle]="{'font-weight':'bold','font-size':'1.2em'}">{{"LABELS.PROJECT" | translate }}: {{task.data.project.name}}</span>
					</td>
				</tr>
				<tr class="ui-widget-header" *ngIf="tasks[rowIndex]?.subprojectName !== tasks[rowIndex - 1]?.subprojectName">
					<td colspan="8">
						<span [ngStyle]="{'font-weight':'bold'}">{{"LABELS.PROJECT_SUBACTIVITY" | translate }}: {{task.subprojectName}}</span>
					</td>
				</tr>
				<tr [pSelectableRow]="task" >
					<td *ngFor="let column of columns" [ngStyle]="task.style">
						<span *ngIf="column.field === 'startDate' || column.field === 'endDate'">
							{{task[column.field] | appDateFormater}}
						</span>
						<span *ngIf="column.field !== 'startDate' && column.field !== 'endDate'">
							{{task[column.field]}}
						</span>
					</td>
				</tr>
			</ng-template>
			
		</p-table>
	</div>
</div>

<app-complete-task [taskId]="selectedTask.id" *ngIf="completeTaskWindowVisible" (windowClosed)="onCompleteTaskWindowClosed($event)"></app-complete-task>
<app-task-window *ngIf="taskWindowVisible" (windowClosed)="onTaskWindowClosed($event)" [maximized]="true" [perspective]="taskWindowPerspective" [taskId]="selectedTask?.id"></app-task-window>
<app-view-task-window *ngIf="viewTaskWindowVisible" (windowClosed)="onViewTaskWindowClosed($event)" [maximized]="true" [taskId]="getSelectedTaskId()"></app-view-task-window>

<app-confirmation-window *ngIf="confirmationWindow.visible"
	[messages]="confirmationWindow.messages"
	[confirmationCallback]="confirmationWindow.callback">
</app-confirmation-window>