<app-loading *ngIf="loadingVisible"></app-loading>
<p-dialog #pDialog [(visible)]="windowVisible" [modal]="true" appendTo="body"
		[contentStyle]="{'height':'70vh'}" [style]="{'width':'90vw','height':'auto'}" 
		(onShow)="onShow($event)" (onHide)="onHide($event)">
	<p-header>
		<span>{{"LABELS.DRIVERS" | translate}}</span>
		<a [ngClass]="{'ui-dialog-titlebar-icon ui-corner-all':true}" style="position: absolute; right: 30px;"  tabindex="0" role="button" (click)="onToggleMinimize()" (keydown.enter)="onToggleMinimize()">
			<span [ngClass]="minimized ? 'pi pi-chevron-down' : 'pi pi-minus'"></span>
		</a>
	</p-header>
	
	<form [formGroup]="form" [ngStyle]="{'height':'70vh'}">
		
    <div class="ui-g ui-fluid">
			<div class="ui-g-3 ui-sm-12 ui-md-4">{{"LABELS.FIRST_NAME" | translate}}*:</div>
			<div class="ui-g-9 ui-sm-12 ui-md-8">
				<input pInputText formControlName="firstName" type="text"/>
			</div>
			<div *ngIf="firstNameFormControl.invalid && (firstNameFormControl.dirty || firstNameFormControl.touched)" class="ui-g-12">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

    <div class="ui-g ui-fluid">
			<div class="ui-g-3 ui-sm-12 ui-md-4">{{"LABELS.LAST_NAME" | translate}}*:</div>
			<div class="ui-g-9 ui-sm-12 ui-md-8">
				<input pInputText formControlName="lastName" type="text"/>
			</div>
			<div *ngIf="lastNameFormControl.invalid && (lastNameFormControl.dirty || lastNameFormControl.touched)" class="ui-g-12">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

    <div class="ui-g ui-fluid">
			<div class="ui-g-3 ui-sm-12 ui-md-4">{{"LABELS.EMAIL" | translate}}:</div>
			<div class="ui-g-9 ui-sm-12 ui-md-8">
				<input pInputText formControlName="email" type="text"/>
			</div>
		</div>

    <div class="ui-g ui-fluid">
			<div class="ui-g-3 ui-sm-12 ui-md-4">{{"LABELS.PASSWORD" | translate}}:</div>
			<div class="ui-g-9 ui-sm-12 ui-md-8">
				<input pInputText formControlName="password" type="text"/>
			</div>
		</div>

    <div class="ui-g ui-fluid">
			<div class="ui-g-3 ui-sm-12 ui-md-4">{{"LABELS.USERNAME" | translate}}:</div>
			<div class="ui-g-9 ui-sm-12 ui-md-8">
				<input pInputText formControlName="username" type="text"/>
			</div>
      <div *ngIf="usernameFormControl.invalid && (usernameFormControl.dirty || usernameFormControl.touched)" class="ui-g-12">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

    <div class="ui-g ui-fluid">
			<div class="ui-g-3 ui-sm-12 ui-md-4">{{"LABELS.PHONE" | translate}}*:</div>
			<div class="ui-g-9 ui-sm-12 ui-md-8">
				<input pInputText formControlName="mobile" type="text"/>
			</div>
			<div *ngIf="mobileFormControl.invalid && (mobileFormControl.dirty || mobileFormControl.touched)" class="ui-g-12">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

    <div class="ui-g ui-fluid">
			<div class="ui-g-3 ui-sm-12 ui-md-4">{{"LABELS.BIRTH_DATE" | translate}}*:</div>
			<div class="ui-g-9 ui-sm-12 ui-md-8">
        <p-calendar 
						[showIcon]="true"
						[dateFormat]="dateFormat"
						[monthNavigator]="true"
						[yearNavigator]="true"
						[yearRange]="yearRange"
						[style]="{'width' :'100%'}"
						formControlName="birthDate"
						readonlyInput="true"
						appendTo="body"
						showButtonBar="true">
				</p-calendar>
			</div>
			<div *ngIf="birthDateFormControl.invalid && (birthDateFormControl.dirty || birthDateFormControl.touched)" class="ui-g-12">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

    <div class="ui-g ui-fluid">
			<div class="ui-g-3 ui-sm-12 ui-md-4">{{"LABELS.DRIVER_LICENCE_NUMBER" | translate}}*:</div>
			<div class="ui-g-9 ui-sm-12 ui-md-8">
				<input pInputText formControlName="licenceNumber" type="text"/>
			</div>
			<div *ngIf="licenceNumberFormControl.invalid && (licenceNumberFormControl.dirty || licenceNumberFormControl.touched)" class="ui-g-12">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

    <div class="ui-g ui-fluid">
			<div class="ui-g-3 ui-sm-12 ui-md-4">{{"LABELS.DRIVER_EXPIRY_DATE" | translate}}*:</div>
			<div class="ui-g-9 ui-sm-12 ui-md-8">
        <p-calendar 
						[showIcon]="true"
						[dateFormat]="dateFormat"
						[monthNavigator]="true"
						[yearNavigator]="true"
						[yearRange]="yearRange"
						[style]="{'width' :'100%'}"
						formControlName="expiryDate"
						readonlyInput="true"
						appendTo="body"
						showButtonBar="true">
				</p-calendar>
			</div>
			<div *ngIf="expiryDateFormControl.invalid && (expiryDateFormControl.dirty || expiryDateFormControl.touched)" class="ui-g-12">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

    <div class="ui-g ui-fluid">
			<div class="ui-g-3 ui-sm-12 ui-md-4">{{"LABELS.DRIVER_LAST_MED_EXAM" | translate}}*:</div>
			<div class="ui-g-9 ui-sm-12 ui-md-8">
        <p-calendar 
						[showIcon]="true"
						[dateFormat]="dateFormat"
						[monthNavigator]="true"
						[yearNavigator]="true"
						[yearRange]="yearRange"
						[style]="{'width' :'100%'}"
						formControlName="lastMedExam"
						readonlyInput="true"
						appendTo="body"
						showButtonBar="true">
				</p-calendar>
			</div>
			<div *ngIf="lastMedExamFormControl.invalid && (lastMedExamFormControl.dirty || lastMedExamFormControl.touched)" class="ui-g-12">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

	</form>

	<p-footer>
		<p-button (onClick)="onSaveAction($event)" [label]="'LABELS.SAVE' | translate"></p-button>
		<p-button (onClick)="onCloseAction($event)" [label]="'LABELS.CLOSE' | translate"></p-button>
	</p-footer>
</p-dialog>