<p-table
		[value]="cheltuieliReprezentantArb" 
		[(selection)]="selectedCheltuialaReprezentantArb" 
		[responsive]="true"
		[resizableColumns]="true"
		[scrollable]="true"
		[scrollHeight]="scrollHeight"
		columnResizeMode="fit"
		selectionMode="single" 
		(onRowSelect)="onRowSelect($event)"
		(onRowUnselect)="onRowUnSelect($event)">
	<ng-template pTemplate="caption">
		<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-grid-row">
				<div class="ui-grid-col-12" style="text-align: left;">
					<p-button [disabled]="addActionEnabled" (onClick)="onAddAction()" [label]="'LABELS.ADD' | translate"></p-button>
					<p-button [disabled]="!editActionEnabled" (onClick)="onEditAction()" [label]="'LABELS.EDIT' | translate"></p-button>
					<p-button [disabled]="!viewActionEnabled" (onClick)="onViewAction()" [label]="'LABELS.VIEW' | translate"></p-button>
					<p-button [disabled]="!removeActionEnabled" (onClick)="onRemoveAction()" [label]="'LABELS.DELETE' | translate"></p-button>
				</div>
			</div>
		</div>
	</ng-template>
	<ng-template pTemplate="header">
		<tr>
			<th>{{"LABELS.CHELTUIELI_REPREZENTANT_ARB_VALUTA" | translate}}</th>
			<th>{{"LABELS.CHELTUIELI_REPREZENTANT_ARB_CURS_VALUTAR" | translate}}</th>
			<th>{{"LABELS.CHELTUIELI_ARB_CURS_MODALITATE_DE_PLATA" | translate}}</th>
			<th>{{"LABELS.CHELTUIELI_REPREZENTANT_ARB_NUMAR_DOCUMENT_JUSTIFICATIV" | translate}}</th>
			<th>{{"LABELS.CHELTUIELI_REPREZENTANT_ARB_DATA_DOCUMENT_JUSTIFICATIV" | translate}}</th>
			<th>{{"LABELS.CHELTUIELI_REPREZENTANT_ARB_TIP_DOCUMENT_JUSTIFICATIV" | translate}}</th>
			<th>{{"LABELS.CHELTUIELI_REPREZENTANT_ARB_VALOARE" | translate}}</th>
			<th>{{"LABELS.CHELTUIELI_REPREZENTANT_ARB_EXPLICATIE" | translate}}</th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-rowData>
		<tr [pSelectableRow]="rowData">
			<td>{{ 'LABELS.' + rowData["valuta"] | translate }}</td>
			<td>{{ rowData["cursValutar"] | number:'1.2-2'}}</td>
			<td>{{ 'LABELS.' + rowData["modalitatePlata"] | translate }}</td>
			<td>{{ rowData["numarDocumentJustificativ"] }}</td>
			<td>{{ rowData["dataDocumentJustificativ"] | appDateFormater}}</td>
			<td>{{ 'LABELS.' + rowData["tipDocumentJustificativ"] | translate }}</td>
			<td>{{ rowData["valoareCheltuiala"]  | number:'1.2-2'}}</td>
			<td>{{ rowData["explicatie"] }}</td>
		</tr>
	</ng-template>
	<ng-template pTemplate="emptymessage">
		<tr>
			<td>
				{{ 'LABELS.NO_RECORDS_FOUND' | translate }}
			</td>
		</tr>
	</ng-template>

	 <ng-template pTemplate="footer">
        <tr>
            <td colspan="2">{{"LABELS.TOTAL" | translate}}: {{totalCosturi | number:'1.2-2'}}</td>
            <td>{{"LABELS.RON" | translate}}: {{totalCosturiInRon | number:'1.2-2'}}</td>
            <td>{{"LABELS.EUR" | translate}}: {{totalCosturiInEur | number:'1.2-2'}}</td>
            <td>{{"LABELS.USD" | translate}}: {{totalCosturiInUsd | number:'1.2-2'}}</td>
        </tr>
    </ng-template>
</p-table>

<app-cheltuieli-reprezentant-arb-window *ngIf="cheltuieliReprezentantArbWindowVisible" 
	[mode]="cheltuieliReprezentantArbWindowMode" 
	[dataDecont]="cheltuieliReprezentantArbWindowDataDecont"
	[cheltuiala]="cheltuieliReprezentantArbWindowSelectedCheltuialaReprezentantArb" 
	[cheltuialaId]="cheltuieliReprezentantArbWindowCheltuialaReprezentantArbId" 
	(windowClosed)="onCheltuieliReprezentantArbWindowClosed()" (dataSaved)="onCheltuieliReprezentantArbWindowDataSaved($event)">
</app-cheltuieli-reprezentant-arb-window>