<app-loading *ngIf="loadingVisible"></app-loading>
<div class="ui-g">
	<div class="ui-g-12">
		<p-button [label]="'LABELS.ADD' | translate" (onClick)="onAdd($event)" [disabled]="!addButtonEnabled"></p-button>
		<p-button [label]="'LABELS.EDIT' | translate" (onClick)="onEdit($event)" [disabled]="!editButtonEnabled"></p-button>
		<p-button [label]="'LABELS.VIEW' | translate" (onClick)="onView($event)" [disabled]="!viewButtonEnabled"></p-button>
		<p-button [label]="'LABELS.FINALIZE' | translate" (onClick)="onFinalize()" [disabled]="!finalizeButtonEnabled"></p-button>
		<p-button [label]="'LABELS.CANCEL' | translate" (onClick)="onCancel($event)" [disabled]="!cancelButtonEnabled"></p-button>
		<p-button [label]="'LABELS.REFRESH' | translate" (onClick)="onRefresh($event)" [disabled]="!refreshButtonEnabled"></p-button>
		<p-button [label]="'LABELS.EXPORT_CSV' | translate" (onClick)="onExportCSV($event)" [disabled]="!exportCSVButtonEnabled"></p-button>
	</div>

	<div class="ui-g-12">
		<app-registru-intrari-selector [inputData]="registruIntrariSelectorInputData" (selectionChanged)="registruIntrariSelectionChanged($event)"></app-registru-intrari-selector>
	</div>
</div>

<app-registru-intrari-window
		*ngIf="registruIntrariWindowVisible"
		[mode]="registruIntrariWindowMode"
		[registruId]="registruIntrariId"
		[nomenclatorIdByCode]="nomenclatorIdByCode"
		(windowClosed)="onRegistruIntrariWindowClosed($event)">
</app-registru-intrari-window>

<app-anulare-registru-intrari-iesiri-window
		*ngIf="anulareRegistruIntrariIesiriWindowVisible"
		[inregistrare]="registruIntrariSelectorComponent.selectedData"
		tipRegistru="intrare"
		(windowClosed)="onAnulareRegistruIntrariIesiriWindowClosed($event)">
</app-anulare-registru-intrari-iesiri-window>

<app-confirmation-window *ngIf="confirmationWindowVisible"
	[messages]="getConfirmFinalizeMessages()"
	[confirmationCallback]="confirmFinalize()">
</app-confirmation-window>