<p-table
		#documentDataTable 
		[(selection)]="selectedDocument"
		[style]="gridStyle"
		[columns]="columns"
		[value]="documentsPage.items"
		[paginator]="true"
		[rows]="documentsPage.pageSize"
		[totalRecords]="documentsPage.totalItems"
		[lazy]="true"
		[responsive]="true"
		[resizableColumns]="true"
		[scrollable]="true"
		[scrollHeight]="scrollHeight"
		(onLazyLoad)="onLazyLoad($event)"
		(onRowSelect)="onDocumentSelect($event)"
		(onRowUnselect)="onDocumentUnselect($event)"
		columnResizeMode="expand"
		selectionMode="single">
		
	<ng-template pTemplate="colgroup" let-columns>
		<colgroup>
			<col *ngFor="let column of columns" style="width:200px">
		</colgroup>
	</ng-template>
	<ng-template pTemplate="header" let-columns>
		<tr>
			<th *ngFor="let column of columns" pResizableColumn>
				{{column.header | translate}}
			</th>
		</tr>
		<tr>
			<th *ngFor="let column of columns" [ngSwitch]="column.filterType">
				<input *ngSwitchCase="'TEXT'" 
						pInputText type="text" 
						(input)="documentDataTable.filter($event.target.value, column.filterField)">
				<input *ngSwitchCase="'AUTO_NUMBER'" 
						pInputText type="text" 
						(input)="documentDataTable.filter($event.target.value, column.filterField )">
				<input *ngSwitchCase="'TEXT_AREA'" 
						pInputText type="text" 
						(input)="documentDataTable.filter($event.target.value, column.filterField )">
				<input *ngSwitchCase="'NUMERIC'" 
						pInputText type="number" 
						pKeyFilter="num" 
						(input)="documentDataTable.filter($event.target.value, column.filterField )">
				<p-calendar *ngSwitchCase="'DATE'" 
						[showIcon]="true" 
						[monthNavigator]="true" 
						[yearNavigator]="true" 
						[readonlyInput]="true"
						[dateFormat]="dateFormat" 
						[yearRange]="yearRange"
						appendTo="body" 
						showButtonBar="true" 
						[style]="{'width' :'auto'}"
						(onSelect)="documentDataTable.filter($event, column.filterField )"
						(onClearClick)="documentDataTable.filter('', column.filterField )">
				</p-calendar>
				<p-calendar *ngSwitchCase="'DATE_TIME'" 
						[showIcon]="true" 
						[monthNavigator]="true" 
						[yearNavigator]="true" 
						[readonlyInput]="true"
						[dateFormat]="dateFormat" 
						[yearRange]="yearRange"
						appendTo="body" 
						showButtonBar="true" 
						[style]="{'width' :'auto'}"
						(onSelect)="documentDataTable.filter($event, column.filterField )"
						(onClearClick)="documentDataTable.filter('', column.filterField )">
				</p-calendar>
				<p-calendar *ngSwitchCase="'MONTH'"
						view="month" 
						[dateFormat]="monthFormat" 
						[yearNavigator]="true" 
						[yearRange]="yearRange"
						appendTo="body" 
						showButtonBar="true" 
						[style]="{'width' :'auto'}"
						(onSelect)="documentDataTable.filter($event, column.filterField )"
						(onClearClick)="documentDataTable.filter('', column.filterField)">
				</p-calendar>
				<p-dropdown *ngSwitchCase="'BOOLEAN'" 
						[options]="booleanSelectItems" 
						[placeholder]="'LABELS.SELECT' | translate"
						appendTo="body"
						[style]="{'width' :'100%'}" 
						[showClear]="true"
						(onChange)="documentDataTable.filter($event.value, column.filterField)">
				</p-dropdown>

				<app-nomenclator-value-field *ngSwitchCase="'NOMENCLATOR'"
						[(ngModel)]="nomenclatorValueByColumnName[column.field]"
						(valueChanged)="documentDataTable.filter($event.value, column.filterField)">
				</app-nomenclator-value-field>
				
				<app-user-selector  *ngSwitchCase="'USER'" 
					(selectionChanged)="documentDataTable.filter($event, column.filterField)">
				</app-user-selector>
				
				<p-dropdown  *ngSwitchCase="'LIST'" 
						[options]="listItemsByColumnName[column.field]" 
						[placeholder]="'LABELS.SELECT' | translate"
						appendTo="body"
						[style]="{'width' :'100%'}" 
						[showClear]="true"
						filter="true"
						(onChange)="documentDataTable.filter($event.value, column.filterField)">
				</p-dropdown >

				<p-dropdown  *ngSwitchCase="'PROJECT'" 
						[options]="projectSelectItems"  
						[placeholder]="'LABELS.SELECT' | translate"
						appendTo="body"
						[style]="{'width' :'100%'}" 
						[showClear]="true"
						filter="true"
						(onChange)="documentDataTable.filter($event.value, column.filterField)">
				</p-dropdown>

				<p-dropdown  *ngSwitchCase="'STATUS'" 
						[options]="statusSelectItems"  
						[placeholder]="'LABELS.SELECT' | translate"
						appendTo="body"
						[style]="{'width' :'100%'}" 
						[showClear]="true"
						(onChange)="documentDataTable.filter($event.value, column.filterField)">
				</p-dropdown>
			</th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-rowData let-columns="columns">
		<tr [pSelectableRow]="rowData">
			<td *ngFor="let column of columns">
				<span *ngIf="isDocumentLockColumn(column)">
					<span [pTooltip]="getMessageForLockedDocument(rowData)" tooltipPosition="bottom" *ngIf="rowData[column.field] === true">
						<i class="fa fa-lock"></i>
					</span>
					<span [pTooltip]="getMessageForUnlockedDocument(rowData)" tooltipPosition="bottom" *ngIf="rowData[column.field] === false">
						<i class="fa fa-unlock-alt"></i>
					</span>
				</span>
				<span *ngIf="isDocumentStatusColumn(column)">
					<span> {{getMessageForStatusDocument(rowData) }}
					</span>
				</span>
				<span *ngIf="!isDocumentLockColumn(column) && !isDocumentStatusColumn(column)">
					{{rowData[column.field]}}
				</span>
			</td>
		</tr>
	</ng-template>
	
	<ng-template pTemplate="emptymessage">
		<tr>
			<td align="center" [attr.colspan]="columns.length + 1">
				{{'LABELS.NO_RECORDS_FOUND' | translate}}
			</td>
		</tr>
	</ng-template>
</p-table>