<div class="ui-g">
	<div class="ui-g-12">
		<p-button [label]="'LABELS.ADD' | translate" (onClick)="onAdd()"></p-button>
		<p-button [label]="'LABELS.EDIT' | translate" [disabled]="!isWorkflowSelected()" (onClick)="onEdit()"></p-button>
		<p-button [label]="'LABELS.DELETE' | translate" [disabled]="!isWorkflowSelected()" (onClick)="onRemove()"></p-button>
		<p-button [label]="'LABELS.VIEW_GRAPH' | translate" [disabled]="!isWorkflowSelected()" (onClick)="onViewGraph()"></p-button>
		<p-button [label]="'LABELS.ADD_VERSION_REVISION' | translate" [disabled]="!isWorkflowSelected()" (onClick)="onAddVersion()"></p-button>
		<p-button [label]="'LABELS.REFRESH' | translate" (onClick)="onRefresh()"></p-button>
	</div>
	<div class="ui-g-12">
		<p-table [value]="workflows" [loading]="isLoading" [(selection)]="selectedWorkflow" selectionMode="single" sortField="name"
				[scrollable]="true" [scrollHeight]="scrollHeight">
			<ng-template pTemplate="colgroup">
				<colgroup>
					<col style="width: 40%">
					<col style="width: 15%">
					<col style="width: 15%">
					<col style="width: 30%">
				</colgroup>
			</ng-template>
			<ng-template pTemplate="header">
				<tr>
					<th>{{"LABELS.WORKFLOW" | translate}}</th>
					<th>{{"LABELS.WORKFLOW_VERSION" | translate}}</th>
					<th>{{"LABELS.DESCRIPTION" | translate}}</th>
					<th>{{"LABELS.WORKFLOW_ASSOCIATED_DOCUMENT_TYPES" | translate}}</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-workflow>
				<tr [pSelectableRow]="workflow">
					<td>{{workflow.name}}</td>
					<td>{{workflow.versionNumber}}</td>
					<td>{{workflow.description}}</td>
					<td>{{workflow.displayDocumentTypes}}</td>
				</tr>
			</ng-template>
		</p-table>
	</div>
</div>
	
<app-workflow-window
	*ngIf="workflowWindowVisible"
	[mode]="workflowWindowMode"
	[workflowId]="selectedWorkflowId"
	(windowClosed)="onWorkflowWindowClosed($event)"
	(dataSaved)="onWorkflowSaved($event)">
</app-workflow-window>

<app-workflow-graph-window
	*ngIf="workflowGraphWindowVisible"
	[workflowId]="selectedWorkflowId"
	(windowClosed)="onWorkflowGraphWindowClosed($event)">
</app-workflow-graph-window>