
<app-loading *ngIf="loadingVisible"></app-loading>
<div class="ui-g-12">
	<p-button [label]="'LABELS.ADD' | translate" (onClick)="onAddNomenclatorData($event)" [disabled]="!addButtonEnabled"></p-button>
	<p-button [label]="'LABELS.EDIT' | translate" (onClick)="onEditNomenclatorData($event)" [disabled]="!editButtonEnabled"></p-button>
	<p-button [label]="'LABELS.VIEW' | translate" (onClick)="onViewNomenclatorData($event)" [disabled]="!viewButtonEnabled"></p-button>
	<p-button [label]="'LABELS.DELETE' | translate" (onClick)="onDeleteNomenclatorData($event)" [disabled]="!deleteButtonEnabled"></p-button>
	<p-button [label]="'LABELS.REFRESH' | translate" (onClick)="onRefreshNomenclatorData($event)" [disabled]="!refreshButtonEnabled"></p-button>
	<p-button [label]="'LABELS.EXPORT_CSV' | translate" (onClick)="onExportCSVNomenclatorData($event)" [disabled]="!exportCSVButtonEnabled"></p-button>
	
	<!-- Custom Tools -->
	<p-button *ngFor="let customTool of customTools" [label]="('LABELS.' + customTool.labelCode) | translate" (onClick)="customTool.handle()" [disabled]="!customTool.enabled"></p-button>
	
	<app-nomenclator-data-window *ngIf="nomenclatorWindowVisible"
		[inputData]="nomenclatorWindowInputData"
		[mode]="nomenclatorWindowMode"
		(windowClosed)="onNomenclatorWindowClosed($event)">
	</app-nomenclator-data-window>
</div>

<app-confirmation-window *ngIf="confirmationWindow.visible"
	[messages]="confirmationWindow.messages"
	[confirmationCallback]="confirmationWindow.callback">
</app-confirmation-window>


