<div class="ui-g-12 ui-md-5 ui-lg-5">
	<p-accordion>
		<p-accordionTab [header]="'LABELS.ORGANIZATIONAL_STRUCTURE' | translate" selected="true">
			<app-organization-selector 
					selectionMode="multiple" 
					[selectableEntityTypes]="['user', 'ou']"
					(selectionChanged)="onOrganizationSelectionChanged($event)" 
					(dataLoaded)="onOrganizationSelectorDataLoaded($event)">
			</app-organization-selector>
		</p-accordionTab>
		<p-accordionTab [header]="'LABELS.GROUPS' | translate">
			<app-group-selector (selectionChanged)="onGroupSelectionChanged($event)" (dataLoaded)="onGroupSelectorDataLoaded($event)"></app-group-selector>
		</p-accordionTab>
	</p-accordion>
</div>

<div class="ui-g-12 ui-md-2 ui-lg-2">
	<div class="ui-g-12">
		<p-button [label]="'LABELS.ADD' | translate" [disabled]="readonly" (onClick)="onAddPermission($event)">
		</p-button>
	</div>
	<div class="ui-g-12">
		<p-button [label]="'LABELS.REMOVE' | translate" [disabled]="readonly" (onClick)="onDeletePermission()"
			styleClass="ui-button-danger">
		</p-button>
	</div>
</div>

<div class="ui-g-12 ui-md-5 ui-lg-5">
	<app-permission-list
			[readonly]="readonly"
			[permissions]="permissions"
			[activateDefaultPermissions]="activateDefaultPermissions">
	</app-permission-list>
</div>