<p-dialog #pDialog [(visible)]="visible" [modal]="true" appendTo="body" 
		[contentStyle]="{'height':'70vh'}" [style]="{'width':'90vw','height':'auto'}" 
		(onShow)="onShow($event)" (onHide)="onHide($event)">
	<p-header>
		{{"LABELS.WORKSPACE" | translate}} 
		<a [ngClass]="{'ui-dialog-titlebar-icon ui-corner-all':true}" style="position: absolute; right: 30px;"  tabindex="0" role="button" (click)="onToggleMinimize()" (keydown.enter)="onToggleMinimize()">
			<span [ngClass]="minimized ? 'pi pi-chevron-down' : 'pi pi-minus'"></span>
		</a>
	</p-header>
	<p-tabView [style]="{'height':'70vh'}">
		<p-tabPanel [header]="'LABELS.GENERAL' | translate" [selected]="true">
			<app-document-location-general-tab-content [mode]="mode" [name]="documentLocation.name" [description]="documentLocation.description"
					*ngIf="tabContentVisible">
			</app-document-location-general-tab-content>
		</p-tabPanel>		
		<p-tabPanel [header]="'LABELS.SECURITY' | translate">
			<app-document-location-security-tab-content [mode]="mode" [permissions]="documentLocation.permissions" *ngIf="tabContentVisible">
			</app-document-location-security-tab-content>
		</p-tabPanel>
	</p-tabView>
	<p-footer>
		<p-button [label]="'LABELS.SAVE' | translate" (onClick)="onSave()"></p-button>
		<p-button [label]="'LABELS.CANCEL' | translate" (onClick)="onHide($event)"></p-button>
	</p-footer>
</p-dialog>