<span *ngIf="!tableVisible">{{'MESSAGES.LOADING' | translate}}</span>
<p-table *ngIf="tableVisible" 
		#nomenclatorDataTable 
		[(selection)]="selectedData" 
		[columns]="columns" 
		[value]="pageData.items" 
		[lazy]="true"
		[first]="pageOffset" 
		[paginator]="true" 
		[totalRecords]="pageData.totalItems" 
		[rows]="pageData.pageSize"
		[selectionMode]="selectionMode" 
		[scrollable]="true" 
		[scrollHeight]="scrollHeight"
		[responsive]="true"
		[rowsPerPageOptions]="rowsPerPageOptions" 
		[loading]="dataLoading"
		autoLayout="true"
		(onLazyLoad)="onLazyLoad($event)"
		(onRowSelect)="onDataSelected($event)"
		(onRowUnselect)="onDataUnselected($event)">
	<ng-template pTemplate="colgroup" let-columns>
		<colgroup>
			<col style="width: 50px">
			<col *ngFor="let column of columns" style="width: 250px">
		</colgroup>
	</ng-template>
	<ng-template pTemplate="header" let-columns>
		<tr>
			<th>
				{{"LABELS.NO_CRT" | translate}}
			</th>
			<th *ngFor="let column of columns" [pSortableColumn]="column.field">
				{{column.header}}
				<p-sortIcon [field]="column.field"></p-sortIcon>
			</th>
		</tr>
		<tr>
			<th></th>		
			<th *ngFor="let column of columns" [ngSwitch]="column.filterType">
				<input *ngSwitchCase="'TEXT'" 
						pInputText type="text" 
						[disabled]="!column.filter"
						(input)="nomenclatorDataTable.filter($event.target.value, column.field, column.filterMatchMode)">
				<input *ngSwitchCase="'NUMERIC'" 
						pInputText type="text" 
						pKeyFilter="num" 
						[disabled]="!column.filter"
						(input)="nomenclatorDataTable.filter($event.target.value, column.field, column.filterMatchMode)">
				<p-calendar *ngSwitchCase="'DATE'" 
						[showIcon]="true" 
						[monthNavigator]="true" 
						[yearNavigator]="true" 
						[readonlyInput]="true"
						[dateFormat]="dateFormat" 
						[yearRange]="yearRange"
						appendTo="body" 
						showButtonBar="true" 
						[style]="{'width' :'auto'}"
						[disabled]="!column.filter"
						(onSelect)="nomenclatorDataTable.filter($event, column.field, column.filterMatchMode)"
						(onClearClick)="nomenclatorDataTable.filter('', column.field, column.filterMatchMode)">
				</p-calendar>
				<p-selectButton *ngSwitchCase="'BOOLEAN'" 
						[options]="booleanFilterTypes" 
						[multiple]="true"
						[disabled]="!column.filter"
						(onChange)="nomenclatorDataTable.filter($event.value, column.field, column.filterMatchMode)">
				</p-selectButton>
				<p-multiSelect *ngSwitchCase="'NOMENCLATOR'" 
						[options]="nomenclatorFilterData[column.field]" 
						appendTo="body"
						[style]="{'width' :'100%'}" 
						maxSelectedLabels="1" 
						[disabled]="!column.filter"
						(onChange)="nomenclatorDataTable.filter($event.value, column.field, column.filterMatchMode)">
				</p-multiSelect>
			</th>
		</tr>
	</ng-template>

	<ng-template pTemplate="emptymessage">
		<tr>
			<td align="center" [attr.colspan]="columns.length + 1">
				{{'LABELS.NO_RECORDS_FOUND' | translate}}
			</td>
		</tr>
	</ng-template>
	
	<ng-template pTemplate="body" let-nomenclatorData let-index="rowIndex" let-columns="columns">
		<tr [pSelectableRow]="nomenclatorData">
			<td>{{index + 1}}</td>
			<td *ngFor="let column of columns">
				<span *ngIf="column.filterType === 'BOOLEAN'">
					<span *ngIf="nomenclatorData[column.field] === 'true'">
						{{"LABELS.YES" | translate}}
					</span>
					<span *ngIf="nomenclatorData[column.field] === 'false'">
						{{"LABELS.NO" | translate}}
					</span>
				</span>	
				<span *ngIf="column.filterType === 'DATE'">
					{{nomenclatorData[column.field] | appDateFormatterFromStorageFormat}}
				</span>	
				<span *ngIf="column.filterType !== 'BOOLEAN' && column.filterType !== 'DATE'">
					{{nomenclatorData[column.field]}}
				</span>			
			</td>
		</tr>
	</ng-template>
</p-table>