<div *ngIf="singleSelection" class="ui-inputgroup">
	<input type="text" pInputText [(ngModel)]="documentUiValue" [placeholder]="placeholder" [readonly]="true">
	<button pButton type="button" *ngIf="clearEnabled" icon="fa fa-close" class="ui-button-secondary" (click)="onClear()"></button>			
	<button pButton type="button" *ngIf="viewDocumentEnabled" icon="fa fa-eye" class="ui-button-secondary" (click)="onViewDocument()"></button>			
	<button pButton type="button" label="..." [disabled]="!selectEnabled" (click)="onSelect()"></button> 
</div>

<p-table *ngIf="multipleSelection"
		[value]="documentUiValues" 
		[(selection)]="selectedDocument" 
		[responsive]="true"
		[resizableColumns]="true"
		[scrollable]="true"
		[loading]="loading"
		columnResizeMode="fit"
		selectionMode="single" 
		scrollHeight="200px"
		(onRowSelect)="onDocumentSelect()"
		(onRowUnselect)="onDocumentUnselect()">
	<ng-template pTemplate="caption">
		<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-grid-row">
				<div class="ui-grid-col-12" style="text-align: left;">
					<p-button [disabled]="!selectEnabled" (onClick)="onSelect()" label="..."></p-button>
					<p-button [disabled]="!clearEnabled" (onClick)="onClear()" [label]="'LABELS.DELETE' | translate"></p-button>
					<p-button [disabled]="!viewDocumentEnabled" (onClick)="onViewDocument()" icon="fa fa-eye"></p-button>
				</div>
			</div>
		</div>
	</ng-template>
	<ng-template pTemplate="body" let-document let-index="rowIndex">
		<tr [pSelectableRow]="document">
			<td>{{(index + 1)}}. {{document.documentName}}</td>
		</tr>
	</ng-template>
	<ng-template pTemplate="emptymessage">
		<tr>
			<td>{{ 'LABELS.METADATA_DOCUMENT_NO_VALUE' | translate }}</td>
		</tr>
	</ng-template>
</p-table>

<app-document-selection-window *ngIf="documentSelectionWindowVisible"
	[selectionMode]="documentSelectionWindowSelectionMode"
	[inputData]="documentSelectionWindowInputData"
	[maximized]="true"
	(valuesSelected)="onDocumentSelectionWindowValuesSelected($event)"
	(windowClosed)="onDocumentSelectionWindowWindowClosed($event)">
</app-document-selection-window>

<app-document-window *ngIf="viewDocumentWindowVisible" 
	[inputData]="viewDocumentWindowInputData" 
	[mode]="viewDocumentWindowMode" 
	[maximized]="true"
	(windowClosed)="onViewDocumentWindowClosed($event)">
</app-document-window>