<app-loading *ngIf="loadingVisible"></app-loading>
<p-dialog #pDialog [(visible)]="windowVisible" [modal]="true" appendTo="body"
		[contentStyle]="{'height':'70vh'}" [style]="{'width':'90vw','height':'auto'}" 
		(onShow)="onShow($event)" (onHide)="onHide($event)">
	<p-header>
		{{title}}
		<a [ngClass]="{'ui-dialog-titlebar-icon ui-corner-all':true}" style="position: absolute; right: 30px;"  tabindex="0" role="button" (click)="onToggleMinimize()" (keydown.enter)="onToggleMinimize()">
			<span [ngClass]="minimized ? 'pi pi-chevron-down' : 'pi pi-minus'"></span>
		</a>
	</p-header>
	<!-- GENERAL -->
	<p-panel *ngIf="loadedData" [header]="'LABELS.DSP_VIEW_GENERAL' | translate" [toggleable]="true">
		<div class="ui-g">
			<div class="ui-g-2">
				{{'LABELS.DSP_VIEW_GENERAL_NUME_PROIECT' | translate}}:
			</div>
			<div class="ui-g-10">
				<input type="text" [ngModel]="dspView.numeProiect" [readonly]="true" pInputText class="fullWidth">
			</div>
		</div>
		<div class="ui-g">
			<div class="ui-g-2">
				{{'LABELS.DSP_VIEW_GENERAL_ABREVIERE_PROIECT' | translate}}:
			</div>
			<div class="ui-g-10">
				<input type="text" [ngModel]="dspView.abreviereProiect" [readonly]="true" pInputText class="fullWidth">
			</div>
		</div>
		<div class="ui-g">
			<div class="ui-g-2">
				{{'LABELS.DSP_VIEW_GENERAL_DESCRIERE' | translate}}:
			</div>
			<div class="ui-g-10">
				<input type="text" [ngModel]="dspView.descriere" [readonly]="true" pInputText class="fullWidth">
			</div>
		</div>
		<div class="ui-g">
			<div class="ui-g-2">
				{{'LABELS.DSP_VIEW_GENERAL_INITIATOR_PROIECT' | translate}}:
			</div>
			<div class="ui-g-10">
				<input type="text" [ngModel]="dspView.initiatorProiect" [readonly]="true" pInputText class="fullWidth">
			</div>
		</div>
		<div class="ui-g">
			<div class="ui-g-2">
				{{'LABELS.DSP_VIEW_GENERAL_DOMENIU_BANCAR' | translate}}:
			</div>
			<div class="ui-g-10">
				<input type="text" [ngModel]="dspView.domeniuBancar" [readonly]="true" pInputText class="fullWidth">
			</div>
		</div>
		<div class="ui-g">
			<div class="ui-g-2">
				{{'LABELS.DSP_VIEW_GENERAL_PROIECT_INITIAT_DE_ARB' | translate}}:
			</div>
			<div class="ui-g-10">
				<input type="text" [ngModel]="dspView.proiectInitiatDeArb" [readonly]="true" pInputText class="fullWidth">
			</div>
		</div>
		<div class="ui-g">
			<div class="ui-g-2">
				{{'LABELS.DSP_VIEW_GENERAL_INCADRARE_PROIECT' | translate}}:
			</div>
			<div class="ui-g-10">
				<input type="text" [ngModel]="dspView.incadrareProiect" [readonly]="true" pInputText class="fullWidth">
			</div>
		</div>
		<div class="ui-g">
			<div class="ui-g-2">
				{{'LABELS.DSP_VIEW_GENERAL_ARIE_DE_CUPRINDERE' | translate}}:
			</div>
			<div class="ui-g-10">
				<input type="text" [ngModel]="dspView.arieDeCuprindere" [readonly]="true" pInputText class="fullWidth">
			</div>
		</div>
		<div class="ui-g">
			<div class="ui-g-2">
				{{'LABELS.DSP_VIEW_GENERAL_PROIECT_INITIAT_DE_ALTA_ENTITATE' | translate}}:
			</div>
			<div class="ui-g-10">
				<input type="text" [ngModel]="dspView.proiectInitiatDeAltaEntitate" [readonly]="true" pInputText class="fullWidth">
			</div>
		</div>
		<div class="ui-g">
			<div class="ui-g-2">
				{{'LABELS.DSP_VIEW_GENERAL_DATA_INCEPUT_PROIECT' | translate}}:
			</div>
			<div class="ui-g-10">
				<input type="text" [ngModel]="dspView.dataInceputProiect | appDateFormater" [readonly]="true" pInputText class="fullWidth">
			</div>
		</div>
		<div class="ui-g">
			<div class="ui-g-2">
				{{'LABELS.DSP_VIEW_GENERAL_DATA_SFARSIT_PROIECT' | translate}}:
			</div>
			<div class="ui-g-10">
				<input type="text" [ngModel]="dspView.dataSfarsitProiect | appDateFormater" [readonly]="true" pInputText class="fullWidth">
			</div>
		</div>
		<div class="ui-g">
			<div class="ui-g-2">
				{{'LABELS.DSP_VIEW_GENERAL_DATA_IMPLEMENTARII' | translate}}:
			</div>
			<div class="ui-g-10">
				<input type="text" [ngModel]="dspView.dataImplementarii | appDateFormater" [readonly]="true" pInputText class="fullWidth">
			</div>
		</div>
		<div class="ui-g">
			<div class="ui-g-2">
				{{'LABELS.DSP_VIEW_GENERAL_EVALUAREA_IMPACTULUI' | translate}}:
			</div>
			<div class="ui-g-10">
				<input type="text" [ngModel]="dspView.evaluareaImpactului" [readonly]="true" pInputText class="fullWidth">
			</div>
		</div>
		<div class="ui-g">
			<div class="ui-g-2">
				{{'LABELS.DSP_VIEW_GENERAL_GRAD_DE_IMPORTANTA' | translate}}:
			</div>
			<div class="ui-g-10">
				<input type="text" [ngModel]="dspView.gradDeImportanta" [readonly]="true" pInputText class="fullWidth">
			</div>
		</div>
		<div class="ui-g">
			<div class="ui-g-2">
				{{'LABELS.DSP_VIEW_GENERAL_GRAD_DE_REALIZARE_ESTIMAT_DE_RESPONSABIL' | translate}}:
			</div>
			<div class="ui-g-10">
				<input type="text" [ngModel]="dspView.gradDeRealizareEstimatDeResponsabil" [readonly]="true" pInputText class="fullWidth">
			</div>
		</div>
		<div class="ui-g">
			<div class="ui-g-2">
				{{'LABELS.DSP_VIEW_GENERAL_RESPONSABIL_PROIECT' | translate}}:
			</div>
			<div class="ui-g-10">
				<input type="text" [ngModel]="dspView.responsabilProiect" [readonly]="true" pInputText class="fullWidth">
			</div>
		</div>
		<div class="ui-g">
			<div class="ui-g-2">
				{{'LABELS.DSP_VIEW_GENERAL_AUTORITATI_IMPLICATE' | translate}}:
			</div>
			<div class="ui-g-10">
				<input type="text" [ngModel]="dspView.autoritatiImplicate" [readonly]="true" pInputText class="fullWidth">
			</div>
		</div>
		<div class="ui-g">
			<div class="ui-g-2">
				{{'LABELS.DSP_VIEW_GENERAL_OBIECTIVE_PROIECT' | translate}}:
			</div>
			<div class="ui-g-10">
				<input type="text" [ngModel]="dspView.obiectiveProiect" [readonly]="true" pInputText class="fullWidth">
			</div>
		</div>
		<div class="ui-g">
			<div class="ui-g-2">
				{{'LABELS.DSP_VIEW_GENERAL_CADRUL_LEGAL' | translate}}:
			</div>
			<div class="ui-g-10">
				<input type="text" [ngModel]="dspView.cadrulLegal" [readonly]="true" pInputText class="fullWidth">
			</div>
		</div>
		<div class="ui-g">
			<div class="ui-g-2">
				{{'LABELS.DSP_VIEW_GENERAL_SPECIFICITATE_PROIECT' | translate}}:
			</div>
			<div class="ui-g-10">
				<input type="text" [ngModel]="dspView.specificitateProiect" [readonly]="true" pInputText class="fullWidth">
			</div>
		</div>
	</p-panel>

	<!-- COMISII/GL -->
	<br>
	<p-panel *ngIf="loadedData" [header]="'LABELS.DSP_VIEW_COMISII_GL' | translate" [toggleable]="true">
		<p-table #comisiiGlTable
				[value]="dspView.comisiiGlImplicate"
				[responsive]="true"
				[resizableColumns]="true"
				[scrollable]="true"
				scrollHeight="350px"
				selectionMode="multiple"								
				[paginator]="true" 
				[rows]="pageSize">
			<ng-template pTemplate="colgroup" let-columns>
				<colgroup>
					<col style="width: 5%">
					<col style="width: 65%">
					<col style="width: 30%">
				</colgroup>
			</ng-template>
			<ng-template pTemplate="header" let-columns>
				<tr>
					<th pResizableColumn>
						{{"LABELS.NO_CRT" | translate}}
					</th>							
					<th pResizableColumn pSortableColumn="denumire">
						{{"LABELS.DSP_VIEW_COMISII_GL_DENUMIRE" | translate}}
						<p-sortIcon field="denumire"></p-sortIcon>
					</th>
					<th pResizableColumn pSortableColumn="abreviere">
						{{"LABELS.DSP_VIEW_COMISII_GL_ABREVIERE" | translate}}
						<p-sortIcon field="abreviere"></p-sortIcon>
					</th>
				</tr>
				<tr>
					<th></th>
					<th>
						<input pInputText type="text" (input)="comisiiGlTable.filter($event.target.value, 'denumire', 'contains')" class="fullWidth">
					</th>	
					<th>
						<input pInputText type="text" (input)="comisiiGlTable.filter($event.target.value, 'abreviere', 'contains')" class="fullWidth">
					</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-comisieGl let-index="rowIndex">
				<tr [pSelectableRow]="comisieGl">
					<td class="ui-resizable-column">{{(index + 1)}}</td>					
					<td class="ui-resizable-column">{{comisieGl.denumire}}</td>
					<td class="ui-resizable-column">{{comisieGl.abreviere}}</td>
				</tr>
			</ng-template>
			<ng-template pTemplate="emptymessage" let-columns>
				<tr>
					<td [attr.colspan]="3">
						{{"LABELS.NO_RECORDS_FOUND" | translate}}
					</td>
				</tr>
			</ng-template>
		</p-table>
	</p-panel>

	<!-- PARTICIPANTI -->
	<br>
	<p-panel *ngIf="loadedData" [header]="'LABELS.DSP_VIEW_PARTICIPANTI' | translate" [toggleable]="true">
		<p-table #participantiTable
				[value]="dspView.participanti"
				[responsive]="true"
				[resizableColumns]="true"
				[scrollable]="true"
				scrollHeight="350px"
				selectionMode="multiple"
				[paginator]="true" 
				[rows]="pageSize">
			<ng-template pTemplate="colgroup" let-columns>
				<colgroup>
					<col style="width: 5%">
					<col style="width: 95%">
				</colgroup>
			</ng-template>
			<ng-template pTemplate="header" let-columns>
				<tr>
					<th pResizableColumn>
						{{"LABELS.NO_CRT" | translate}}
					</th>							
					<th pResizableColumn pSortableColumn="numeParticipant">
						{{"LABELS.DSP_VIEW_PARTICIPANTI_NUME_PARTICIPANT" | translate}}
						<p-sortIcon field="numeParticipant"></p-sortIcon>
					</th>
				</tr>
				<tr>
					<th></th>
					<th>
						<input pInputText type="text" (input)="participantiTable.filter($event.target.value, 'numeParticipant', 'contains')" class="fullWidth">
					</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-participant let-index="rowIndex">
				<tr [pSelectableRow]="participant">
					<td class="ui-resizable-column">{{(index + 1)}}</td>					
					<td class="ui-resizable-column">{{participant.numeParticipant}}</td>
				</tr>
			</ng-template>
			<ng-template pTemplate="emptymessage" let-columns>
				<tr>
					<td [attr.colspan]="2">
						{{"LABELS.NO_RECORDS_FOUND" | translate}}
					</td>
				</tr>
			</ng-template>
		</p-table>
	</p-panel>

	<!-- ACTIVITATI -->
	<br>
	<p-panel *ngIf="loadedData" [header]="'LABELS.DSP_VIEW_ACTIVITATI' | translate" [toggleable]="true">
		<p-table #activitatiTable
				[value]="dspView.activitati"
				[responsive]="true"
				[resizableColumns]="true"
				columnResizeMode="expand"
				[scrollable]="true"
				scrollHeight="350px"
				selectionMode="multiple"
				[paginator]="true" 
				[rows]="pageSize"
				dataKey="id"
				(onRowExpand)="onViewAttachments($event)">
			<ng-template pTemplate="colgroup" let-columns>
				<colgroup>
					<col style="width: 5%">
					<col style="width: 20%">
					<col style="width: 15%">
					<col style="width: 230px">
					<col style="width: 230px">
					<col style="width: 10%">
					<col style="width: 10%">
					<col style="width: 10%">
					<col style="width: 10%">
					<col style="width: 10%">
					<col style="width: 10%">
					<col style="width: 4em">
				</colgroup>
			</ng-template>
			<ng-template pTemplate="header" let-columns>
				<tr>
					<th pResizableColumn>
						{{"LABELS.NO_CRT" | translate}}
					</th>							
					<th pResizableColumn pSortableColumn="denumire">
						{{"LABELS.DSP_VIEW_ACTIVITATI_DENUMIRE" | translate}}
						<p-sortIcon field="denumire"></p-sortIcon>
					</th>
					<th pResizableColumn pSortableColumn="descriere">
						{{"LABELS.DSP_VIEW_ACTIVITATI_DESCRIERE" | translate}}
						<p-sortIcon field="descriere"></p-sortIcon>
					</th>
					<th pResizableColumn pSortableColumn="dataInceput">
						{{"LABELS.DSP_VIEW_ACTIVITATI_DATA_INCEPUT" | translate}}
						<p-sortIcon field="dataInceput"></p-sortIcon>
					</th>
					<th pResizableColumn pSortableColumn="dataSfarsit">
						{{"LABELS.DSP_VIEW_ACTIVITATI_DATA_SFARSIT" | translate}}
						<p-sortIcon field="dataSfarsit"></p-sortIcon>
					</th>
					<th pResizableColumn pSortableColumn="prioritate">
						{{"LABELS.DSP_VIEW_ACTIVITATI_PRIORITATE" | translate}}
						<p-sortIcon field="prioritate"></p-sortIcon>
					</th>
					<th pResizableColumn pSortableColumn="responsabil">
						{{"LABELS.DSP_VIEW_ACTIVITATI_RESPONSABIL" | translate}}
						<p-sortIcon field="responsabil"></p-sortIcon>
					</th>
					<th pResizableColumn pSortableColumn="participareLa">
						{{"LABELS.DSP_VIEW_ACTIVITATI_PARTICIPARE_LA" | translate}}
						<p-sortIcon field="participareLa"></p-sortIcon>
					</th>
					<th pResizableColumn pSortableColumn="explicatii">
						{{"LABELS.DSP_VIEW_ACTIVITATI_EXPLICATII" | translate}}
						<p-sortIcon field="explicatii"></p-sortIcon>
					</th>
					<th pResizableColumn pSortableColumn="comentarii">
						{{"LABELS.DSP_VIEW_ACTIVITATI_COMENTARII" | translate}}
						<p-sortIcon field="comentarii"></p-sortIcon>
					</th>
					<th pResizableColumn pSortableColumn="status">
						{{"LABELS.DSP_VIEW_ACTIVITATI_STATUS" | translate}}
						<p-sortIcon field="status"></p-sortIcon>
					</th>
					<th>
						<span [ngClass]="'fa fa-files-o'"></span>
					</th>
				</tr>
				<tr>
					<th></th>
					<th>
						<input pInputText type="text" (input)="activitatiTable.filter($event.target.value, 'denumire', 'contains')" class="fullWidth">
					</th>	
					<th>
						<input pInputText type="text" (input)="activitatiTable.filter($event.target.value, 'descriere', 'contains')" class="fullWidth">
					</th>
					<th>
						<p-calendar [readonlyInput]="false" 
								[dateFormat]="dateFormat"
								appendTo="body" 
								showButtonBar="true" 
								(onSelect)="activitatiTable.filter($event, 'dataInceput', 'equals')"
								(onClearClick)="activitatiTable.filter('', 'dataInceput', 'equals')">
						</p-calendar>
					</th>
					<th>
						<p-calendar [readonlyInput]="false" 
								[dateFormat]="dateFormat"								
								appendTo="body" 
								showButtonBar="true" 
								(onSelect)="activitatiTable.filter($event, 'dataSfarsit', 'equals')"
								(onClearClick)="activitatiTable.filter('', 'dataSfarsit', 'equals')">
						</p-calendar>
					</th>
					<th>
						<p-multiSelect [options]="prioritateActivitateFilterSelectItems" (onChange)="activitatiTable.filter($event.value, 'prioritate', 'in')" appendTo="body"></p-multiSelect>
					</th>
					<th>
						<input pInputText type="text" (input)="activitatiTable.filter($event.target.value, 'responsabil', 'contains')" class="fullWidth">
					</th>
					<th>
						<input pInputText type="text" (input)="activitatiTable.filter($event.target.value, 'participareLa', 'contains')" class="fullWidth">
					</th>
					<th>
						<input pInputText type="text" (input)="activitatiTable.filter($event.target.value, 'explicatii', 'contains')" class="fullWidth">
					</th>
					<th>
						<input pInputText type="text" (input)="activitatiTable.filter($event.target.value, 'comentarii', 'contains')" class="fullWidth">
					</th>
					<th>
						<p-multiSelect [options]="statusActivitateFilterSelectItems" (onChange)="activitatiTable.filter($event.value, 'status', 'in')" appendTo="body"></p-multiSelect>
					</th>
					<th>
					</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-activitate let-expanded="expanded" let-index="rowIndex">
				<tr [pSelectableRow]="activitate">
					<td class="ui-resizable-column">{{(index + 1)}}</td>					
					<td class="ui-resizable-column">{{activitate.denumire}}</td>
					<td class="ui-resizable-column">{{activitate.descriere}}</td>
					<td class="ui-resizable-column">{{activitate.dataInceput | appDateFormater}}</td>
					<td class="ui-resizable-column">{{activitate.dataSfarsit | appDateFormater}}</td>
					<td class="ui-resizable-column">{{('LABELS.PROJECT_TASK_PRIORITY_' + activitate.prioritate) | translate}}</td>
					<td class="ui-resizable-column">{{activitate.responsabil}}</td>
					<td class="ui-resizable-column">{{activitate.participareLa}}</td>
					<td class="ui-resizable-column">{{activitate.explicatii}}</td>
					<td class="ui-resizable-column">{{activitate.comentarii}}</td>
					<td class="ui-resizable-column">{{('LABELS.PROJECT_TASK_STATUS_' + activitate.status) | translate}}</td>
					<td>
						<a *ngIf="activitate.attachments?.length > 0" href="#" [pRowToggler]="activitate">							
							<i [ngClass]="expanded ? 'fa fa-chevron-circle-down' : 'fa fa-chevron-circle-right'"></i>
						</a>
					</td>
				</tr>
			</ng-template>
			<ng-template pTemplate="rowexpansion" let-activitate>
				<tr>
					<td [attr.colspan]="11">
						<div class="ui-g" *ngIf="activitate.attachments?.length > 0; else noAttachments">
							<div *ngFor="let attachment of activitate.attachments;let i = index" style="padding:.5em" class="ui-g-12 ui-md-6 ui-lg-3">
								<p-panel [showHeader]="false" [style]="{'text-align':'center'}">
									<div>{{i+1}}. {{attachment.name}}</div>
									<hr class="ui-widget-content" style="border-top:0">
									<button pButton type="button" icon="fa fa-download" (click)="onDownloadTaskAttachment(attachment)" style="margin-top:0"></button>
								</p-panel>
							</div>
						</div>						
						<ng-template #noAttachments>
							{{'LABELS.DSP_VIEW_ACTIVITATI_NO_ATTACHMENTS' | translate}}
						</ng-template>
					</td>
				</tr>
			</ng-template>
			<ng-template pTemplate="emptymessage" let-columns>
				<tr>
					<td [attr.colspan]="11">
						{{"LABELS.NO_RECORDS_FOUND" | translate}}
					</td>
				</tr>
			</ng-template>
		</p-table>
	</p-panel>

	<p-footer>
		<p-button (onClick)="onExportAsDocxAction()" [label]="'LABELS.EXPORT_AS_DOCX' | translate"></p-button>
		<p-button (onClick)="onCloseAction()" [label]="'LABELS.CLOSE' | translate"></p-button>
	</p-footer>
</p-dialog>