<app-loading *ngIf="loading"></app-loading>
<div class="login-body">
    <div class="login-topbar">
        <a href="#" class="logo" title="version: {{appVersion}}">
            <!--<img src="../../assets/layout/images/ecuador-logo.png" alt="ecuador-layout"/>-->
            <span class="logo-text" translate>LABELS.APP_NAME</span><span *ngIf="!isProduction" class="logo-text-environment">({{appEnvironmentName}})</span>
        </a>
    </div>
    <div class="login-image">
        <div class="login-panel">
            <!-- <img src="../../assets/layout/images/ecuador-orange-logo.png" alt="ecuador-layout"/> -->
            <div class="login-panel-title" translate>LABELS.CHANGE_PASSWORD</div>
            <div class="login-panel-message-container">              
              <div *ngIf="errorVisible" class="ui-message ui-widget ui-corner-all ui-message-error">
                <span class="ui-message-text">{{'MESSAGES.' + errorCode | translate}}</span>
              </div>
            </div>
            <form [formGroup]="formGroup">      
              <div class="ui-g-12">
                  <div class="input-wrapper">
                      <input type="password" formControlName="currentPassword" autocomplete="off" placeholder="Current password" class="ui-inputtext ui-widget">
                  </div>
              </div>      
              <div class="ui-g-12">
                  <div class="input-wrapper">
                      <input type="password" formControlName="newPassword" autocomplete="off" placeholder="New password" class="ui-inputtext ui-widget">
                  </div>
              </div>      
              <div class="ui-g-12">
                  <div class="input-wrapper">
                      <input type="password" formControlName="confirmNewPassword" autocomplete="off" placeholder="Confirm new password" class="ui-inputtext ui-widget">
                  </div>
              </div>
              <div class="checkbox-container">                  
                  <button type="button" (click)="onChangePasswordAction($event)" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" >
                      <span class="ui-button-text ui-c">Change password</span>
                  </button>
              </div>
            </form>

        </div>
    </div>
</div>
