<app-loading *ngIf="loadingVisible"></app-loading>

<p-dialog #pDialog [(visible)]="windowVisible" [modal]="true" appendTo="body"
		[contentStyle]="{'height':'70vh'}" [style]="{'width':'90vw','height':'auto'}" 
		(onShow)="onShow($event)" (onHide)="onHide($event)">
	<p-header>
		{{title}}
		<a [ngClass]="{'ui-dialog-titlebar-icon ui-corner-all':true}" style="position: absolute; right: 30px;"  tabindex="0" role="button" (click)="onToggleMinimize()" (keydown.enter)="onToggleMinimize()">
			<span [ngClass]="minimized ? 'pi pi-chevron-down' : 'pi pi-minus'"></span>
		</a>
	</p-header>
	<form [formGroup]="formGroup" [ngStyle]="{'height':'70vh'}">

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.REGISTRU_DOCUMENTE_JUSTIFICATIVE_PLATI_DATA_INREGISTRARE" | translate}}<span *ngIf="!readonly">*</span>:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<p-calendar 
					[showIcon]="true"
					[dateFormat]="dateFormat"
					[minDate]="dataInregistrareMinDate"
					[maxDate]="dataInregistrareMaxDate"
					formControlName="dataInregistrare"
					appendTo="body" 
					showButtonBar="true"
					(onSelect)="onDataInregistrareValueChanged($event)">
				</p-calendar>
			</div>
			<div *ngIf="dataInregistrareFormControl.invalid && (dataInregistrareFormControl.dirty || dataInregistrareFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.REGISTRU_DOCUMENTE_JUSTIFICATIVE_PLATI_EMITENT" | translate}}<span *ngIf="!readonly">*</span>:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<input pInputText [readonly]="readonly" formControlName="emitent" type="text" required/>
			</div>
			<div *ngIf="emitentFormControl.invalid && (emitentFormControl.dirty || emitentFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.REGISTRU_DOCUMENTE_JUSTIFICATIVE_PLATI_TIP_DOCUMENT" | translate}}<span *ngIf="!readonly">*</span>:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<app-nomenclator-value-field
					formControlName="tipDocument"
					[readonly]="tipDocumentReadonly"
					(valueChanged)="onTipDocumentValueChanged($event)">
				</app-nomenclator-value-field>
			</div>
			<div *ngIf="tipDocumentFormControl.invalid && (tipDocumentFormControl.dirty || tipDocumentFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					<span *ngIf="tipDocumentFormControl.errors['required']">{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}</span>
				</div>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.REGISTRU_DOCUMENTE_JUSTIFICATIVE_PLATI_NUMAR_DOCUMENT" | translate}}<span *ngIf="!readonly">*</span>:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<input pInputText [readonly]="readonly" formControlName="numarDocument" type="text" required/>
			</div>
			<div *ngIf="numarDocumentFormControl.invalid && (numarDocumentFormControl.dirty || numarDocumentFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.REGISTRU_DOCUMENTE_JUSTIFICATIVE_PLATI_DATA_DOCUMENT" | translate}}<span *ngIf="!readonly">*</span>:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<p-calendar 
					[showIcon]="true"
					[dateFormat]="dateFormat"
					[minDate]="dataDocumentMinDate" 
					[maxDate]="dataDocumentMaxDate" 
					formControlName="dataDocument"
					appendTo="body" 
					showButtonBar="true"
					(onSelect)="onDataDocumentValueChanged($event)"
					(onClearClick)="onClearDataDocument($event)">
				</p-calendar>
			</div>
			<div *ngIf="dataDocumentFormControl.invalid && (dataDocumentFormControl.dirty || dataDocumentFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.REGISTRU_DOCUMENTE_JUSTIFICATIVE_PLATI_MOD_LIVRARE" | translate}}<span *ngIf="!readonly">*</span>:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<p-dropdown 
					[options]="modLivrareItems"
					[placeholder]="'LABELS.SELECT' | translate" 
					[style]="{'width':'100%'}" 
					[readonly]="readonly"
					formControlName="modLivrare"
					appendTo="body">
				</p-dropdown>
			</div>
			<div *ngIf="modLivrareFormControl.invalid && (modLivrareFormControl.dirty || modLivrareFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.REGISTRU_DOCUMENTE_JUSTIFICATIVE_PLATI_DETALII" | translate}}<span *ngIf="!readonly">*</span>:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<input pInputText [readonly]="readonly" formControlName="detalii" type="text" required/>
			</div>
			<div *ngIf="detaliiFormControl.invalid && (detaliiFormControl.dirty || detaliiFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.REGISTRU_DOCUMENTE_JUSTIFICATIVE_PLATI_VALOARE" | translate}}<span *ngIf="!readonly">*</span>:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<input pInputText [readonly]="readonly" formControlName="valoare" type="number" required (change)="onValoareValueChanged()"/>
			</div>
			<div *ngIf="valoareFormControl.invalid && (valoareFormControl.dirty || valoareFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					
					<span *ngIf="valoareFormControl.errors.required">{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}</span>
					<span *ngIf="valoareFormControl.errors.min">{{"MESSAGES.VALIDATOR_MIN_VALUE" | translate:validationMessageParameterMinValueForDiurnaZilnica}}</span>
				</div>
			</div>
		</div>
		
		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{'LABELS.REGISTRU_DOCUMENTE_JUSTIFICATIVE_PLATI_MONEDA' | translate}}<span *ngIf="!readonly">*</span>:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<app-nomenclator-value-field
					formControlName="moneda"
					[readonly]="readonly">
				</app-nomenclator-value-field>
			</div>
			<div *ngIf="monedaFormControl.invalid && (monedaFormControl.dirty || monedaFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.REGISTRU_DOCUMENTE_JUSTIFICATIVE_PLATI_DATA_SCADENTA" | translate}}<span *ngIf="!readonly">*</span>:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<p-calendar 
					[showIcon]="true"
					[dateFormat]="dateFormat"
					[minDate]="dataScadentaMinDate" 
					formControlName="dataScadenta"
					appendTo="body" 
					showButtonBar="true"
					(onSelect)="onDataScadentaValueChanged($event)"
					(onClearClick)="onClearDataScadenta($event)">
				</p-calendar>
			</div>
			<div *ngIf="dataScadentaFormControl.invalid && (dataScadentaFormControl.dirty || dataScadentaFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.REGISTRU_DOCUMENTE_JUSTIFICATIVE_PLATI_MODALITATE_PLATA" | translate}}<span *ngIf="!readonly">*</span>:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<p-dropdown 
					[options]="modalitatePlataItems"
					[placeholder]="'LABELS.SELECT' | translate" 
					[style]="{'width':'100%'}" 
					[readonly]="readonly"
					formControlName="modalitatePlata"
					appendTo="body"
					(onChange)=onModalitatiPlataChange($event)>
				</p-dropdown>
			</div>
			<div *ngIf="modalitatePlataFormControl.invalid && (modalitatePlataFormControl.dirty || modalitatePlataFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.REGISTRU_DOCUMENTE_JUSTIFICATIVE_PLATI_RECONCILIERE_CU_EXTRAS_BANCA" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<p-checkbox formControlName="reconciliereCuExtrasBanca" binary="true" [disabled]="true"></p-checkbox>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.REGISTRU_DOCUMENTE_JUSTIFICATIVE_PLATI_PLATIT" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<p-checkbox formControlName="platit" binary="true" (onChange)="onPlatitValueChanged($event)"></p-checkbox>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.REGISTRU_DOCUMENTE_JUSTIFICATIVE_PLATI_DATA_PLATII" | translate}}<span *ngIf="!readonly">*</span>:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<p-calendar 
					[showIcon]="true"
					[dateFormat]="dateFormat"
					[monthNavigator]="true"
					[yearNavigator]="true"
					[yearRange]="yearRange"
					[maxDate]="currentDate"
					formControlName="dataPlatii"
					appendTo="body" 					
					(onSelect)="onDataPlatiiValueChanged($event)"
					showButtonBar="true">
				</p-calendar>
			</div>
			<div *ngIf="dataPlatiiFormControl.invalid && (dataPlatiiFormControl.dirty || dataPlatiiFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.REGISTRU_DOCUMENTE_JUSTIFICATIVE_PLATI_INCADRARE_CONFORM_BVC" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<input pInputText [readonly]="incadrareConformBVCReadonly" formControlName="incadrareConformBVC" type="text"/>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.REGISTRU_DOCUMENTE_JUSTIFICATIVE_ATASAMENTE" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<p-fileUpload name="fileUpload[]" 
						multiple="multiple"
						customUpload="true" 
						[disabled]="fileUploadDisabled"
						(uploadHandler)="onUpload($event)">
					<ng-template pTemplate="content">
						<div class="ui-fileupload-row" *ngFor="let uploadedAttachment of uploadedAttachments; let i = index;">
							<div>{{i+1}}) {{uploadedAttachment.fileName}}</div>
							<div><button pButton type="button" icon="fa fa-fw fa-download" (click)="onDownloadAtasament(uploadedAttachment)"></button></div>
							<div *ngIf="!fileUploadDisabled"><button pButton type="button" icon="fa fa-close" (click)="onRemoveAtasament(uploadedAttachment)" [disabled]="fileUploadDisabled"></button></div>
						</div>
					</ng-template>        
				</p-fileUpload>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.REGISTRU_DOCUMENTE_JUSTIFICATIVE_PLATI_INTRARE_EMITERE" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<input pInputText [readonly]="true" formControlName="intrareEmitere" type="number"/>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.REGISTRU_DOCUMENTE_JUSTIFICATIVE_PLATI_PLATA_SCADENTA" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<input pInputText [readonly]="true" [ngStyle]="plataScadentaStyle" formControlName="plataScadenta" type="number"/>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.REGISTRU_DOCUMENTE_JUSTIFICATIVE_PLATI_SCADENTA_EMITERE" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<input pInputText [readonly]="true" formControlName="scadentaEmitere" type="number"/>
			</div>
		</div>

	</form>
	
	<p-footer>
		<p-button (onClick)="onSaveAction()" [disabled]="!saveActionEnabled" [label]="'LABELS.SAVE' | translate"></p-button>
		<p-button (onClick)="onCloseAction()" [label]="'LABELS.CLOSE' | translate"></p-button>
	</p-footer>
</p-dialog>