<p-table *ngIf="isSelectionModeSingle()"
		[(selection)]="selectedMimeTypes"
		[value]="mimeTypes"  
		[selectionMode]="selectionMode"
		[responsive]="true"
		[resizableColumns]="true"
		[scrollable]="true" 
		[scrollHeight]="scrollHeight"
		(onRowSelect)="onMimeTypeSelected($event)"
		(onRowUnselect)="onMimeTypeUnselected($event)"
		sortField="name">
	<ng-template pTemplate="colgroup">
		<colgroup>
			<col style="width: 70%">
			<col style="width: 30%">
		</colgroup>
	</ng-template>
	<ng-template pTemplate="header" let-columns>
			<tr>
				<th pResizableColumn>{{"LABELS.MIME_TYPE_NAME" | translate}}</th>
				<th pResizableColumn>{{"LABELS.MIME_TYPE_EXTENSION" | translate}}</th>
			</tr>
	</ng-template>
	<ng-template pTemplate="body" let-mimeType>
			<tr [pSelectableRow]="mimeType">
				
				<td>{{mimeType.name}}</td>
				<td>{{mimeType.extension}}</td>
			</tr>
	</ng-template>
</p-table>

<p-table
		*ngIf="isSelectionModeMultiple()"
		[(selection)]="selectedMimeTypes"
		[value]="mimeTypes"
		[responsive]="true"
		[resizableColumns]="true"
		[scrollable]="true" 
		[scrollHeight]="scrollHeight"
		(onRowSelect)="onMimeTypeSelected($event)"
		(onRowUnselect)="onMimeTypeUnselected($event)"
		sortField="name">
	<ng-template pTemplate="colgroup">
		<colgroup>
			<col style="width: 70%">
			<col style="width: 20%">
			<col style="width: 10%">
		</colgroup>
	</ng-template>
	<ng-template pTemplate="header" let-columns>
			<tr>
				<th pResizableColumn>{{"LABELS.MIME_TYPE_NAME" | translate}}</th>
				<th pResizableColumn>{{"LABELS.MIME_TYPE_EXTENSION" | translate}}</th>
				<th pResizableColumn>{{"LABELS.ATTACHMENT_ALLOWED" | translate}}</th>
			</tr>
	</ng-template>
	<ng-template pTemplate="body" let-mimeType>
			<tr [pSelectableRow]="mimeType">
				<td>{{mimeType.name}}</td>
				<td>{{mimeType.extension}}</td>
				<td align="center"><p-tableCheckbox [value]="mimeType"></p-tableCheckbox></td>
			</tr>
	</ng-template>
</p-table>