<p-table
		[value]="cheltuieli" 
		[(selection)]="selectedCheltuiala" 
		[responsive]="true"
		[resizableColumns]="true"
		[scrollable]="true"
		[scrollHeight]="scrollHeight"
		columnResizeMode="fit"
		selectionMode="single" 
		(onRowSelect)="onRowSelect($event)"
		(onRowUnselect)="onRowUnSelect($event)">
	<ng-template pTemplate="caption">
		<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-grid-row">
				<div class="ui-grid-col-12" style="text-align: left;">
					<p-button [disabled]="addActionEnabled" (onClick)="onAddAction()" [label]="'LABELS.ADD' | translate"></p-button>
					<p-button [disabled]="!editActionEnabled" (onClick)="onEditAction()" [label]="'LABELS.EDIT' | translate"></p-button>
					<p-button [disabled]="!viewActionEnabled" (onClick)="onViewAction()" [label]="'LABELS.VIEW' | translate"></p-button>
					<p-button [disabled]="!removeActionEnabled" (onClick)="onRemoveAction()" [label]="'LABELS.DELETE' | translate"></p-button>
				</div>
			</div>
		</div>
	</ng-template>
	<ng-template pTemplate="header">
		<tr>
			<th>{{"LABELS.ALTE_DECONTURI_CHELTUIELI_TIP_DOCUMENT_JUSTIFICATIV" | translate}}</th>
			<th>{{"LABELS.ALTE_DECONTURI_CHELTUIELI_EXPLICATIE" | translate}}</th>
			<th>{{"LABELS.ALTE_DECONTURI_CHELTUIELI_NUMAR_DOCUMENT_JUSTIFICATIV" | translate}}</th>
			<th>{{"LABELS.ALTE_DECONTURI_CHELTUIELI_DATA_DOCUMENT_JUSTIFICATIV" | translate}}</th>
			<th>{{"LABELS.ALTE_DECONTURI_CHELTUIELI_VALOARE_CHELTUIALA" | translate}}</th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-rowData>
		<tr [pSelectableRow]="rowData">
			<td>{{ "LABELS." + rowData["tipDocumentJustificativ"] | translate}}</td>
			<td>{{ rowData["explicatie"] }}</td>
			<td>{{ rowData["numarDocumentJustificativ"] }}</td>
			<td>{{ rowData["dataDocumentJustificativ"] | appDateFormater}}</td>
			<td>{{ rowData["valoareCheltuiala"] }}</td>
		</tr>
	</ng-template>
	<ng-template pTemplate="emptymessage">
		<tr>
			<td>
				{{ 'LABELS.NO_RECORDS_FOUND' | translate }}
			</td>
		</tr>
	</ng-template>
</p-table>

<app-alte-deconturi-cheltuieli-window *ngIf="cheltuieliWindowVisible" [mode]="cheltuieliWindowMode" [cheltuiala]="cheltuieliWindowSelectedCheltuiala" 
		[decontId]="cheltuieliWindowDecontId" [dataDecont]="cheltuieliWindowDataDecont" (windowClosed)="onCheltuieliWindowClosed()" (dataSaved)="onCheltuieliWindowDataSaved($event)">
</app-alte-deconturi-cheltuieli-window>