<form *ngIf="formVisible" [formGroup]="formGroup">
	<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
		<div class="ui-grid-row">
			<div class="ui-grid-col-2">
				{{'LABELS.NAME' | translate}}<span *ngIf="!readonly"> *</span>:
			</div>
			<div class="ui-grid-col-10">
				<input type="text" formControlName="documentName" pInputText [readonly]="readonly">
			</div>
		</div>
		<div class="ui-grid-row">
			<div class="ui-grid-col-2"></div>
			<div class="ui-grid-col-10">
				<div class="ui-message ui-messages-error ui-corner-all" *ngIf="documentNameFormControl.invalid && (documentNameFormControl.dirty || documentNameFormControl.touched)">
					<i class="fa fa-close"></i>
					<span *ngIf="documentNameFormControl.errors['required']">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
		<div class="ui-grid-row">
			<div class="ui-grid-col-2">
				{{'LABELS.DESCRIPTION' | translate}}:
			</div>
			<div class="ui-grid-col-10">
				<textarea pInputTextarea type="text" formControlName="documentDescription" [readonly]="readonly"></textarea>
			</div>
		</div>
	</div>
	<p-fieldset *ngIf="areMetadatasAvailable" [legend]="'LABELS.METADATA' | translate" [toggleable]="true">
		<div *ngFor="let documentMetadata of documentMetadatas" class="ui-fluid">
			<app-document-metadata 
					[formGroup]="formGroup" 
					[inputData]="documentMetadata.inputData"
					[documentReadonly]="readonly"
					[documentMode]="mode"
					[eventMediator]="metadataEventMediator">
			</app-document-metadata>
		</div>
	</p-fieldset>
</form>