<app-loading *ngIf="loadingVisible"></app-loading>
<p-dialog #pDialog [(visible)]="visible" [modal]="true" appendTo="body" 
		[contentStyle]="{'height':'70vh'}" [style]="{'width':'90vw','height':'auto'}" 
		(onShow)="onShow($event)" (onHide)="onHide($event)">
	<p-header>
		{{"LABELS.ALTE_DECONTURI_CHELTUIELI" | translate}}
		<a [ngClass]="{'ui-dialog-titlebar-icon ui-corner-all':true}" style="position: absolute; right: 30px;"  tabindex="0" role="button" (click)="onToggleMinimize()" (keydown.enter)="onToggleMinimize()">
			<span [ngClass]="minimized ? 'pi pi-chevron-down' : 'pi pi-minus'"></span>
		</a>
	</p-header>
	
	<form [formGroup]="formGroup" [ngStyle]="{'height':'70vh'}">

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.ALTE_DECONTURI_CHELTUIELI_TIP_DOCUMENT_JUSTIFICATIV" | translate}}<span *ngIf="mandatoryVisible">*</span>:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<p-dropdown 
					[options]="tipDocumentJustificativItems"
					[placeholder]="'LABELS.SELECT' | translate" 
					[style]="{'width':'100%'}" 
					formControlName="tipDocumentJustificativ"
					appendTo="body"
					filter="true"
					(onChange)="onTipDocumentJustificativValueChanged($event)">
				</p-dropdown>
			</div>
			<div *ngIf="tipDocumentJustificativFormControl.invalid && (tipDocumentJustificativFormControl.dirty || tipDocumentJustificativFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.ALTE_DECONTURI_CHELTUIELI_EXPLICATIE" | translate}}<span *ngIf="isExplicatieMandatory">*</span>:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<input pInputText type="text" formControlName="explicatie">
			</div>
			<div *ngIf="explicatieFormControl.invalid && (explicatieFormControl.dirty || explicatieFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.ALTE_DECONTURI_CHELTUIELI_NUMAR_DOCUMENT_JUSTIFICATIV" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<input pInputText type="text" formControlName="numarDocumentJustificativ">
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.ALTE_DECONTURI_CHELTUIELI_DATA_DOCUMENT_JUSTIFICATIV" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<p-calendar 
						[showIcon]="true"
						[dateFormat]="dateFormat"
						[maxDate]="dataDecont"
						formControlName="dataDocumentJustificativ"
						readonlyInput="true"
						appendTo="body">
				</p-calendar>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.ALTE_DECONTURI_CHELTUIELI_VALOARE_CHELTUIALA" | translate}}<span *ngIf="mandatoryVisible">*</span>:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<input pInputText type="number" formControlName="valoareCheltuiala" [min]="valoareMinimaCheltuiala">
			</div>
			<div *ngIf="valoareCheltuialaFormControl.invalid && (valoareCheltuialaFormControl.dirty || valoareCheltuialaFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					<span *ngIf="valoareCheltuialaFormControl.errors.required">{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}</span>
					<span *ngIf="valoareCheltuialaFormControl.errors.min">{{"MESSAGES.VALIDATOR_MIN_VALUE" | translate:validationMessageMinLengthParameter}}</span>
				</div>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.ALTE_DECONTURI_CHELTUIELI_ATTACHMENTS" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<p-fileUpload name="fileUpload[]" 
						multiple="multiple"
						customUpload="true" 
						[disabled]="fileUploadDisabled"
						(uploadHandler)="onUpload($event)">
					<ng-template pTemplate="content">
						<div class="ui-fileupload-row" *ngFor="let uploadedAttachment of uploadedAttachments; let i = index;">
							<div>{{i+1}}) {{uploadedAttachment.fileName}}</div>
							<div><button pButton type="button" icon="fa fa-fw fa-download" (click)="onDownloadAtasament(uploadedAttachment)"></button></div>
							<div *ngIf="!fileUploadDisabled"><button pButton type="button" icon="fa fa-close" (click)="onRemoveAtasament(uploadedAttachment)" [disabled]="fileUploadDisabled"></button></div>
						</div>
					</ng-template>        
				</p-fileUpload>
			</div>
		</div>

	</form>
	
	<p-footer>
		<p-button *ngIf ="saveButtonVisible" [label]="'LABELS.SAVE' | translate" (onClick)="onSave()"></p-button>
		<p-button [label]="'LABELS.CANCEL' | translate" (onClick)="onCancel($event)"></p-button>
	</p-footer>
</p-dialog>