<div class="ui-g">
	<div class="ui-g-12">
		<p-button [label]="'LABELS.ADD' | translate" [disabled]="!isAddEnabled" (onClick)="onAdd()"></p-button>
		<p-button [label]="'LABELS.EDIT' | translate" [disabled]="!isEditEnabled" (onClick)="onEdit()"></p-button>
		<p-button [label]="'LABELS.DELETE' | translate" [disabled]="!isRemoveEnabled" (onClick)="onRemove()"></p-button>
	</div>

	<div class="ui-g-12">
		<p-table [value]="calendars" [(selection)]="selectedCalendar" selectionMode="single" [loading]="dataLoading"
				[scrollable]="true" [scrollHeight]="scrollHeight"
				(onRowSelect)="onCalendarSelected($event)"
				(onRowUnselect)="onCalendarUnselected($event)">
			<ng-template pTemplate="colgroup">
					<colgroup>
						<col style="width: 30%">
						<col style="width: 60%">
						<col style="width: 10%">
					</colgroup>
				</ng-template>
			<ng-template pTemplate="header">
				<tr>
					<th>{{ "LABELS.CALENDAR_NAME" | translate }}</th>
					<th>{{ "LABELS.CALENDAR_DESCRIPTION" | translate }}</th>
					<th>{{ "LABELS.CALENDAR_COLOR" | translate }}</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-calendar>
				<tr [pSelectableRow]="calendar">
					<td>{{ calendar.name }}</td>
					<td>{{ calendar.description }}</td>
					<td [style.background-color]="calendar.color"></td>
				</tr>
			</ng-template>
		</p-table>
	</div>
</div>

<app-calendar-window *ngIf="calendarWindowVisible" (windowClosed)="calendarWindowClosed()" [mode]="calendarWindowMode"
	[calendarId]="calendarId">
</app-calendar-window>