<app-loading *ngIf="loadingVisible"></app-loading>
<p-dialog #pDialog [(visible)]="windowVisible" [modal]="true" appendTo="body"
		[contentStyle]="{'height':'70vh'}" [style]="{'width':'90vw','height':'auto'}" 
		(onShow)="onShow($event)" (onHide)="onHide($event)">
	<p-header>
		<span>{{title}}</span>
		<a [ngClass]="{'ui-dialog-titlebar-icon ui-corner-all':true}" style="position: absolute; right: 30px;"  tabindex="0" role="button" (click)="onToggleMinimize()" (keydown.enter)="onToggleMinimize()">
			<span [ngClass]="minimized ? 'pi pi-chevron-down' : 'pi pi-minus'"></span>
		</a>
	</p-header>
	<form *ngIf="formVisible" [formGroup]="formGroup" [ngStyle]="{'height':'70vh'}">
		<div *ngFor="let attribute of nomenclator.attributes" class="ui-fluid">
			<app-nomenclator-attribute
					[formGroup]="formGroup" 
					[attribute]="attribute"
					[mode]="mode"
					[eventMediator]="attributeEventMediator">
			</app-nomenclator-attribute>
		</div>
	</form>
	<p-footer>
		<p-button (onClick)="onSaveAction($event)" [disabled]="!saveActionEnabled" [label]="'LABELS.SAVE' | translate"></p-button>
		<p-button (onClick)="onCloseAction($event)" [disabled]="!closeActionEnabled" [label]="'LABELS.CLOSE' | translate"></p-button>
	</p-footer>
</p-dialog>

<app-messages-window *ngIf="messagesWindowVisible"
	[messages]="messagesWindowMessages"
	(windowClosed)="onMessagesWindowClosed($event)">
</app-messages-window>