<div *ngIf="singleSelection" class="ui-inputgroup">
	<input type="text" pInputText [(ngModel)]="projectUiValue" [placeholder]="placeholder" [readonly]="true">
	<button pButton type="button" *ngIf="clearEnabled" icon="fa fa-close" class="ui-button-secondary" (click)="onClear()"></button>			
	<button pButton type="button" *ngIf="viewDspEnabled" icon="fa fa-eye" class="ui-button-secondary" (click)="onViewDsp()"></button>			
	<button pButton type="button" label="..." [disabled]="!selectEnabled" (click)="onSelect()"></button> 
</div>

<p-table *ngIf="multipleSelection"
		[value]="projectUiValues" 
		[(selection)]="selectedProject" 
		[responsive]="true"
		[resizableColumns]="true"
		[scrollable]="true"
		[loading]="loading"
		columnResizeMode="fit"
		selectionMode="single" 
		scrollHeight="200px"
		(onRowSelect)="onProjectSelect()"
		(onRowUnselect)="onProjectUnselect()">
	<ng-template pTemplate="caption">
		<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-grid-row">
				<div class="ui-grid-col-12" style="text-align: left;">
					<p-button [disabled]="!selectEnabled" (onClick)="onSelect()" label="..."></p-button>
					<p-button [disabled]="!clearEnabled" (onClick)="onClear()" [label]="'LABELS.DELETE' | translate"></p-button>
					<p-button [disabled]="!viewDspEnabled" (onClick)="onViewDsp()" icon="fa fa-eye"></p-button>
				</div>
			</div>
		</div>
	</ng-template>
	<ng-template pTemplate="body" let-project let-index="rowIndex">
		<tr [pSelectableRow]="project">
			<td>{{(index + 1)}}. {{project.uiValue}}</td>
		</tr>
	</ng-template>
	<ng-template pTemplate="emptymessage">
		<tr>
			<td>{{ 'LABELS.METADATA_PROJECT_NO_VALUE' | translate }}</td>
		</tr>
	</ng-template>
</p-table>

<app-project-selection-window *ngIf="projectSelectionWindowVisible"
	[selectionMode]="projectSelectionWindowSelectionMode"
	[maximized]="true"
	(valuesSelected)="onProjectSelectionWindowValuesSelected($event)"
	(windowClosed)="onProjectSelectionWindowClosed($event)">
</app-project-selection-window>

<app-dsp-view-window *ngIf="dspViewWindowVisible"
	[projectId]="dspViewWindowProjectId"
	[maximized]="true"
	(windowClosed)="onDspViewWindowClosed($event)">
</app-dsp-view-window>