<p-dataTable [(value)]="permissions" [(selection)]="selectedPermissions">
	<p-column styleClass="col-icon" selectionMode="multiple" [hidden]="readonly"></p-column>
	<p-column styleClass="col-icon">
		<ng-template let-col let-rowData="rowData" let-rowIndex="rowIndex" pTemplate="body">
			<span [class]="'fa ' + getEntityIconName(rowData)"></span>
		</ng-template>
	</p-column>
	<p-column [header]="'LABELS.ENTITY' | translate" field="entityName"></p-column>
	<p-column [header]="'LABELS.RIGHTS' | translate" field="permission">
		<ng-template let-col let-rowData="rowData" let-rowIndex="rowIndex" pTemplate="body">
			<p-radioButton 
				[(ngModel)]="rowData.permission"
				[name]="'permissionGroup' + rowData.entityId" 
				[value]="permissionCoordinator" 
				[disabled]="readonly"
				pTooltip="Coordonator"
				tooltipPosition="bottom"
				label="C">
			</p-radioButton>
			<p-radioButton 
				[(ngModel)]="rowData.permission"
				[name]="'permissionGroup' + rowData.entityId" 
				[value]="permissionColaborator" 
				[disabled]="readonly"
				pTooltip="Colaborator"
				tooltipPosition="bottom"
				label="C">
			</p-radioButton>
			<p-radioButton 
				[(ngModel)]="rowData.permission"
				[name]="'permissionGroup' + rowData.entityId" 
				[value]="permissionEditor" 
				[disabled]="readonly"
				pTooltip="Editor"
				tooltipPosition="bottom"
				label="E">
			</p-radioButton>
			<p-radioButton 
				[(ngModel)]="rowData.permission"
				[name]="'permissionGroup' + rowData.entityId" 
				[value]="permissionReader" 
				[disabled]="readonly"
				pTooltip="Cititor"
				tooltipPosition="bottom"
				label="R">
			</p-radioButton>
		</ng-template>
	</p-column>
</p-dataTable>