<div class="ui-g">
	<div class="ui-g-12">
		<p-button [label]="'LABELS.NEW_PROJECT' | translate" (onClick)="onAddProject()"></p-button>
		<p-button [label]="'LABELS.VIEW_OR_EDIT_PROJECT' | translate" [disabled]="!isProjectSelected()" (onClick)="onEditProject()"></p-button>
	</div>
	<div class="ui-g-12">
		<p-table #dataTable [value]="projects" 
			[(selection)]="selectedProject" 
			selectionMode="single" 
			sortField="name" 
			sortMode="single"
			[scrollable]="true"
			[scrollHeight]="scrollHeight"
			(onRowSelect)="onRowSelect($event)"
			(onRowUnselect)="onRowUnselect($event)">
			<ng-template pTemplate="header">
				<tr>
					<th *ngFor="let column of columns" >
						{{column.header | translate}}
					</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-task>
				<tr [pSelectableRow]="task">
					<td *ngFor="let column of columns" 
						[ngStyle]="task.style">
						<span *ngIf="!isProjectStatusColumn(column)">{{task[column.field]}}</span>
						<span *ngIf="isProjectStatusColumn(column)">{{task[column.field] | translate}}</span>
					</td>
				</tr>
			</ng-template>
		</p-table>
	</div>
</div>

<app-project-window *ngIf="projectWindowVisible" [mode]="projectWindowMode" (windowClosed)="onProjectWindowClosed()"
	[projectId]="projectId" [maximized]="true">
</app-project-window>