<app-loading *ngIf="loadingVisible"></app-loading>
<p-dialog #pDialog [(visible)]="windowVisible" [modal]="true" appendTo="body"
		[contentStyle]="{'height':'70vh'}" [style]="{'width':'90vw','height':'auto'}" 
		(onShow)="onShow($event)" (onHide)="onHide($event)">
	<p-header>
		{{"LABELS.REGISTRU_IESIRI" | translate}} - {{ title }} 
		{{ (isEdit() || isView()) ? ( " - " + ( "LABELS.REGISTRU_IESIRI_NR_INREGISTRARE" | translate ) +": "+ registruIesiri?.numarInregistrare ) : null }} 
		<a [ngClass]="{'ui-dialog-titlebar-icon ui-corner-all':true}" style="position: absolute; right: 30px;"  tabindex="0" role="button" (click)="onToggleMinimize()" (keydown.enter)="onToggleMinimize()">
			<span [ngClass]="minimized ? 'pi pi-chevron-down' : 'pi pi-minus'"></span>
		</a>
	</p-header>

	<form [formGroup]="formGroup" [ngStyle]="{'height':'70vh'}">

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.REGISTRU_IESIRI_DATA_INREGISTRARE" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<p-calendar 
						[showIcon]="true"
						[readonlyInput]="true" 
						[dateFormat]="dateFormat"
						[maxDate]="dataInregistrareMaxDate"
						formControlName="dataInregistrare"
						appendTo="body">
				</p-calendar>
			</div>
			<div *ngIf="dataInregistrareFormControl.invalid && (dataInregistrareFormControl.dirty || dataInregistrareFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.REGISTRU_IESIRI_TIP_DOCUMENT" | translate}}<span *ngIf="!tipDocumentFormControl.disabled">*</span>:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<app-nomenclator-value-field 
					formControlName="tipDocument" 
					[readonly]="tipDocumentFormControl.disabled" 
					[customSortedAttributes]="customSortedAttributes"
					(valueChanged)="onTipDocumentChanged($event)">
				</app-nomenclator-value-field>
			</div>
			<div *ngIf="tipDocumentFormControl.invalid && (tipDocumentFormControl.dirty || tipDocumentFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					<span *ngIf="tipDocumentFormControl.errors['required']">{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}</span>
				</div>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.REGISTRU_IESIRI_DESTINATARI" | translate}}<span *ngIf="!destinatariFormControl.disabled">*</span>:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<app-registru-iesiri-destinatar-manager formControlName="destinatari" [mode]="destinatarWindowMode"  [inputData]="registruIesiriDestinatarManagerInputData" (mappedDestinatarAdded)="onMappedDestinatarAdded($event)"></app-registru-iesiri-destinatar-manager>
			</div>
			<div *ngIf="destinatariFormControl.invalid && (destinatariFormControl.dirty || destinatariFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.REGISTRU_IESIRI_TRIMIS_PE_MAIL" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<p-checkbox formControlName="trimisPeMail" binary="true"></p-checkbox>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.REGISTRU_IESIRI_CONTINUT" | translate}}<span *ngIf="!continutFormControl.disabled">*</span>:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<input pInputText type="text" formControlName="continut">
			</div>
			<div *ngIf="continutFormControl.invalid && (continutFormControl.dirty || continutFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.REGISTRU_IESIRI_NUMAR_PAGINI" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<input pInputText type="number" formControlName="numarPagini">
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.REGISTRU_IESIRI_NUMAR_ANEXE" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<input pInputText type="number" formControlName="numarAnexe" id="anexaId">
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.REGISTRU_IESIRI_INTOCMIT_DE_CATRE" | translate}}<span *ngIf="!intocmitDeFormControl.disabled">*</span>:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<app-user-selector formControlName="intocmitDe"></app-user-selector>
			</div>
			<div *ngIf="intocmitDeFormControl.invalid && (intocmitDeFormControl.dirty || intocmitDeFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.REGISTRU_IESIRI_PROIECTE" | translate}}<span *ngIf="!proiecteFormControl.disabled">*</span>:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<p-multiSelect #proiectMultiselect
						[options]="proiecteItems" 
						[panelStyle]="{'width':widthDropdownProiect}" 
						(onClick)="onClickProiect()"
						(onChange)="onProiectSelectionChanged($event, proiectMultiselect)"
						formControlName="proiecte">
				</p-multiSelect>
			</div>
			<div *ngIf="proiecteFormControl.invalid && (proiecteFormControl.dirty || proiecteFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

		<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.PROJECT_SUBACTIVITY" | translate}}: </div>
		<div class="ui-g-12 ui-sm-12 ui-md-10">
			<p-dropdown 
				[filter]="true"
				[options]="subproiecteItems"
				[autoDisplayFirst]="false"
				[showClear]="true"
				formControlName="subproiect"
				[style]="{'width':'100%'}"
				appendTo="body">
			</p-dropdown>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.REGISTRU_IESIRI_NECESITA_RASPUNS" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<p-checkbox formControlName="necesitaRaspuns" binary="true" (onChange)="onNecesitaRaspunsValueChanged($event)"></p-checkbox>
			</div>
		</div>

		<div *ngIf="necesitaRaspunsFormControl.value" class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.REGISTRU_IESIRI_TERMEN_RASPUNS" | translate}}<span *ngIf="!termenRaspunsFormControl.disabled">*</span>:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<p-calendar 
						[showIcon]="true"
						[dateFormat]="dateFormat"
						[minDate]="termenRaspunsMinDate"
						[monthNavigator]="true" 
						[yearNavigator]="true"
						[yearRange]="yearRange"
						formControlName="termenRaspuns"
						appendTo="body" 
						showButtonBar="true">
				</p-calendar>
			</div>
			<div *ngIf="termenRaspunsFormControl.invalid && (termenRaspunsFormControl.dirty || termenRaspunsFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.REGISTRU_IESIRI_ATTACHMENTS" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<p-fileUpload name="fileUpload[]" 
						multiple="multiple"
						customUpload="true" 
						[disabled]="fileUploadDisabled"
						(uploadHandler)="onUpload($event)"
						(onRemove)="onRemoveFile($event.file)">
					<ng-template pTemplate="content">
						<div class="ui-fileupload-row" *ngFor="let uploadedAttachment of uploadedAttachments; let i = index;">
							<div>{{i+1}}) {{uploadedAttachment.fileName}}</div>
							<div><button pButton type="button" icon="fa fa-fw fa-download" (click)="onDownloadAtasament(uploadedAttachment)"></button></div>
							<div *ngIf="!fileUploadDisabled"><button pButton type="button" icon="fa fa-close" (click)="onRemoveAtasament(uploadedAttachment)" [disabled]="fileUploadDisabled"></button></div>
						</div>
					</ng-template>        
				</p-fileUpload>
			</div>
		</div>
	</form>

	<p-footer>
		<p-button [disabled]="saveButtonDisabled" (onClick)="onSaveAction($event)" [label]="'LABELS.SAVE' | translate"></p-button>
		<p-button (onClick)="onCloseAction($event)" [label]="'LABELS.CLOSE' | translate"></p-button>
	</p-footer>
</p-dialog>

<app-confirmation-window *ngIf="confirmationWindow.visible"
	[messages]="confirmationWindow.messages"
	[confirmationCallback]="confirmationWindow.callback">
</app-confirmation-window>