<p-dialog pDialog [(visible)]="windowVisible" [modal]="true" [maximizable]="true" appendTo="body"
		[contentStyle]="{'height':'70vh'}" [style]="{'width':'85vw','height':'auto'}" 
		(onHide)="onHide($event)">
	<p-header>{{ "LABELS.PROJECT_ESTIMATION" | translate }}</p-header>
	
	<div class="ui-g ui-grid-responsive ui-grid-pad ui-fluid">
		<form [formGroup]="form" novalidate>
			<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
				<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.PROJECT_ESTIMAITON_IN_PERCENT" | translate}}*:</div>
				<div class="ui-g-12 ui-sm-12 ui-md-10">
					<p-spinner formControlName="estimationInPercent" [min]="minEstimationInPercent" [max]="maxEstimationInPercent"></p-spinner>
				</div>
				<div *ngIf="estimationInPercentFormControl.invalid && estimationInPercentFormControl.touched" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
					<div class="ui-message ui-messages-error ui-corner-all">
						<i class="fa fa-close"></i>
						{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
					</div>
				</div>
			</div>

			<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
				<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.PROJECT_ESTIMAITON_START_DATE" | translate}}*:</div>
				<div class="ui-g-12 ui-sm-12 ui-md-10">
					<p-calendar
						[showIcon]="true" 
						[monthNavigator]="true" 
						[yearNavigator]="true"
						[dateFormat]="dateFormat" 
						[yearRange]="yearRange"
						[minDate]="minDate"
						appendTo="body"
						readonlyInput="true" 
						formControlName="startDate">
					</p-calendar>
				</div>
				<div *ngIf="startDateFormControl.invalid && startDateFormControl.touched" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
					<div class="ui-message ui-messages-error ui-corner-all">
						<i class="fa fa-close"></i>
						{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
					</div>
				</div>
			</div>
		</form>
	</div>

	<p-footer>
		<p-button (onClick)="onSaveAction()" [label]="'LABELS.SAVE' | translate"></p-button>
		<p-button (onClick)="onCancelAction()" [label]="'LABELS.CANCEL' | translate"></p-button>
	</p-footer>
</p-dialog>