<app-loading *ngIf="loading"></app-loading>
<form [formGroup]="form">
	<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">

		<!-- description -->
		<div class="ui-grid-row">
			<div class="ui-grid-col-12">
				{{'LABELS.DESCRIPTION' | translate}} *:
			</div>
		</div>
		<div class="ui-grid-row">
			<div class="ui-grid-col-12">
				<input type="text" formControlName="description" pInputText>
			</div>
		</div>
		<div class="ui-grid-row">
			<div class="ui-grid-col-12">
				<div class="ui-message ui-messages-error ui-corner-all" *ngIf="descriptionFormControl.invalid && (descriptionFormControl.dirty || descriptionFormControl.touched)">
					<span class="fa fa-close"></span>					
					<span *ngIf="descriptionFormControl.errors['required'] || descriptionFormControl.errors['blank']">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>
				</div>
			</div>
		</div>

		<!-- expression -->
		<div class="ui-grid-row">
			<div class="ui-grid-col-12">
				{{'LABELS.DOCUMENT_TYPE_TEMPLATE_EXPORT_AVAILABILITY_EXPRESSION' | translate}}:
			</div>
		</div>
		<div class="ui-grid-row">
			<div class="ui-grid-col-12">
				<input type="text" formControlName="exportAvailabilityExpression" pInputText>
			</div>
		</div>

		<!-- uploads-->
		<div class="ui-grid-row">
			<div class="ui-grid-col-12">
				<p-fileUpload 
						[accept]="allowedDocumentTemplateTypesAsString" 
						(onSelect)="onSelect($event)"
						(uploadHandler)="onUpload($event)"
						name="fileUpload[]" 
						chooseLabel="Browse"
						customUpload="true"
						multiple="false"
						invalidFileTypeMessageSummary="{{'MESSAGES.RESTRICTED_FILE_TYPE' | translate}}"
						invalidFileTypeMessageDetail="{{'MESSAGES.ALLOWED_FILE_TYPE' | translate}}{0}">
					<ng-template let-file pTemplate="file">
						<div class="ui-fileupload-row">
							<div>
								{{file.name}}
							</div>
							<div><button pButton type="button" icon="fa fa-close" (click)="onRemoveFile(file)"></button></div>
						</div>
					</ng-template>
					<ng-template pTemplate="content">
						<div *ngIf="hasTemplates">
							<p-table [value]="uploadedDocumentTemplates">
								<ng-template pTemplate="header">
									<tr>
										<th>{{"LABELS.DOCUMENT_TYPE_TEMPLATE_NAME" | translate}}</th>
										<th>{{"LABELS.DOCUMENT_TYPE_TEMPLATE_DESCRIPTION" | translate}}</th>
										<th>{{"LABELS.DOCUMENT_TYPE_TEMPLATE_EXPORT_AVAILABILITY_EXPRESSION" | translate}}</th>
										<th style="width: 70px"></th>
									</tr>
								</ng-template>
								<ng-template pTemplate="body" let-template>
									<tr>
										<td>
											<a href="#" (click)="onDownloadAttachment($event, template)">
												{{template.name}}
											</a>
										</td>
										<td>{{template.description}}</td>
										<td>{{template.exportAvailabilityExpression}}</td>
										<td style="text-align: center">
											<button pButton type="button" icon="fa fa-close" (click)="onRemoveTemplate(template)"></button>
										</td>
									</tr>
								</ng-template>
							</p-table>
						</div>
					</ng-template>
				</p-fileUpload>
			</div>
		</div>
	</div>
</form>
