<div class="ui-g">
	<div class="ui-g-12">
		<p-panel [header]="'LABELS.CALENDAR' | translate" [toggleable]="true" [collapsed]="true">
			<app-calendar-manager [aspectRatio]="calendarAspectRatio"></app-calendar-manager>
			<span style="visibility: hidden">workaround</span>
		</p-panel>
	</div>

	<div class="ui-g-12 ui-g-nopad">
		<div class="ui-g ui-g-nopad">
			<div class="ui-g-12 ui-md-12 ui-lg-6">
				<p-panel [header]="'LABELS.PROJECTS' | translate" [toggleable]="true" [collapsed]="true">
					<app-projects-with-dsp-viewer></app-projects-with-dsp-viewer>
					<span style="visibility: hidden">workaround</span>
				</p-panel>
			</div>
			
			<div class="ui-g-12 ui-md-12 ui-lg-6">
				<p-panel [header]="'LABELS.REALIZATION_DEGREES' | translate" [toggleable]="true" [collapsed]="true">
					<app-projects-with-dsp-degree-of-achievement-charts></app-projects-with-dsp-degree-of-achievement-charts>
					<span style="visibility: hidden">workaround</span>
				</p-panel>
			</div>
		</div>
	</div>

	<div class="ui-g-12">
		<p-panel [header]="'LABELS.TASKS' | translate" [toggleable]="true" [collapsed]="true">
			<div class="ui-g-12" *ngFor="let project of projects">
				<app-project-task-selector [projectId]="project.id">
				</app-project-task-selector>
			</div>
			<span style="visibility: hidden">workaround</span>
		</p-panel>
	</div>
	
	<div class="ui-g-12">
		<p-panel [header]="'LABELS.MY_DOCUMENT_ACTIVITIES' | translate" [toggleable]="true" [collapsed]="true">
			<app-my-document-activities></app-my-document-activities>
		</p-panel>
	</div>

	<div class="ui-g-12">
		<p-panel [header]="'LABELS.MY_PROJECT_ACTIVITIES' | translate" [toggleable]="true" [collapsed]="true">
			<app-my-project-tasks></app-my-project-tasks>
		</p-panel>
	</div>

</div>
