<p-dialog #pDialog [(visible)]="windowVisible" [modal]="true" appendTo="body"
		[contentStyle]="{'height':'70vh'}" [style]="{'width':'90vw','height':'auto'}" 
		(onShow)="onShow($event)" (onHide)="onHide($event)">
	<p-header> 
		{{"LABELS.PROJECT_SELECTION" | translate}} 
		<a [ngClass]="{'ui-dialog-titlebar-icon ui-corner-all':true}" style="position: absolute; right: 30px;"  tabindex="0" role="button" (click)="onToggleMinimize()" (keydown.enter)="onToggleMinimize()">
			<span [ngClass]="minimized ? 'pi pi-chevron-down' : 'pi pi-minus'"></span>
		</a>
	</p-header>
	<p-table #table
			[(selection)]="selectedProjects"
			[value]="projects"  
			[selectionMode]="selectionMode"
			[responsive]="true"
			[resizableColumns]="true"
			[scrollable]="true"
			scrollHeight="350px"
			[paginator]="true" 
			[rows]="pageSize"
			[loading]="dataLoadingVisible"
			[style]="{'height':'70vh'}"
			(onRowSelect)="onProjectSelected($event)"
			(onRowUnselect)="onProjectUnselected($event)">
		<ng-template pTemplate="colgroup" let-columns>
			<colgroup>
				<col style="width: 5%">
				<col style="width: 25%">
				<col style="width: 15%">
				<col style="width: 30%">
				<col style="width: 10%">
				<col style="width: 10%">
				<col style="width: 5%">
			</colgroup>
		</ng-template>
		<ng-template pTemplate="header" let-columns>
			<tr>
				<th pResizableColumn>
					{{"LABELS.NO_CRT" | translate}}
				</th>							
				<th pResizableColumn pSortableColumn="name">
					{{"LABELS.PROJECT_NAME" | translate}}
					<p-sortIcon field="name"></p-sortIcon>
				</th>
				<th pResizableColumn pSortableColumn="projectAbbreviation">
					{{"LABELS.PROJECT_ABBREVIATION" | translate}}
					<p-sortIcon field="projectAbbreviation"></p-sortIcon>
				</th>
				<th pResizableColumn>
					{{"LABELS.PROJECT_DESCRIPTION" | translate}}
				</th>
				<th pResizableColumn pSortableColumn="startDate">
					{{"LABELS.PROJECT_START_DATE" | translate}}
					<p-sortIcon field="startDate"></p-sortIcon>
				</th>
				<th pResizableColumn pSortableColumn="endDate">
					{{"LABELS.PROJECT_END_DATE" | translate}}
					<p-sortIcon field="endDate"></p-sortIcon>
				</th>
				<th pResizableColumn></th>	
			</tr>
			<tr>
				<th></th>
				<th>
					<input pInputText type="text" (input)="table.filter($event.target.value, 'name', 'contains')" style="width: 100%;">
				</th>
				<th>
					<input pInputText type="text" (input)="table.filter($event.target.value, 'projectAbbreviation', 'contains')" style="width: 100%;">
				</th>	
				<th>
					<input pInputText type="text" (input)="table.filter($event.target.value, 'description', 'contains')" style="width: 100%;">
				</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-project let-index="rowIndex">
			<tr [pSelectableRow]="project">
				<td class="ui-resizable-column">{{(index + 1)}}</td>					
				<td class="ui-resizable-column">{{project.name}}</td>
				<td class="ui-resizable-column">{{project.projectAbbreviation}}</td>
				<td class="ui-resizable-column">{{project.description}}</td>
				<td class="ui-resizable-column">{{project.startDate | appDateFormater}}</td>
				<td class="ui-resizable-column">{{project.endDate | appDateFormater}}</td>
				<td class="ui-resizable-column">
					<p-button (onClick)="onViewProjectAction(project)" icon="fa fa-eye"></p-button>
				</td>
			</tr>
		</ng-template>
		<ng-template pTemplate="emptymessage" let-columns>
			<tr>
				<td [attr.colspan]="7">
					{{"LABELS.NO_RECORDS_FOUND" | translate}}
				</td>
			</tr>
		</ng-template>
	</p-table>
	<p-footer>
		<p-button (onClick)="onOKAction()" [label]="'LABELS.OK' | translate" [disabled]="!okActionEnabled"></p-button>
		<p-button (onClick)="onCloseAction()" [label]="'LABELS.CLOSE' | translate"></p-button>
	</p-footer>
</p-dialog>

<app-dsp-view-window *ngIf="dspViewWindowVisible"
	[projectId]="dspViewWindowProjectId"
	(windowClosed)="onDspViewWindowClosed($event)">
</app-dsp-view-window>