<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="CloudFlow" version="2.5">
  <display-name>TaxiApp</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <context-param>
    <description>versiunea curenta a aplicatiei</description>
    <param-name>TaxiAppVersion</param-name>
    <param-value>0.1</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
			/WEB-INF/springConfig/context.xml
			/WEB-INF/springConfig/misc.xml
			/WEB-INF/springConfig/organization.xml
			/WEB-INF/springConfig/parameters.xml
			/WEB-INF/springConfig/process.xml
			/WEB-INF/springConfig/security.xml
			/WEB-INF/springConfig/rest.xml
        </param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
  </listener>
  <filter>
    <filter-name>RequestContextFilter</filter-name>
    <filter-class>org.springframework.web.filter.RequestContextFilter</filter-class>
  </filter>
  <filter>
    <filter-name>HibernateCustomOpenSessionInViewFilter</filter-name>
    <filter-class>ro.taxiApp.docs.web.filters.HibernateCustomOpenSessionInViewFilter</filter-class>
  </filter>
  <filter>
	<filter-name>springSecurityFilterChain</filter-name>
	<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>  
  <filter-mapping>
    <filter-name>RequestContextFilter</filter-name>
    <servlet-name>JerseySpringDispatcherServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>HibernateCustomOpenSessionInViewFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>   
  <servlet>
    <servlet-name>ExceptionLoggingServlet</servlet-name>
    <servlet-class>ro.taxiApp.docs.web.servlets.ExceptionLoggingServlet</servlet-class>
  </servlet>
  <servlet> 
	<servlet-name>JerseySpringDispatcherServlet</servlet-name>
	<servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
	<init-param>
		<param-name>com.sun.jersey.config.property.packages</param-name>
		<param-value>ro.taxiApp.docs.web.rest.config</param-value>
	</init-param>
	<init-param>
		<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
		<param-value>true</param-value>
	</init-param>
	<init-param>
		<param-name>com.sun.jersey.config.feature.DisableWADL</param-name>
		<param-value>true</param-value>
	</init-param>
	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
	<servlet-name>JerseySpringDispatcherServlet</servlet-name>
	<url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExceptionLoggingServlet</servlet-name>
    <url-pattern>/ExceptionLoggingServlet</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/ExceptionLoggingServlet</location>
  </error-page>
</web-app>