<div class="toolbar-buttons">
	<button pButton [disabled]="isDisabledForAdd" (click)="onAddFolder()" type="button" icon="fa fa-plus"
            [pTooltip]="'LABELS.ADD' | translate" tooltipPosition="bottom">
    </button>
	<button pButton [disabled]="isDisabledForEdit" (click)="onEditFolder()" type="button" icon="fa fa-fw fa-edit"
            [pTooltip]="'LABELS.EDIT' | translate" tooltipPosition="bottom">
    </button>
	<button pButton [disabled]="isDisabledForDelete" (click)="onDeleteFolder()" type="button" icon="fa fa-trash-o"
            [pTooltip]="'LABELS.DELETE' | translate" tooltipPosition="bottom">
    </button>
</div>

<app-folder-window
    *ngIf="folderWindowVisible"
    [inputData]="folderWindowInputData"
    [mode]="folderWindowMode"
    [maximized]="true"
    (windowClosed)="onFolderWindowClosed()"
    (folderSaved)="onFolderSaved()">
</app-folder-window>