<p-fieldset>
  <p-header>{{"LABELS.PLACE_ORDER" | translate}}</p-header>
  <form [formGroup]="form">

		<div class="ui-g ui-fluid">
			<div class="ui-g-3 ui-sm-12 ui-md-4">{{"LABELS.START_ADRESS" | translate}}*:</div>
			<div class="ui-g-9 ui-sm-12 ui-md-8">
				<input pInputText formControlName="startAdress" type="text"/>
			</div>
			<div *ngIf="startAdressFormControl.invalid && (startAdressFormControl.dirty || startAdressFormControl.touched)" class="ui-g-12">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

    	<div class="ui-g ui-fluid">
			<div class="ui-g-3 ui-sm-12 ui-md-4">{{"LABELS.END_ADRESS" | translate}}*:</div>
			<div class="ui-g-9 ui-sm-12 ui-md-8">
				<input pInputText formControlName="endAdress" type="text"/>
			</div>
			<div *ngIf="endAdressFormControl.invalid && (endAdressFormControl.dirty || endAdressFormControl.touched)" class="ui-g-12">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

		<div class="ui-g ui-fluid">
			<div class="ui-g-3 ui-sm-12 ui-md-4">{{"LABELS.OBSERVATIONS" | translate}}:</div>
			<div class="ui-g-9 ui-sm-12 ui-md-8">
				<input pInputText formControlName="observations" type="text"/>
			</div>
		</div>

		<div class="ui-g ui-fluid">
			<div class="ui-g-3 ui-sm-12 ui-md-4">{{"LABELS.CAR_CATEGORY" | translate}}:</div>
			<div class="ui-g-9 ui-sm-12 ui-md-8">
				<p-dropdown [options]="categoryOptions" optionLabel="name" formControlName="carCategory" (onChange)="onCategoryChange($event)"></p-dropdown>
			</div>
		</div>

		<div class="ui-g ui-fluid">
			<div class="ui-g-1 ui-md-2 ui-sm-12">
				<p-button class="button" *ngIf="!isEditMode" (onClick)="onOrderAction($event)" [disabled]="currentOrderActive" [label]="'LABELS.ORDER' | translate"></p-button>
				<p-button class="button" *ngIf="isEditMode" (onClick)="onOrderAction($event)" [label]="'LABELS.SAVE' | translate"></p-button>
			</div>
		</div>
	</form>	
  
</p-fieldset>

<p-fieldset *ngIf="currentOrderActive">
	<p-header>{{"LABELS.CURRENT_ORDER" | translate}}</p-header>
	<div class="ui-g ui-fluid">
		<div class="ui-g-3 ui-sm-12 ui-md-4">{{"LABELS.START_ADRESS" | translate}}:</div>
		<div class="ui-g-9 ui-sm-12 ui-md-8">
			<b>{{currentOrder.startAdress}}</b>
		</div>
	</div>

	<div class="ui-g ui-fluid">
		<div class="ui-g-3 ui-sm-12 ui-md-4">{{"LABELS.END_ADRESS" | translate}}:</div>
		<div class="ui-g-9 ui-sm-12 ui-md-8">
			<b>{{currentOrder.endAdress}}</b>
		</div>
	</div>

	<div class="ui-g ui-fluid">
		<div class="ui-g-3 ui-sm-12 ui-md-4">{{"LABELS.OBSERVATIONS" | translate}}:</div>
		<div class="ui-g-9 ui-sm-12 ui-md-8">
			<b>{{currentOrder.observations}}</b>
		</div>
	</div>

	<div class="ui-g ui-fluid">
		<div class="ui-g-3 ui-sm-12 ui-md-4">{{"LABELS.CAR_CATEGORY" | translate}}:</div>
		<div class="ui-g-9 ui-sm-12 ui-md-8">
			<b>{{getCarCategoryForDisplay(currentOrder.carCategoryId)}}</b>
		</div>
	</div>

	<div class="ui-g ui-fluid">
		<div class="ui-g-3 ui-sm-12 ui-md-4">{{"LABELS.DRIVER" | translate}}:</div>
		<div class="ui-g-9 ui-sm-12 ui-md-8">
			<b>{{searchDriverText}}</b>
		</div>
	</div>

	<div class="ui-g">
		<div class="button-container ui-g-5 ui-lg-5 ui-md-6 ui-sm-12">
			<p-button (onClick)="onCancelCurrentOrder($event)" [label]="'LABELS.CANCEL' | translate"></p-button>
			<p-button (onClick)="onEditCurrentOrder($event)" [label]="'LABELS.EDIT' | translate"></p-button>
		</div>
	</div>	

</p-fieldset>