<div class="ui-g ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
	<form [formGroup]="form">
		<div class="ui-g-12 ui-g-nopad">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.PATH" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<input pInputText formControlName="path" type="text" readonly="true"/>
			</div>
		</div>
	
		<div class="ui-g-12 ui-g-nopad">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.NAME" | translate}}*:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<input pInputText  formControlName="name" type="text" required/>
			</div>
			<div *ngIf="folderNameFormControl.invalid && folderNameFormControl.touched" class="ui-g-12 ui-sm-12 ui-md-10 ui-md-offset-2">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>
	
		<div class="ui-g-12 ui-g-nopad">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.DESCRIPTION" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<textarea pInputTextarea formControlName="description" autoResize="true"></textarea>
			</div>
		</div>
	
		<div class="ui-g-12 ui-g-nopad">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.ALLOWED_DOCUMENT_TYPE" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<app-document-type-selector 
					formControlName="documentType" 
					[isSelectToateDisabled]="true">
				</app-document-type-selector>
			</div>
		</div>
	</form>
</div>