<div class="ui-g">
	<div class="ui-g-12">
		<p-button [label]="'LABELS.ADD' | translate" (onClick)="onAddDispatcher()"></p-button>
		<p-button [label]="'LABELS.EDIT' | translate" [disabled]="editButtonDisabled" (onClick)="onEditDispatcher()"></p-button>
		<p-button [label]="'LABELS.DELETE' | translate" [disabled]="deleteButtonDisabled" (onClick)="onDeleteDispatcher()"></p-button>
	</div>
	<div class="ui-g-12">
		<p-table [value]="dispatchers" selectionMode="single" [(selection)]="selectedDispatcher"
				[scrollable]="true" [scrollHeight]="scrollHeight" [columns]="columns"  
				(onRowSelect)="onDispatcherSelected($event)" (onRowUnselect)="onDispatcherUnselected($event)" autoLayout="true">
			<ng-template pTemplate="colgroup" let-columns>
				<colgroup>
					<col *ngFor="let col of columns" style="width: 150px;">
				</colgroup>
			</ng-template>
			<ng-template pTemplate="header">
				<tr>
					<th *ngFor="let col of columns">
						{{col.header}}
					</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-dispatcher>
				<tr [pSelectableRow]="dispatcher">
					<td>{{dispatcher.firstName}}</td>
					<td>{{dispatcher.lastName}}</td>
					<td>{{dispatcher.username}}</td>
					<td>{{dispatcher.email}}</td>
					<td>{{dispatcher.mobile}}</td>
				</tr>
			</ng-template>
      		<ng-template pTemplate="emptymessage">
				<tr>
					<td [attr.colspan]="6" style="text-align: center;">
            			{{'LABELS.NO_RECORDS_FOUND' | translate}}
          			</td>
				</tr>
			</ng-template>
		</p-table>
	</div>
</div>
	
<app-dispatchers-window *ngIf="dispatcherWindowVisible" [mode]="dispatcherWindowMode" [dispatcherId]="dispatcherWindowDispatcherId"
		(windowClosed)="onDispatcherWindowClosed()" (dataSaved)="onDispatcherWindowDataSaved()">
</app-dispatchers-window>