<div class="ui-g">
	
	<div class="ui-g-12">
		<p-button [label]="'LABELS.ADD' | translate" (onClick)="onAdd($event)"></p-button>
		<p-button [label]="'LABELS.EDIT' | translate" (onClick)="onEdit($event)" [disabled]="editButtonDisabled"></p-button>
		<p-button [label]="'LABELS.DELETE' | translate" (onClick)="onDelete($event)" [disabled]="deleteButtonDisabled"></p-button>
		<p-button [label]="'LABELS.REFRESH' | translate" (onClick)="onRefresh($event)"></p-button>
	</div>

	<div class="ui-g-12">
		<p-table [(selection)]="selectedNomenclator" [columns]="columns" [value]="nomenclators" [paginator]="true" [resizableColumns]="true"
				[rows]="10" [loading]="dataLoading" (onRowSelect)="onNomenclatorSelect($event)" (onRowUnselect)="onNomenclatorUnselect($event)" 
				selectionMode="single" [scrollable]="true" [scrollHeight]="scrollHeight">

			<ng-template pTemplate="header" let-columns>
				<tr>
					<th pResizableColumn style="width: 30%">{{"LABELS.NAME" | translate}}</th>
					<th pResizableColumn style="width: 70%">{{"LABELS.DESCRIPTION" | translate}}</th>
				</tr>
			</ng-template>

			<ng-template pTemplate="body" let-nomenclator>
				<tr [pSelectableRow]="nomenclator">
					<td>{{ nomenclator.name }}</td>
					<td>{{ nomenclator.description }}</td>
				</tr>
			</ng-template>

			<ng-template pTemplate="emptymessage">
				<tr>
					<td [attr.colspan]="columns.length" style="text-align: center">
						{{'LABELS.NO_RECORDS_FOUND' | translate}}
					</td>
				</tr>
			</ng-template>
		</p-table>
	</div>
</div>

<app-nomenclator-window
		*ngIf="nomenclatorWindowVisible" 
		[mode]="nomenclatorWindowMode" 
		[nomenclatorId]="nomenclatorWindowNomenclatorId"
		(windowClosed)="onNomenclatorWindowClosed($event)">
</app-nomenclator-window>