<div class="ui-g">
	<div class="ui-g-12">
		<p-button [label]="'LABELS.ADD' | translate" (onClick)="onAdd()"></p-button>
		<p-button [label]="'LABELS.EDIT' | translate" (onClick)="onEdit()" [disabled]="!isMimeTypeSelected()"></p-button>
		<p-button [label]="'LABELS.DELETE' | translate" (onClick)="onRemove()" [disabled]="!isMimeTypeSelected()"></p-button>
		<p-button [label]="'LABELS.REFRESH' | translate" (onClick)="onRefreshMimeTypesSelector()"></p-button>
	</div>

	<div class="ui-g-12">
		<app-mime-type-selector (selectionChanged)="onMimeTypesSelectionChanged($event)"></app-mime-type-selector>
	</div>
</div>

<app-mime-type-window
	*ngIf="mimeTypeWindowVisible"
	[mode]="mimeTypeWindowMode"
	[mimeTypeId]="selectedMimeTypeId"
	(windowClosed)="onMimeTypeWindowClosed()"
	(dataSaved)="onMimeTypeWindowDataSaved()">
</app-mime-type-window>