<div class="ui-g">
	<div class="ui-g-12">
		<div class="ui-grid-col-5">
			<span *ngIf="nomenclatorsLoading">{{'MESSAGES.LOADING' | translate}}</span>
			<p-dropdown *ngIf="!nomenclatorsLoading"
				[options]="nomenclators" 
				[(ngModel)]="selectedNomenclator"
				optionLabel="name"
				filter="true"
				[style]="{'width':'100%'}"
				autoDisplayFirst="false"
				[placeholder]="'LABELS.SELECT_NOMENCLATOR' | translate" 
				filter="true"
				(onChange)="onNomenclatorSelected($event)">
			</p-dropdown>
		</div>
	</div>
	
	<app-nomenclator-data-toolbar
			[inputData]="toolbarInputData"
			[permissions]="toolbarPermissions"
			(actionPerformed)="onToolbarActionPerformed($event)">
	</app-nomenclator-data-toolbar>
	
	<div class="ui-g-12">
		<app-nomenclator-data-table 
				*ngIf="nomenclatorDataTableVisible"
				[nomenclatorId]="nomenclatorDataTableNomenclatorId"
				[selectionMode]="nomenclatorDataTableMode"
				(selectionChanged)="onNomenclatorDataTableDataSelected($event)">
		</app-nomenclator-data-table>
	</div>
</div>