.login-panel {
	top: 20%;
	height: 500px;
}
.logo-text { 
	font-size: 1.5em;
	font-weight: bold;
	color: #ffffff;
}
.login-panel .login-panel-title {
	font-size: 1.5em;
	font-weight: bold;
	color: #EB4C2B;
	height: 28px;
    width: auto;
}

.login-panel .login-panel-message-container {
	font-size: 1em;
	color: red;
	margin-top: 0px;
	margin-bottom: 5px;
	vertical-align: middle;
}