<p-pickList
		[source]="_sourceItems"
		[target]="_targetItems"
		[responsive]="true"
		[showSourceControls]="showControls"
		[showTargetControls]="showControls"
		[disabled]="readonly"
		[filterBy]="_propertyNameToFilter"
		[showSourceFilter]="_showSourceFilter"
		[showTargetFilter]="_showTargetFilter"
		(onMoveToTarget)="onTargetChanged($event)"
		(onMoveToSource)="onTargetChanged($event)"
		(onMoveAllToTarget)="onTargetChanged($event)"
		(onMoveAllToSource)="onTargetChanged($event)">
	<ng-template let-item pTemplate="item">
		<div class="ui-helper-clearfix">
			<div style="margin: 5px 10px">
				{{ item[propertyNameToDisplay] }}
			</div>
		</div>
	</ng-template>
</p-pickList>