<div class="ui-g">
	<div class="ui-g-12">
		<p-button [label]="'LABELS.ADD' | translate" (click)="onAdd($event)"></p-button>
		<p-button [label]="'LABELS.EDIT' | translate" (click)="onEdit($event)" [disabled]="!(selectedReplacement != null)"></p-button>
		<p-button [label]="'LABELS.DELETE' | translate" (click)="onRemove($event)"></p-button>
		<p-button [label]="'LABELS.REFRESH' | translate" (click)="onRefresh($event)"></p-button>
	</div>

	<div class="ui-g-12">
		<p-table 
				[(selection)]="selectedReplacement" 
				[columns]="columns" 
				[value]="replacements"
				[responsive]="true"
				selectionMode="single"
				[scrollable]="true" 
				[scrollHeight]="scrollHeight">
			<ng-template pTemplate="colgroup">
				<colgroup>
					<col style="width: 25%">
					<col style="width: 30%">
					<col style="width: 15%">
					<col style="width: 15%">
					<col style="width: 15%">
				</colgroup>
			</ng-template>
			<ng-template pTemplate="header" let-columns>
				<tr>
					<th *ngFor="let column of columns" [pSortableColumn]="column.filterField">
						{{column.header | translate}}
						<p-sortIcon [field]="column.filterField"></p-sortIcon>
					</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-rowData let-columns="columns">
				<tr [pSelectableRow]="rowData">
					<td *ngFor="let column of columns">
						{{rowData[column.field]}}
					</td>
				</tr>
			</ng-template>
		</p-table>
	</div>
</div>
<app-replacement-profiles-window *ngIf="replacementProfilesWindowVisible" [mode]="replacementProfilesWindowMode" 
	[replacementProfileId]="replacementProfileId" (windowClosed)="onReplacementProfilesWindowClosed()" 
	(actionPerformed)="onReplacementProfilesWindowActionPerformed()">
</app-replacement-profiles-window>