body {
/*	background:#2288ce url("../images/gray/interfata/body_bg.jpg") no-repeat top center !important;
*/
	background:#FFFFFF !important;
}

/*.x-panel-body {
	background-color: transparent !important;
}*/

.north .x-panel-body  {
	background: transparent url("../images/gray/interfata/contentheader_bg.png") repeat-x top center !important;
	
}


.x-border-layout-ct {
	background-color: transparent !important;
	/*border-color: transparent !important;*/	
}

.pad-text .x-window-mc {
	background: #ffffff !important;
}

.admin-header {
	
	border-bottom:2px solid #fe6832 !important;
	}
	
.west-window  .x-panel-header {
	border: transparent !important;
}
.west-window  .x-panel-body {
	border-left:0px !important;
	border-bottom:0px !important;
	border-top:0px transparent !important;
	padding-top:0px !important;
}

.center_middle  .x-view {
	border: transparent !important;
}

.center_bottom .x-panel-body {
        border:0px !important;
        padding:5px !important;
}

.center-window  .x-panel-header {
	border: transparent !important;
}
.center-window  .x-panel-body {
	border-right:0px !important;
	border-bottom:0px !important;
	border-top:0px !important;
}

.details {
	background-color: #f0f0f0 !important;
}
/*<Adaugate de Silviu>*/
.client_over {
  background: url(../images/gray/interfata/client_over.png) no-repeat center !important;
  margin:0 5px;
}
.client {
  background: url(../images/gray/interfata/client.png) no-repeat center !important;
  margin:0 5px;
}
.archive_over {
  background: url(../images/gray/interfata/archive_over.png) no-repeat center !important;
  margin:0 5px;
}
.archive {
  background: url(../images/gray/interfata/archive.png) no-repeat center !important;
  margin:0 5px;
}
.nav_main .x-btn-mc{
   background: transparent !important;
   margin-top:40px !important;
   text-align:left !important;
}

.nav_main .x-btn-ml {
	background: transparent !important;
}

.nav_main .x-btn-mr {
	background: transparent !important;
}

.nav_main .x-btn-tl {
	background: transparent !important;
}

.nav_main .x-btn-tc {
	background: transparent !important;
}

.nav_main .x-btn-tr {
	background: transparent !important;
}

.nav_main .x-btn-bl {
	background: transparent !important;
}

.nav_main .x-btn-bc {
	background: transparent !important;
}

.nav_main .x-btn-br {
	background: transparent !important;
}
.nav_main .x-btn-text {
	color: #fe6832 !important;
	font-weight: bold !important;	
	width: 100% !important;	
	text-align:left !important;
}
.x-border{
	border-right-width : 0px !important;
	border-left-width : 0px !important;
	border-top-width : 0px !important;
	border-bottom-width : 1px !important;
}
.nav_main .x-btn-tl .x-btn-tr .x-btn-tc .x-btn-ml .x-btn-mr .x-btn-mc .x-btn-bl .x-btn-br .x-btn-bc .x-border {
	background: transparent !important;
	text-decoration:none !important;
}
.left_panel {
	border-right-width : 0px !important;
	border-left-width : 0px !important;
	border-top-width : 1px !important;
	border-bottom-width : 0px !important;
}
.left_content {
	border-right-width : 0px !important;
	border-left-width : 1px !important;
	border-top-width : 0px !important;
	border-bottom-width : 1px !important;
}
.nav_child .x-btn-mc{
   background: transparent !important;
   margin-top:40px !important;
   text-align:left !important;
}

.nav_child .x-btn-ml {
	background: transparent !important;
}

.nav_child .x-btn-mr {
	background: transparent !important;
}

.nav_child .x-btn-tl {
	background: transparent !important;
}

.nav_child .x-btn-tc {
	background: transparent !important;
}

.nav_child .x-btn-tr {
	background: transparent !important;
}

.nav_child .x-btn-bl {
	background: transparent !important;
}

.nav_child .x-btn-bc {
	background: transparent !important;
}

.nav_child .x-btn-br {
	background: transparent !important;
}
.nav_child .x-btn-text {
	color: :#555455 !important;
	
}
.nav_child .x-btn-tl .x-btn-tr .x-btn-tc .x-btn-ml .x-btn-mr .x-btn-mc .x-btn-bl .x-btn-br .x-btn-bc {
	background: transparent !important;
	text-decoration: normal !important;
}
.nav_child_bg {
	background-color: #FAF9FA !important;
}
#content_button_panel {
	text-align: left !important
}
.icon_nav_open {
	background: url(../images/gray/interfata/nav_open.png) no-repeat center;
}
.icon_nav_close {
	background: url(../images/gray/interfata/nav_close.png) no-repeat center;
}
.username {
	font-family:Arial !important;
	font-weight:bold !important;
	font-size:11px !important;
}
.ro_on {
  background: url(../images/gray/interfata/romana_on.png) no-repeat center !important;
  margin:0 5px;
}
.ro_off {
  background: url(../images/gray/interfata/romana_off.png) no-repeat center !important;
  margin:0 5px;
}
.en_on {
  background: url(../images/gray/interfata/english_on.png) no-repeat center !important;
  margin:0 5px;
}
.en_off {
  background: url(../images/gray/interfata/english_off.png) no-repeat center !important;
  margin:0 5px;
}
.content_container {
	margin: 0px	!important;
	border-right-width : 0px !important;
	border-left-width : 0px !important;
	border-top-width : 0px !important;
	border-bottom-width : 0px !important;
}
.admin_toolbar {
	background-color: #FFFFFF !important;
	border-color: #D0D0D0 !important;
	border-right-width : 1px !important;
	border-left-width : 1px !important;
	border-top-width : 1px !important;
	border-bottom-width : 1px !important;
	height: 31px !important;
	padding-top: 8px !important;
	padding-left: 12px !important;
}
.admin_toolbar_buttons .x-btn-mc{
   background: transparent !important;
   margin-top:40px !important;
   text-align:left !important;
}

.admin_toolbar_buttons .x-btn-ml {
	background: transparent !important;
}

.admin_toolbar_buttons .x-btn-mr {
	background: transparent !important;
}

.admin_toolbar_buttons .x-btn-tl {
	background: transparent !important;
}

.admin_toolbar_buttons .x-btn-tc {
	background: transparent !important;
}

.admin_toolbar_buttons .x-btn-tr {
	background: transparent !important;
}

.admin_toolbar_buttons .x-btn-bl {
	background: transparent !important;
}

.admin_toolbar_buttons .x-btn-bc {
	background: transparent !important;
}

.admin_toolbar_buttons .x-btn-br {
	background: transparent !important;
}
.admin_toolbar_buttons .x-btn-text {
	color: #555455 !important;
	font-weight: bold !important;
	
}
.admin_toolbar_buttons {
	border-right-width : 1px !important;
	border-left-width : 1px !important;
	border-top-width : 1px !important;
	border-bottom-width : 1px !important;
}
.admin_toolbar_buttons	table:hover{
	background: green !important; /*NU MERGE*/
}
.admin_toolbar_buttons .x-btn-tl .x-btn-tr .x-btn-tc .x-btn-ml .x-btn-mr .x-btn-mc .x-btn-bl .x-btn-br .x-btn-bc{
background: gray !important;
	text-decoration: normal !important;
}

/*</Adaugate de Silviu>*/
.editbutton .x-btn-mc{
	width:78px !important;
	height:23px !important;
	text-align:center;
	background: transparent url("../images/gray/interfata/claim.png") no-repeat top left !important;
}

.editbutton .x-btn-text {
	color:#ffffff !important;
}

.editbutton .x-btn-ml {
	background: transparent !important;
}

.editbutton .x-btn-mr {
	background: transparent !important;
}

.editbutton .x-btn-tl {
	background: transparent !important;
}

.editbutton .x-btn-tc {
	background: transparent !important;
}

.editbutton .x-btn-tr {
	background: transparent !important;
}

.editbutton .x-btn-bl {
	background: transparent !important;
}

.editbutton .x-btn-bc {
	background: transparent !important;
}

.editbutton .x-btn-br {
	background: transparent !important;
}


.editbutton .x-btn-tl .x-btn-tr .x-btn-tc .x-btn-ml .x-btn-mr .x-btn-mc .x-btn-bl .x-btn-br .x-btn-bc {
	background: #ffffff !important;
}


.editbutton_over .x-btn-mc{
	width:78px !important;
	height:23px !important;
	text-align:center;
	background: transparent url("../images/gray/interfata/claimed.png") no-repeat top left !important;
}

.editbutton_over .x-btn-text {
	color:#ffffff !important;
}

.editbutton_over .x-btn-ml {
	background: transparent !important;
}

.editbutton_over .x-btn-mr {
	background: transparent !important;
}

.editbutton_over .x-btn-tl {
	background: transparent !important;
}

.editbutton_over .x-btn-tc {
	background: transparent !important;
}

.editbutton_over .x-btn-tr {
	background: transparent !important;
}

.editbutton_over .x-btn-bl {
	background: transparent !important;
}

.editbutton_over .x-btn-bc {
	background: transparent !important;
}

.editbutton_over .x-btn-br {
	background: transparent !important;
}


.editbutton_over .x-btn-tl .x-btn-tr .x-btn-tc .x-btn-ml .x-btn-mr .x-btn-mc .x-btn-bl .x-btn-br .x-btn-bc {
	background: #ffffff !important;
}





.logoheader, .buttonheader, .logoutheader, .searchheader, .fillheader, .searchbutton, .separator, .default{
	background: transparent url("../images/gray/interfata/contentheader_bg.png") repeat-x top left !important;
}

#header_left {
	width:15px;
	height:70px;
	background: transparent url("../images/gray/interfata/leftheader_bg.png") no-repeat top left !important;
}

#header_right {
	width:15px;
	height:70px;
	background: transparent url("../images/gray/interfata/rightheader_bg.png") no-repeat top left !important;
}

#logo {
	width:146px;
	height:70px;
	background: transparent url("../images/gray/interfata/logo.png") no-repeat top left !important;
}

#separator {
	width:30px !important;
	height:53px !important;
	background: transparent url("../images/gray/interfata/separator.png") no-repeat top center !important;
}



.searchgo {
  background: url(../images/gray/interfata/search_0.png) no-repeat center left !important;
  margin:0 10px;
}

.searchgo_over {
  background: url(../images/gray/interfata/search_1.png) no-repeat center left !important;
  margin:0 10px;
}

.workflow {
  background: url(../images/gray/interfata/workflow_0.png) no-repeat center !important;
  margin:0 5px;
}

.workflow_over {
  background: url(../images/gray/interfata/workflow_1.png) no-repeat center !important;
  margin:0 5px;
}

.manage {
  background: url(../images/gray/interfata/manage_0.png) no-repeat center !important;
  margin:0 5px;
}

.manage_over {
  background: url(../images/gray/interfata/manage_1.png) no-repeat center !important;
  margin:0 5px;
}

.favorite {
  background: url(../images/gray/interfata/fav_0.png) no-repeat center !important;
  margin:0 5px;
}

.favorite_over {
  background: url(../images/gray/interfata/fav_1.png) no-repeat center !important;
  margin:0 5px;
}

.delete {
  background: url(../images/gray/interfata/del_0.png) no-repeat center !important;
  margin:0 5px;
}

.delete_over {
  background: url(../images/gray/interfata/del_1.png) no-repeat center !important;
  margin:0 5px;
}

.add {
  background: url(../images/gray/interfata/add_0.png) no-repeat center !important;
  margin:0 5px 0 0;
}

.add_over {
  background: url(../images/gray/interfata/add_1.png) no-repeat center !important;
  margin:0 5px 0 0;
}

.logoutbutton .x-btn-mc{
	background: transparent !important;
        margin-top:40px !important;
}

.logoutbutton .x-btn-ml {
	background: transparent !important;
}

.logoutbutton .x-btn-mr {
	background: transparent !important;
}

.logoutbutton .x-btn-tl {
	background: transparent !important;
}

.logoutbutton .x-btn-tc {
	background: transparent !important;
}

.logoutbutton .x-btn-tr {
	background: transparent !important;
}

.logoutbutton .x-btn-bl {
	background: transparent !important;
}

.logoutbutton .x-btn-bc {
	background: transparent !important;
}

.logoutbutton .x-btn-br {
	background: transparent !important;
}

.logoutbutton .x-btn-tl .x-btn-tr .x-btn-tc .x-btn-ml .x-btn-mr .x-btn-mc .x-btn-bl .x-btn-br .x-btn-bc {
	background: #ffffff !important;
}

.wrapper {
    width:100px !important;
    text-align:center !important;
    float:left;
    padding:10px;
}

.wrapper_list {
    width:90% !important;
    text-align:left !important;
    padding:10px !important;
}


.container {
    width:80px !important;
    margin:0 auto !important;
    padding:10px;
}

.thumb {
    width:80px !important;
    margin:0 auto !important;
    text-align:center !important;
}

.text {
    width:80px !important;
    margin:0 auto !important;
    text-align:center !important;
}


.add_folder {
    	background: url(../images/gray/interfata/folder_add.png) no-repeat center left !important;
}

.move_folder {
    	background: url(../images/gray/interfata/folder_move.png) no-repeat center left !important;
}

.edit_folder {
	background: url(../images/gray/interfata/folder_edit.png) no-repeat center left !important;
}

.del_folder {
    	background: url(../images/gray/interfata/folder_del.png) no-repeat center left !important;
}

.checkin {
    	background: url(../images/gray/interfata/checkin.png) no-repeat center left !important;
}

.checkout {
    	background: url(../images/gray/interfata/checkout.png) no-repeat center left !important;
}

.add_workspace {
    	background: url(../images/gray/interfata/workspace_add.png) no-repeat center left !important;
}

.edit_workspace {
    	background: url(../images/gray/interfata/workspace_add.png) no-repeat center left !important;
}

.del_workspace {
    	background: url(../images/gray/interfata/workspace_del.png) no-repeat center left !important;
}

.add_file {
    	background: url(../images/gray/interfata/file_add.png) no-repeat center left !important;
}

.move_file {
    	background: url(../images/gray/interfata/file_move.png) no-repeat center left !important;

}

.del_file {
    	background: url(../images/gray/interfata/file_del.png) no-repeat center left !important;
}

.view_list {
    	background: url(../images/gray/interfata/view_list.png) no-repeat center left !important;
}

.view_icons {
    	background: url(../images/gray/interfata/view_icons.png) no-repeat center left !important;
}

.finishbutton {
    	background: url(../images/gray/interfata/wizard_finish.png) no-repeat center left !important;
}

.prevbutton {
    	background: url(../images/gray/interfata/wizard_left.png) no-repeat center left !important;
}

.nextbutton {
    	background: url(../images/gray/interfata/wizard_right.png) no-repeat center left !important;
}

.addbutton {
        background: url(../images/gray/interfata/wizard_add.png) no-repeat center left !important;
}

.removebutton {
        background: url(../images/gray/interfata/wizard_del.png) no-repeat center left !important;
}

.searchbutton_wiz {
        background: url(../images/gray/interfata/wizard_search.png) no-repeat center left !important;
}

.addbutton_wiz {
        background: url(../images/gray/interfata/wizard_add2.png) no-repeat center left !important;
}

.salveaza {
        background: url(../images/gray/interfata/save_file.png) no-repeat center left !important;
}

.anuleaza {
        background: url(../images/gray/interfata/reset_file.png) no-repeat center left !important;
}

.checkBoxWithPossibleLongBoxLabel {
	height: auto !important;
}

.lock_true {
/*    width:40px;
    height:40px;*/
    background: url(../images/gray/interfata/lock_1.png) no-repeat left bottom !important;
}

.lock_false {
/*    width:40px;
    height:40px;*/
    background: url(../images/gray/interfata/lock_0.png) no-repeat left bottom !important;
}

.buton_client {
/*   width:40px;
    height:40px;*/
    color: #fff;
background-color:green;
height:40px;
width:20px;
color:green;
 /*   
    text-align:right;
 	font-weight: bold;
    background: transparent url(../images/gray/interfata/SwitchAdminClient.png) no-repeat left top !important;
*/
}
.buton_archive {
/*    width:40px;
    height:40px;*/
    background: url(../images/gray/interfata/SwitchAdminArchive.png) no-repeat left top !important;
}

.workflow_false {
/*    width:40px;
    height:40px;*/
    background: url(../images/gray/interfata/workflow_icon_0.png) no-repeat left top !important;
}

.workflow_true {
/*    width:40px;
    height:40px;*/
    background: url(../images/gray/interfata/workflow_icon_1.png) no-repeat left top !important;
}

.descriere_editor p {
    padding:0 !important;
    margin:2px !important;

}

.text_editor p {
    padding:0 !important;
    margin:2px !important;

}

.dock_left {
    background: url(../images/gray/interfata/dock/dock_left.png) no-repeat center left !important;
}

.dock_bg {
    background: url(../images/gray/interfata/dock/dock_line.png) repeat-x center left !important;
}

.dock_right {
    background: url(../images/gray/interfata/dock/dock_right.png) no-repeat center left !important;
}

.manager_off {
    background: url(../images/gray/interfata/dock/explorer_off.png) no-repeat center left !important;
}

.manager_on {
    background: url(../images/gray/interfata/dock/explorer_on.png) no-repeat center left !important;
}

.todo_off {
    background: url(../images/gray/interfata/dock/todo_off.png) no-repeat center left !important;
}

.todo_on {
    background: url(../images/gray/interfata/dock/todo_on.png) no-repeat center left !important;
}

.fav_off {
    background: url(../images/gray/interfata/dock/favorite_off.png) no-repeat center left !important;
}

.fav_on {
    background: url(../images/gray/interfata/dock/favorite_on.png) no-repeat center left !important;
}

.search_off {
    background: url(../images/gray/interfata/dock/cauta_off.png) no-repeat center left !important;
}

.search_on {
    background: url(../images/gray/interfata/dock/cauta_on.png) no-repeat center left !important;
}

.editor_off {
    background: url(../images/gray/interfata/dock/editor_off.png) no-repeat center left !important;
}

.editor_on {
    background: url(../images/gray/interfata/dock/editor_on.png) no-repeat center left !important;
}

.history_off {
    background: url(../images/gray/interfata/dock/istoric_off.png) no-repeat center left !important;
}

.history_on {
    background: url(../images/gray/interfata/dock/istoric_on.png) no-repeat center left !important;
}

.permission_off {
    background: url(../images/gray/interfata/dock/permisiuni_off.png) no-repeat center left !important;
}

.permission_on {
    background: url(../images/gray/interfata/dock/permisiuni_on.png) no-repeat center left !important;
}

.textNormal {
	font-size: 12px;
}

/* CloudDoc shortcut */
.cloudDoc-shortcut {
  float: left;
  margin: 15px 0 0 15px;
  clear: left;
  width: 80px;
  font: normal 11px tahoma, arial, verdana, sans-serif;
  text-align: center;
  zoom: 1;
  display: block;
}

.cloudDoc-shortcut a {
  width: 100%;
  display: block;
  color: white;
  text-decoration: none;
}

.cloudDoc-shortcut div {
  width: 100%;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.cloudDoc-shortcut a:hover {
  text-decoration: underline;
}

/* shortcut icon */
.icon-admin {
	background: url(../images/gray/interfata/admin/adminIcon48.png) no-repeat center;
}

/* icon-uri generale pentru butoane */

.icon-add {
	background: url(../images/gray/interfata/icons/addIcon16.png) no-repeat center;
}

.icon-move {
	background: url(../images/gray/interfata/icons/moveIcon16.png) no-repeat center;
}

.icon-import {
	background: url(../images/gray/interfata/icons/importIcon16.png) no-repeat center;
}

.icon-delete {
	background: url(../images/gray/interfata/icons/deleteIcon16.png) no-repeat center;
}

.icon-refresh {
	background: url(../images/gray/interfata/icons/refreshIcon16.png) no-repeat center;
}

.icon-tools {
	background: url(../images/gray/interfata/icons/toolsIcon16.png) no-repeat center;
}

.icon-ok {
	background: url(../images/gray/interfata/icons/okIcon16.png) no-repeat center;
}

.icon-cancel {
	background: url(../images/gray/interfata/icons/cancelIcon16.png) no-repeat center;
}

/* icon-uri pentru elemente din structura organizatorica */

.icon-ogranization {
	background: url(../images/gray/interfata/icons/organizationIcon16.png) no-repeat center;
}

.icon-orgUnit {
	background: url(../images/gray/interfata/icons/orgUnitIcon16.png) no-repeat center;
}

.icon-user {
	background: url(../images/gray/interfata/icons/userIcon16.png) no-repeat center;
}

.icon-userManager {
	background: url(../images/gray/interfata/icons/userManagerIcon16.png) no-repeat center;
}

.icon-role {
	background: url(../images/gray/interfata/icons/roleIcon16.png) no-repeat center;
}

/* icon-uri generale pentru elementele de continut */

.icon-documentLocation {
	background: url(../images/gray/interfata/icons/documentLocationIcon16.png) no-repeat center;
}

.icon-folder {
	background: url(../images/default/tree/folder.gif) no-repeat center;
}

.icon-viewGraph {
	background: url(../images/gray/interfata/icons/viewGraphIcon16.png) no-repeat center;
}

.icon-version {
	background: url(../images/gray/interfata/icons/versionIcon16.png) no-repeat center;
}

.icon-expand {
	background: url(../images/gray/interfata/icons/expandIcon16.png) no-repeat center;
}

.icon-preview {
	background: url(../images/gray/interfata/icons/previewIcon16.png) no-repeat center;
}

.gwt-Anchor
{
	font: normal 11px tahoma, arial, verdana, sans-serif;
}

.x-progress-wrap {
    border-color: #fe6832 !important;
}
.x-progress-inner {
    background-color: #fe6832 !important;
}
.x-progress-bar {
    background-color: #fe6832 !important;
    border: 0 !important;
}
.x-progress-text-back {
    color: #fe6832 !important;
}

.x-panel-noTopBorder {
	border-top: none;
}

.x-panel-noBottomBorder {
	border-bottom: none;
}

.x-panel-noLeftBorder {
	border-left: none;
}

.x-panel-noRightBorder {
	border-right: none;
}
