<app-loading *ngIf="loading"></app-loading>
<div *ngIf="visible" [formGroup]="formGroup" class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
	<div class="ui-grid-row">
		<div class="ui-grid-col-2">
			{{attribute.name}}<span *ngIf="required"> *</span>:
		</div>
		<div class="ui-grid-col-10">

			<!-- Attribute TEXT -->
			<input *ngIf="attribute.type == 'TEXT' && !isCompletionSuggestion"
					type="text" 
					[formControlName]="attribute.key" 
					[readonly]="readonly" 
					pInputText
					(change)="onAttributeValueChanged()">
			<p-dropdown *ngIf="attribute.type == 'TEXT' && isCompletionSuggestion"
					[options]="completionSuggestions" 
					[formControlName]="attribute.key" 
					[disabled]="readonly" 
					[style]="{'width':'100%'}"
					editable="true" 
					filter="true"
					showClear="true"
					autoDisplayFirst="false"
					filter="true"
					appendTo="body">
			</p-dropdown>

			<!-- Attribute NUMERIC -->
			<input *ngIf="attribute.type == 'NUMERIC'"
					type="text" 
					[formControlName]="attribute.key" 
					[readonly]="readonly"
					pInputText
					pKeyFilter="num"
					(change)="onAttributeValueChanged()">

			<!-- Attribute DATE -->
			<p-calendar *ngIf="attribute.type == 'DATE'" 
					[formControlName]="attribute.key" 
					showIcon="true" 
					[readonlyInput]="false" 
					[dateFormat]="dateFormat"
					monthNavigator="true" 
					yearNavigator="true"
					[yearRange]="yearRange"
					showButtonBar="true"
					appendTo="body" 
					[dataType]="'date'"
					(onSelect)="onAttributeValueChanged()"
					(onTodayClick)="onAttributeValueChanged()"
					(onClearClick)="onAttributeValueChanged()">
			</p-calendar>

			<!-- Attribute BOOLEAN -->
			<p-checkbox *ngIf="attribute.type == 'BOOLEAN'"
					[formControl]="attributeFormControl"
					[binary]="true"
					(onChange)="onAttributeValueChanged()">
			</p-checkbox>

			<!-- Attribute NOMENCLATOR -->
			<app-nomenclator-value-field *ngIf="attribute.type == 'NOMENCLATOR'" 
					[formControlName]="attribute.key"
					[customFilters]="nomenclatorCustomFilters"
					[customFilterByValueIds]="nomenclatorCustomFilterByValueIds"
					[readonly]="readonly || nomenclatorFieldDisabled"
					(valueChanged)="onAttributeValueChanged()">
			</app-nomenclator-value-field>

		</div>
	</div>
	<div class="ui-grid-row">
		<div class="ui-grid-col-2"></div>
		<div class="ui-grid-col-10">
			<div *ngIf="attributeFormControl.invalid && (attributeFormControl.dirty || attributeFormControl.touched)" class="ui-message ui-widget ui-corner-all ui-message-error">
				<span class="ui-message-icon pi pi-times"></span>
				<span *ngIf="attributeFormControl.errors['required']" class="ui-message-text">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>
				<span *ngIf="attributeFormControl.errors['invalidNumber']" class="ui-message-text">{{'MESSAGES.VALUE_MUST_BE_NUMERIC' | translate}}</span>
			</div>
		</div>
	</div>	
</div>