<app-loading *ngIf="loadingVisible"></app-loading>
<p-dialog #pDialog [(visible)]="windowVisible" [modal]="true" appendTo="body" 
		[contentStyle]="{'height':'70vh'}" [style]="{'width':'90vw','height':'auto'}" 
		(onShow)="onShow($event)" (onHide)="onHide($event)">
	<p-header>
		{{"LABELS.EVENT" | translate}} 
		<a [ngClass]="{'ui-dialog-titlebar-icon ui-corner-all':true}" style="position: absolute; right: 30px;"  tabindex="0" role="button" (click)="onToggleMinimize()" (keydown.enter)="onToggleMinimize()">
			<span [ngClass]="minimized ? 'pi pi-chevron-down' : 'pi pi-minus'"></span>
		</a>
	</p-header>

	<form [formGroup]="form" class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid" novalidate [ngStyle]="{'height':'70vh'}">

		<div *ngIf="isAdd()" class="ui-g-12 ui-g-nopad ">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.EVENT_TYPE" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<p-dropdown [ngModelOptions]="{standalone: true}" [options]="eventTypeSelectItems" [(ngModel)]="selectedEventType" 
					filter="true" [style]="{'width':'100%'}" (onChange)="onEventTypeChanged()" autoDisplayFirst="true">
					<ng-template let-item pTemplate="selectedItem">
						<div class="ui-helper-clearfix" style="height:20px;">
							<span>{{item.label | translate}}</span>
						</div>
					</ng-template>
					 <ng-template let-eventType pTemplate="item"> 
						<div class="ui-helper-clearfix" style="position: relative;height:25px;">
							<span>{{eventType.label | translate}}</span>
						</div>
					</ng-template>
				</p-dropdown>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.CALENDAR" | translate}}<span *ngIf="!readOnly">*</span>:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<span *ngIf="!calendarSelectorVisible">{{'MESSAGES.LOADING' | translate}}</span>
				<app-calendar-selector *ngIf="calendarSelectorVisible" formControlName="calendarIds" [userId]="loggedInUserId" [readOnly]="readOnly"></app-calendar-selector>
			</div>
		</div>

		<div *ngIf="calendarIdsFormControl.invalid && calendarIdsFormControl.touched" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
			<div class="ui-message ui-messages-error ui-corner-all">
				<i class="fa fa-close"></i>
				{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.EVENT_SUBJECT" | translate}}<span *ngIf="!readOnly">*</span>:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<input pInputText type="text" formControlName="subject"  />
			</div>
		</div>

		<div *ngIf="subjectFormControl.invalid && subjectFormControl.touched" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
			<div class="ui-message ui-messages-error ui-corner-all">
				<i class="fa fa-close"></i>
				{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.EVENT_DESCRIPTION" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<textarea pInputTextarea type="text" formControlName="description" ></textarea>
			</div>
		</div>
		
		<div *ngIf="isLocationFormControlVisible" class="ui-g-12 ui-g-nopad ">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.EVENT_LOCATION" | translate}}<span *ngIf="!readOnly">*</span>:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<input pInputText type="text" formControlName="location" />
			</div>
		</div>

		<div *ngIf="locationFormControl.invalid && locationFormControl.touched" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
			<div class="ui-message ui-messages-error ui-corner-all">
				<i class="fa fa-close"></i>
				{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
			</div>
		</div>
		
		<div *ngIf="isAllDayFormControlVisible" class="ui-g-12 ui-g-nopad ">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.EVENT_ALL_DAY" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<p-checkbox formControlName="allDay" binary="true" (onChange)="onAllDayChanged($event)"></p-checkbox>
			</div>
		</div>
		
		<div *ngIf="isStartDateFormControlVisible" class="ui-g-12 ui-g-nopad ">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.EVENT_START_DATE" | translate}}<span *ngIf="!readOnly">*</span>:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<p-calendar formControlName="startDate" 
					[minDate]="minStartDate" 
					[dateFormat]="dateFormat" 
					[showTime]="showTimeForStartDateAndEndDate" 
					appendTo="body"
					(onSelect)="onStartDateSelected()">
				</p-calendar>
			</div>
		</div>

		<div *ngIf="startDateFormControl.invalid && startDateFormControl.touched" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
			<div class="ui-message ui-messages-error ui-corner-all">
				<i class="fa fa-close"></i>
				{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
			</div>
		</div>
		
		<div *ngIf="isEndDateFormControlVisible" class="ui-g-12 ui-g-nopad ">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.EVENT_END_DATE" | translate}}<span *ngIf="!readOnly">*</span>:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<p-calendar formControlName="endDate" 
					[minDate]="minEndDate" 
					[dateFormat]="dateFormat" 
					[showTime]="showTimeForStartDateAndEndDate" 
					appendTo="body"  >
				</p-calendar>
			</div>
		</div>
		
		<div *ngIf="endDateFormControl.invalid && endDateFormControl.touched" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
			<div class="ui-message ui-messages-error ui-corner-all">
				<i class="fa fa-close"></i>
				{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
			</div>
		</div>
		
		<div *ngIf="isReprezentantExternFormControlVisible" class="ui-g-12 ui-g-nopad ">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.EVENT_REPREZENTANT_EXTERN" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<input pInputText type="text" formControlName="reprezentantExtern" />
			</div>
		</div>
		
		<div *ngIf="isBirthdateFormControlVisible" class="ui-g-12 ui-g-nopad ">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.EVENT_BITHDATE" | translate}}<span *ngIf="!readOnly">*</span>:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<p-calendar formControlName="birthdate" appendTo="body" ></p-calendar>
			</div>
		</div>

		<div *ngIf="birthdateFormControl.invalid && birthdateFormControl.touched" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
			<div class="ui-message ui-messages-error ui-corner-all">
				<i class="fa fa-close"></i>
				{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
			</div>
		</div>
		
		<div *ngIf="isReminderInMinutesFormControlVisible" class="ui-g-12 ui-g-nopad ">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.EVENT_REMINDER" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<p-dropdown [options]="reminderSelectItems" formControlName="reminderInMinutes" [style]="{'width': '100%'}" 
				filter="true" autoDisplayFirst="true"></p-dropdown>
			</div>
		</div>
		
		<div *ngIf="isRepeatFormControlVisible" class="ui-g-12 ui-g-nopad ">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.EVENT_REPEAT" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<p-dropdown formControlName="repeat" [options]="repeatSelectItems"[style]="{'width':'100%'}"
					filter="true" autoDisplayFirst="true" >
					<ng-template let-item pTemplate="selectedItem">
						<div class="ui-helper-clearfix" style="height:20px;">
							<span>{{item.label | translate}}</span>
						</div>
					</ng-template>
					 <ng-template let-repeat pTemplate="item"> 
						<div class="ui-helper-clearfix" style="position: relative;height:25px;">
							<span>{{repeat.label | translate}}</span>
						</div>
					</ng-template>
				</p-dropdown>
			</div>
		</div>

		<div *ngIf="isAttendeesFormControlVisible" class="ui-g-12 ui-g-nopad ">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.EVENT_ATTENDEES" | translate}}<span *ngIf="!readOnly">*</span>:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<app-organizational-structure-entities-selector
					formControlName="attendees"
					[groupsVisible]="false"
					[readonly]="readOnly"
					[selectableEntityTypes]="['user']"
					[visibleEntityTypes]="['organization', 'ou', 'user']">
				</app-organizational-structure-entities-selector>
			</div>
		</div>

		<div *ngIf="attendeesFormControl.invalid && attendeesFormControl.touched" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
			<div class="ui-message ui-messages-error ui-corner-all">
				<i class="fa fa-close"></i>
				{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
			</div>
		</div>
		
		<div *ngIf="isUserIdFormControlVisible" class="ui-g-12 ui-g-nopad ">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.USER" | translate}}<span *ngIf="!readOnly">*</span>:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<app-user-selector formControlName="userId"></app-user-selector>
			</div>
		</div>

		<div *ngIf="userIdFormControl.invalid && userIdFormControl.touched" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
			<div class="ui-message ui-messages-error ui-corner-all">
				<i class="fa fa-close"></i>
				{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
			</div>
		</div>

	</form>

	<p-footer>
		<p-button (onClick)="onDeleteAction()" [label]="'LABELS.DELETE' | translate" [disabled]="!deleteButtonEnabled"></p-button>
		<p-button (onClick)="onSaveAction()" [label]="'LABELS.SAVE' | translate" [disabled]="!saveButtonEnabled"></p-button>
		<p-button (onClick)="onCancelAction()" [label]="'LABELS.CANCEL' | translate"></p-button>
	</p-footer>
</p-dialog>

<app-confirmation-window *ngIf="confirmationWindow.visible"
	[messages]="confirmationWindow.messages"
	[confirmationCallback]="confirmationWindow.callback">
</app-confirmation-window>