<div class="ui-g">
	<div class="ui-g-12">
		<p-table [value]="rolePermissionMappingViews"  
				dataKey="role"
				[responsive]="true"
				[loading]="loading"
				[scrollable]="true" 
				[scrollHeight]="scrollHeight">
			<ng-template pTemplate="colgroup">
				<colgroup>
					<col style="width: 40%">
					<col style="width: 20%">
					<col style="width: 40%">
				</colgroup>
			</ng-template>
			<ng-template pTemplate="header">
				<tr>
					<th pResizableColumn style="width: 50%">
						{{"LABELS.ROLE_AND_PERMISSION" | translate}}
					</th>
					<th pResizableColumn style="width: 20%">{{"LABELS.PERMISSION_GROUP" | translate}}</th>
					<th pResizableColumn style="width: 30%">{{"LABELS.DESCRIPTION" | translate}}</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-expanded="expanded" let-columns="columns">
				<tr class="ui-widget-header" *ngIf="rowGroupMetadata[rowData.role].index === rowIndex">
					<td colspan="3">
						<a href="#" [pRowToggler]="rowData">
							<i [ngClass]="expanded ? 'fa fa-fw fa-chevron-circle-down' : 'fa fa-fw fa-chevron-circle-right'"></i>
							<span>{{rowData.role}}</span>
						</a>
					</td>
				</tr>
			</ng-template>
			<ng-template pTemplate="rowexpansion" let-rowData let-rowIndex="rowIndex">
				<tr>
					<td>{{rowData.permission}}</td>
					<td>{{rowData.permissionGroup}}</td>
					<td>{{rowData.description}}</td>
				</tr>
			</ng-template>
		</p-table>
	</div>
</div>