<form [formGroup]="form" >

	<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
		<div class="ui-grid-row">
			<div class="ui-grid-col-3">
				{{'LABELS.NAME' | translate}} *:
			</div>
			<div class="ui-grid-col-9">
				<input type="text" formControlName="name" pInputText>
			</div>
		</div>
		<div class="ui-grid-row">
			<div class="ui-grid-col-3"></div>
			<div class="ui-grid-col-9">
				<div class="ui-message ui-messages-error ui-corner-all" *ngIf="nameFormControl.invalid && (nameFormControl.dirty || nameFormControl.touched)">
					<span class="fa fa-close"></span>					
					<span *ngIf="nameFormControl.errors['required'] || nameFormControl.errors['blank']">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>
					<span *ngIf="nameFormControl.errors['nameExists']">{{'MESSAGES.NOMENCLATOR_ATTRIBUTE_NAME_EXISTS' | translate}}</span>
					<span *ngIf="nameFormControl.errors['pattern']">{{'MESSAGES.NOMENCLATOR_ATTRIBUTE_NAME_INCORRECT_PATTERN' | translate}}</span>
				</div>
			</div>
		</div>
	</div>

	<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
		<div class="ui-grid-row">
			<div class="ui-grid-col-3">
				{{'LABELS.CODE' | translate}} *:
			</div>
			<div class="ui-grid-col-9">
				<input type="text" formControlName="key" [readonly]="keyFieldReadonly" pInputText>
			</div>
		</div>
		<div class="ui-grid-row">
			<div class="ui-grid-col-3"></div>
			<div class="ui-grid-col-9">
				<div class="ui-message ui-messages-error ui-corner-all" *ngIf="keyFormControl.invalid && (keyFormControl.dirty || keyFormControl.touched)">
					<span class="fa fa-close"></span>					
					<span *ngIf="keyFormControl.errors['required'] || keyFormControl.errors['blank']">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>
					<span *ngIf="keyFormControl.errors['keyExists']">{{'MESSAGES.NOMENCLATOR_ATTRIBUTE_KEY_EXISTS' | translate}}</span>
					<span *ngIf="keyFormControl.errors['pattern']">{{'MESSAGES.NOMENCLATOR_ATTRIBUTE_KEY_INCORRECT_PATTERN' | translate}}</span>
				</div>
			</div>
		</div>
	</div>
	
	<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
		<div class="ui-grid-row">
			<div class="ui-grid-col-3">
				{{'LABELS.TYPE' | translate}} *:
			</div>
			<div class="ui-grid-col-9">
				<p-dropdown 
					[options]="attributeTypeSelectItems"
					[placeholder]="'LABELS.SELECT' | translate" 
					(onChange)="onAttributeTypeSelectionChanged($event)"
					formControlName="type"
					filter="true"
					appendTo="body">
				</p-dropdown>
			</div>
		</div>
		<div class="ui-grid-row">
			<div class="ui-grid-col-3"></div>
			<div class="ui-grid-col-9">
				<div class="ui-message ui-messages-error ui-corner-all" *ngIf="typeFormControl.invalid && (typeFormControl.dirty || typeFormControl.touched)">
					<span class="fa fa-close"></span>					
					<span *ngIf="typeFormControl.errors['required'] || typeFormControl.errors['blank']">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>
				</div>
			</div>
		</div>
	</div>

	<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
		<div class="ui-grid-row">
			<div class="ui-grid-col-3">
				{{'LABELS.NOMENCLATOR_ATTRIBUTE_REQUIRED' | translate}}:
			</div>
			<div class="ui-grid-col-9">
				<p-checkbox 
					[formControl]="requiredFormControl"
					name="required"
					[binary]="true"
					(onChange)="onRequiredChanged()">
				</p-checkbox>
			</div>
		</div>
	</div>

	<div *ngIf="requiredCheckExpressionFormControl.enabled" class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
		<div class="ui-grid-row">
			<div class="ui-grid-col-3">
				{{'LABELS.NOMENCLATOR_ATTRIBUTE_REQUIRED_CHECK_EXPRESSION' | translate}}:
			</div>
			<div class="ui-grid-col-9">
				<textarea formControlName="requiredCheckExpression" pInputTextarea></textarea>
			</div>
		</div>
	</div>

	<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
		<div class="ui-grid-row">
			<div class="ui-grid-col-3">
				{{'LABELS.ORDER_NUMBER' | translate}} *:
			</div>
			<div class="ui-grid-col-9">
				<input type="number" formControlName="orderNumber" pInputText>
			</div>
		</div>
		<div class="ui-grid-row">
			<div class="ui-grid-col-3"></div>
			<div class="ui-grid-col-9">
				<div class="ui-message ui-messages-error ui-corner-all" *ngIf="orderNumberFormControl.invalid && (orderNumberFormControl.dirty || orderNumberFormControl.touched)">
					<span class="fa fa-close"></span>					
					<span *ngIf="orderNumberFormControl.errors['required'] || orderNumberFormControl.errors['blank']">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>
				</div>
			</div>
		</div>
	</div>

	<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
		<div class="ui-grid-row">
			<div class="ui-grid-col-3">
				{{'LABELS.READONLY' | translate}} :
			</div>
			<div class="ui-grid-col-9">
				<p-checkbox
					formControlName="readonlyOnAdd" 
					binary="true"
					[label]="'LABELS.READONLY_ON_ADD' | translate">
				</p-checkbox>
				<p-checkbox
					formControlName="readonlyOnEdit" 
					binary="true"
					[label]="'LABELS.READONLY_ON_EDIT' | translate">
				</p-checkbox>
			</div>
		</div>
	</div>

	<div *ngIf="invisibleCheckExpressionFormControl.enabled" class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
		<div class="ui-grid-row">
			<div class="ui-grid-col-3">
				{{'LABELS.NOMENCLATOR_ATTRIBUTE_INVISIBLE_CHECK_EXPRESSION' | translate}}:
			</div>
			<div class="ui-grid-col-9">
				<textarea formControlName="invisibleCheckExpression" pInputTextarea></textarea>
			</div>
		</div>
	</div>

	<p-fieldset [legend]="'LABELS.AUTO_COMPLETE' | translate" *ngIf="isAutocompleteApplicable">
		<div *ngIf="attributeKeyForAutocompleteFormControl.enabled" class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-grid-row">
				<div class="ui-grid-col-4">
					{{'LABELS.NOMENCLATOR_ATTRIBUTE_ATTRIBUTE_NAME_FOR_AUTOCOMPLETE' | translate}}:
				</div>
				<div class="ui-grid-col-8">
					<p-dropdown 
						[options]="attributeKeyForAutocompleteSelectItems" 
						formControlName="attributeKeyForAutocomplete"
						[autoDisplayFirst]="false"
						[showClear]="true"
						[placeholder]="'LABELS.SELECT' | translate"
						filter="true"
						(onChange)="onAttributeKeyForAutocompleteChanged()">
					</p-dropdown>
				</div>
			</div>
		</div>
		<div *ngIf="autocompleteTypeFormControl.enabled" class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-grid-row">
				<div class="ui-grid-col-4">
					{{'LABELS.NOMENCLATOR_ATTRIBUTE_AUTOCOMPLETE_TYPE' | translate}}:
				</div>
				<div class="ui-grid-col-8">
					<p-dropdown 
						[options]="autocompleteTypeSelectItems" 
						formControlName="autocompleteType"
						[autoDisplayFirst]="false"
						[showClear]="true"
						[placeholder]="'LABELS.SELECT' | translate"
						filter="true"
						(onChange)="onAutocompleteTypeChanged()">
					</p-dropdown>
				</div>
			</div>
		</div>	
		<div *ngIf="nomenclatorAttributeKeyForAutocompleteFormControl.enabled" class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-grid-row">
				<div class="ui-grid-col-4">
					{{'LABELS.NOMENCLATOR_ATTRIBUTE_NOMENCLATOR_ATTRIBUTE_KEY_FOR_AUTOCOMPLETE' | translate}}:
				</div>
				<div class="ui-grid-col-8">
					<p-dropdown 
						[options]="nomenclatorAttributeKeyForAutocompleteSelectItems" 
						formControlName="nomenclatorAttributeKeyForAutocomplete"
						[autoDisplayFirst]="false"
						[showClear]="true"
						filter="true"
						[placeholder]="'LABELS.SELECT' | translate">
					</p-dropdown>
				</div>
			</div>
		</div>			
	</p-fieldset>

	<p-fieldset [legend]="'LABELS.NOMENCLATOR' | translate" *ngIf="nomenclatorIdFormControl.enabled">
		<div *ngIf="nomenclatorIdFormControl.enabled" class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-grid-row">
				<div class="ui-grid-col-3">
					{{'LABELS.NOMENCLATOR' | translate}}:
				</div>
				<div class="ui-grid-col-9">
					<app-nomenclator-selection-field 
						formControlName="nomenclatorId"
						(selectionChanged)="onNomenclatorIdSelectionChanged($event)">
					</app-nomenclator-selection-field>
				</div>
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-3"></div>
				<div class="ui-grid-col-9">
					<div *ngIf="nomenclatorIdFormControl.invalid && (nomenclatorIdFormControl.dirty || nomenclatorIdFormControl.touched)" class="ui-message ui-messages-error ui-corner-all">
						<span class="fa fa-close"></span>					
						<span *ngIf="nomenclatorIdFormControl.errors['required']">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>
					</div>
				</div>
			</div>
		</div>

		<div *ngIf="nomenclatorSelectionFiltersFormControl.enabled" class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-grid-row">
				<div class="ui-grid-col-3">
					{{'LABELS.NOMENCLATOR_ATTRIBUTE_SELECTION_FILTERS' | translate}}:
				</div>
				<div class="ui-grid-col-9">
					<app-nomenclator-attribute-definition-selection-filters-field
						formControlName="nomenclatorSelectionFilters">
					</app-nomenclator-attribute-definition-selection-filters-field>
				</div>
			</div>			
		</div>

		<div *ngIf="nomenclatorSelectionFiltersCustomClassFormControl.enabled" class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-grid-row">
				<div class="ui-grid-col-3">
					{{'LABELS.NOMENCLATOR_ATTRIBUTE_SELECTION_FILTERS_CUSTOM_CLASS' | translate}}:
				</div>
				<div class="ui-grid-col-9">
					<input type="text" formControlName="nomenclatorSelectionFiltersCustomClass" pInputText>
				</div>
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-3"></div>
				<div class="ui-grid-col-9">
					<div *ngIf="nomenclatorSelectionFiltersCustomClassFormControl.invalid && (nomenclatorSelectionFiltersCustomClassFormControl.dirty || nomenclatorSelectionFiltersCustomClassFormControl.touched)" class="ui-message ui-messages-error ui-corner-all">
						<span class="fa fa-close"></span>					
						<!--<span *ngIf="nomenclatorSelectionFiltersCustomClassFormControl.errors['required']">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>-->
					</div>
				</div>
			</div>
		</div>

		<div *ngIf="nomenclatorSelectionFiltersCustomClassAttributeKeysFormControl.enabled" class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-grid-row">
				<div class="ui-grid-col-3">
					{{'LABELS.NOMENCLATOR_ATTRIBUTE_SELECTION_FILTERS_CUSTOM_CLASS_ATTRIBUTE_KEYS' | translate}}:
				</div>
				<div class="ui-grid-col-9">
					<input type="text" formControlName="nomenclatorSelectionFiltersCustomClassAttributeKeys" pInputText>
				</div>
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-3"></div>
				<div class="ui-grid-col-9">
					<div *ngIf="nomenclatorSelectionFiltersCustomClassAttributeKeysFormControl.invalid && (nomenclatorSelectionFiltersCustomClassAttributeKeysFormControl.dirty || nomenclatorSelectionFiltersCustomClassAttributeKeysFormControl.touched)" class="ui-message ui-messages-error ui-corner-all">
						<span class="fa fa-close"></span>					
						<!--<span *ngIf="nomenclatorSelectionFiltersCustomClassAttributeKeysFormControl.errors['required']">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>-->
					</div>
				</div>
			</div>
		</div>
	</p-fieldset>

	<div *ngIf="defaultValueFormControl.enabled" class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
		<div class="ui-grid-row">
			<div class="ui-grid-col-3">
				{{'LABELS.DEFAULT_VALUE' | translate}} :
			</div>
			<div class="ui-grid-col-9">
				<app-nomenclator-attribute-definition-default-value-field formControlName="defaultValue"></app-nomenclator-attribute-definition-default-value-field>
			</div>
		</div>
		<div class="ui-grid-row">
			<div class="ui-grid-col-3"></div>
			<div class="ui-grid-col-9">
				<div class="ui-message ui-messages-error ui-corner-all" *ngIf="defaultValueFormControl.invalid && (defaultValueFormControl.dirty || defaultValueFormControl.touched)">
					<span class="fa fa-close"></span>					
					<span *ngIf="defaultValueFormControl.errors['invalidNumber']">{{'MESSAGES.VALUE_MUST_BE_NUMERIC' | translate}}</span>
				</div>
			</div>
		</div>
	</div>

</form>

<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
	<div class="ui-grid-row">
		<div class="ui-grid-col-6"></div>
		<div class="ui-grid-col-6" style="text-align: right;">
			<p-button (onClick)="onSaveAction($event)" [label]="'LABELS.SAVE' | translate"></p-button>
			<p-button (onClick)="onCancelAction($event)" [label]="'LABELS.CANCEL' | translate"></p-button>
		</div>
	</div>
</div>	