<app-loading *ngIf="loadingVisible"></app-loading>
<div class="ui-g-12">
	<p-button [label]="'LABELS.ADD' | translate" (onClick)="onAdd()" [disabled]="!addButtonEnabled"></p-button>
	<p-button [label]="'LABELS.VIEW' | translate" (onClick)="onView()" [disabled]="!viewButtonEnabled"></p-button>
-	<p-button [label]="'LABELS.FINALIZE' | translate" (onClick)="onFinalize()" [disabled]="!finalizeButtonEnabled"></p-button>
	<p-button [label]="'LABELS.DELETE' | translate" (onClick)="onRemove()" [disabled]="!deleteButtonEnabled"></p-button>
	<p-button [label]="'LABELS.CANCEL' | translate" (onClick)="onCancel()" [disabled]="!cancelButtonEnabled"></p-button>
	<p-button [label]="'LABELS.REFRESH' | translate" (onClick)="onRefresh()"></p-button>
	<p-button [label]="'LABELS.EXPORT_CSV' | translate" (onClick)="onExportCSV()"></p-button>
</div>

<div class="ui-g-12 ui-sm-12 ui-md-6">
	<p-dropdown 
			[(ngModel)]="selectedYear" 
			[options]="yearItems"
			[placeholder]="'LABELS.SELECT' | translate"
			appendTo="body" 
			filter="true"
			(onChange)="onYearValueChanged($event)">
	</p-dropdown>
</div>

<div class="ui-g-12">
	<p-table
			#alteDeconturiDataTable 
			[(selection)]="selectedData" 
			[columns]="columns" 
			[value]="alteDeconturiViewModels" 
			[paginator]="true" 
			[totalRecords]="getNumberOfTotalRecords()" 
			[first]="pageOffset" 
			[rows]="pageRows"
			[rowsPerPageOptions]="rowsPerPageOptions" 
			[scrollable]="true" 
			[scrollHeight]="scrollHeight"
			[loading]="dataLoading" 
			selectionMode="single" 
			(onRowSelect)="onDataSelected($event)"
			(onRowUnselect)="onDataUnselected($event)">

		<ng-template pTemplate="colgroup" let-columns>
			<colgroup>
				<col *ngFor="let column of columns" style="width:250px">
			</colgroup>
		</ng-template>

		<ng-template pTemplate="header" let-columns>
			<tr>
				<th *ngFor="let column of columns" [pSortableColumn]="column.field">
					{{column.header}}
					<p-sortIcon [field]="column.field"></p-sortIcon>
				</th>
			</tr>
			<tr>
				<th *ngFor="let column of columns">
					<p-multiSelect *ngIf="column.field === 'monthForDisplay' && column.filter" 
							[(ngModel)]="selectedMonthFilterValues"
							[options]="monthFilterValues" 
							[style]="{'width' :'100%'}" 
							[disabled]="!column.filter"
							maxSelectedLabels="1" 
							appendTo="body"
							(onChange)="alteDeconturiDataTable.filter($event.value, column.filterField, column.filterMatchMode)">
					</p-multiSelect>
					<input *ngIf="column.field === 'titularDecont' && column.filter" 
							[(ngModel)]="selectedTitularDecontFilterValue"
							pInputText type="text" 
							[disabled]="!column.filter"
							(input)="alteDeconturiDataTable.filter($event.target.value, column.filterField, column.filterMatchMode)">
					<input *ngIf="column.field === 'numarDecontForDisplay' && column.filter" 
							[(ngModel)]="selectedNumarDecontFilterValue"
							pInputText type="text" 
							pKeyFilter="num" 
							[disabled]="!column.filter"
							(input)="alteDeconturiDataTable.filter($event.target.value, column.filterField, column.filterMatchMode)">
					<p-calendar *ngIf="column.field === 'dataDecontForDisplay' && column.filter" 
							[(ngModel)]="selectedDataDecontFilterValue"
							[showIcon]="true" 
							[monthNavigator]="true" 
							[yearNavigator]="true" 
							[readonlyInput]="true"
							[dateFormat]="dateFormat" 
							[yearRange]="yearRange" 
							[style]="{'width' :'auto'}"
							[disabled]="!column.filter"
							appendTo="body" 
							showButtonBar="true" 
							(onSelect)="alteDeconturiDataTable.filter($event, column.filterField, column.filterMatchMode)"
							(onClearClick)="alteDeconturiDataTable.filter('', column.filterField, column.filterMatchMode)">
					</p-calendar>
					<p-multiSelect *ngIf="column.field === 'tipAvansPrimitForDisplay' && column.filter" 
							[(ngModel)]="selectedTipAvansPrimitFilterValues"
							[options]="tipAvansPrimitFilterValues" 
							[style]="{'width' :'100%'}" 
							[disabled]="!column.filter"
							maxSelectedLabels="1" 
							appendTo="body"
							(onChange)="alteDeconturiDataTable.filter($event.value, column.filterField, column.filterMatchMode)">
					</p-multiSelect>
					<p-selectButton *ngIf="column.field === 'anulatForDisplay' && column.filter"
							[(ngModel)]="selectedAnulatBooleanFilterValues"
							[options]="booleanFilterTypes" 
							[multiple]="true"
							[disabled]="!column.filter"
							(onChange)="alteDeconturiDataTable.filter($event.value, column.filterField, column.filterMatchMode)">
					</p-selectButton>
					<p-selectButton *ngIf="column.field === 'finalizatForDisplay' && column.filter"
							[(ngModel)]="selectedFinalizatBooleanFilterValues"
							[options]="booleanFilterTypes" 
							[multiple]="true"
							[disabled]="!column.filter"
							(onChange)="alteDeconturiDataTable.filter($event.value, column.filterField, column.filterMatchMode)">
					</p-selectButton>
				</th>
			</tr>
		</ng-template>
		
		<ng-template pTemplate="body" let-alteDeconturiData let-columns="columns">
			<tr [pSelectableRow]="alteDeconturiData">
				<td *ngFor="let column of columns">
					<span *ngIf="isColumnTranslatable(column) && !isCheltuieliColumn(column)">{{ alteDeconturiData[column.field] | translate}}</span>
					<span *ngIf="!isColumnTranslatable(column) && !isCheltuieliColumn(column)">{{ alteDeconturiData[column.field] }}</span>
					<span *ngIf="!isColumnTranslatable(column) && isCheltuieliColumn(column)">
						<p-button [label]="'LABELS.ALTE_DECONTURI_VIZUALIZEAZA_CHELTUIELI' | translate" (onClick)="onViewCheltuieli(alteDeconturiData.cheltuieli)"></p-button>
					</span>
				</td>
			</tr>
		</ng-template>

		<ng-template pTemplate="emptymessage" let-columns>
			<tr>
				<td [attr.colspan]="columns.length">
					{{'LABELS.NO_RECORDS_FOUND' | translate}}
				</td>
			</tr>
		</ng-template>
	</p-table>

	<p-dialog #pDialog [(visible)]="alteDeconturiCheltuieliVisible" [modal]="true" appendTo="body"
		[contentStyle]="{'height':'70vh'}" [style]="{'width':'90vw','height':'auto'}" 
		(onShow)="onShowAlteDeconturiCheltuieli($event, pDialog)" (onHide)="onCloseAlteDeconturiCheltuieli($event)">
	<p-header>
		{{"LABELS.ALTE_DECONTURI_CHELTUIELI" | translate}} 
		<a [ngClass]="{'ui-dialog-titlebar-icon ui-corner-all':true}" style="position: absolute; right: 30px;"  tabindex="0" role="button" (click)="onToggleMinimizeAlteDeconturiCheltuieli(pDialog)" (keydown.enter)="onToggleMinimizeAlteDeconturiCheltuieli(pDialog)">
			<span [ngClass]="alteDeconturiCheltuieliMinimized ? 'pi pi-chevron-down' : 'pi pi-minus'"></span>
		</a>
	</p-header>

		<p-table [value]="alteDeconturiCheltuieliForView" [scrollable]="true" [scrollHeight]="scrollHeightAlteDeconturiCheltuieli">
			<ng-template pTemplate="header">
				<tr>
					<th>{{"LABELS.ALTE_DECONTURI_CHELTUIELI_TIP_DOCUMENT_JUSTIFICATIV" | translate}}</th>
					<th>{{"LABELS.ALTE_DECONTURI_CHELTUIELI_EXPLICATIE" | translate}}</th>
					<th>{{"LABELS.ALTE_DECONTURI_CHELTUIELI_NUMAR_DOCUMENT_JUSTIFICATIV" | translate}}</th>
					<th>{{"LABELS.ALTE_DECONTURI_CHELTUIELI_DATA_DOCUMENT_JUSTIFICATIV" | translate}}</th>
					<th>{{"LABELS.ALTE_DECONTURI_CHELTUIELI_VALOARE_CHELTUIALA" | translate}}</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-cheltuiala>
				<tr>
					<td>{{'LABELS.' + cheltuiala.tipDocumentJustificativ | translate}}</td>
					<td>{{cheltuiala.explicatie}}</td>
					<td>{{cheltuiala.numarDocumentJustificativ}}</td>
					<td>{{cheltuiala.dataDocumentJustificativ | appDateFormater}}</td>
					<td>{{cheltuiala.valoareCheltuiala}}</td>
				</tr>
			</ng-template>
		</p-table>
	</p-dialog>
</div>

<app-alte-deconturi-window *ngIf="alteDeconturiWindowVisible" [decontId]="decontId" [mode]="alteDeconturiMode"
		(windowClosed)="onAlteDeconturiWindowClosed()">
</app-alte-deconturi-window>

<app-anulare-alte-deconturi-window
		*ngIf="anulareAlteDeconturiWindowVisible"
		[decontId]="decontId"
		(windowClosed)="onAnulareAlteDeconturiWindowClosed($event)">
</app-anulare-alte-deconturi-window>

<app-confirmation-window *ngIf="confirmationWindow.visible"
	[messages]="confirmationWindow.messages"
	[confirmationCallback]="confirmationWindow.callback">
</app-confirmation-window>