<app-loading *ngIf="loadingVisible"></app-loading>
<p-dialog #pDialog [(visible)]="windowVisible" [modal]="true" appendTo="body"
		[contentStyle]="{'height':'70vh'}" [style]="{'width':'90vw','height':'auto'}" 
		(onShow)="onShow($event)" (onHide)="onHide($event)">
	<p-header>
		<span>{{"LABELS.RIDES" | translate}}</span>
		<a [ngClass]="{'ui-dialog-titlebar-icon ui-corner-all':true}" style="position: absolute; right: 30px;"  tabindex="0" role="button" (click)="onToggleMinimize()" (keydown.enter)="onToggleMinimize()">
			<span [ngClass]="minimized ? 'pi pi-chevron-down' : 'pi pi-minus'"></span>
		</a>
	</p-header>
	
	<form [formGroup]="form" [ngStyle]="{'height':'70vh'}">
		
		<div class="ui-g ui-fluid">
			<div class="ui-g-3 ui-sm-12 ui-md-4">{{"LABELS.PHONE" | translate}}*:</div>
			<div class="ui-g-9 ui-sm-12 ui-md-8">
				<p-autoComplete formControlName="clientPhone" 
								field="mobile" 
								[suggestions]="suggestions" 
								(completeMethod)="completeClientPhone($event)"
								(onSelect)="onSelectClient($event)"
								autoHighlight="true">
				</p-autoComplete>
			</div>
			<div *ngIf="clientPhoneFormControl.invalid && (clientPhoneFormControl.dirty || clientPhoneFormControl.touched)" class="ui-g-12">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

		<div class="ui-g ui-fluid">
			<div class="ui-g-3 ui-sm-12 ui-md-4">{{"LABELS.FIRST_NAME" | translate}}*:</div>
			<div class="ui-g-9 ui-sm-12 ui-md-8">
				<input pInputText formControlName="firstName" type="text"/>
			</div>
			<div *ngIf="firstNameFormControl.invalid && (firstNameFormControl.dirty || firstNameFormControl.touched)" class="ui-g-12">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

		<div class="ui-g ui-fluid">
			<div class="ui-g-3 ui-sm-12 ui-md-4">{{"LABELS.LAST_NAME" | translate}}*:</div>
			<div class="ui-g-9 ui-sm-12 ui-md-8">
				<input pInputText formControlName="lastName" type="text"/>
			</div>
			<div *ngIf="lastNameFormControl.invalid && (lastNameFormControl.dirty || lastNameFormControl.touched)" class="ui-g-12">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

		<div class="ui-g ui-fluid">
			<div class="ui-g-3 ui-sm-12 ui-md-4">{{"LABELS.START_ADRESS" | translate}}*:</div>
			<div class="ui-g-9 ui-sm-12 ui-md-8">
				<input pInputText formControlName="startAdress" type="text"/>
			</div>
			<div *ngIf="startAdressFormControl.invalid && (startAdressFormControl.dirty || startAdressFormControl.touched)" class="ui-g-12">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

		<div class="ui-g ui-fluid">
			<div class="ui-g-3 ui-sm-12 ui-md-4">{{"LABELS.OBSERVATIONS" | translate}}:</div>
			<div class="ui-g-9 ui-sm-12 ui-md-8">
				<input pInputText formControlName="observations" type="text"/>
			</div>
		</div>

		<div class="ui-g ui-fluid">
			<div class="ui-g-3 ui-sm-12 ui-md-4">{{"LABELS.CAR_CATEGORY" | translate}}:</div>
			<div class="ui-g-9 ui-sm-12 ui-md-8">
				<p-dropdown [options]="categoryOptions" optionLabel="name" formControlName="carCategory" (onChange)="onCategoryChange($event)"></p-dropdown>
			</div>
		</div>

	</form>

	<p-footer>
		<p-button (onClick)="onSaveAction($event)" [label]="'LABELS.SAVE' | translate"></p-button>
		<p-button (onClick)="onCloseAction($event)" [label]="'LABELS.CLOSE' | translate"></p-button>
	</p-footer>
</p-dialog>