<!-- <app-loading *ngIf="loadingVisible"></app-loading> -->
<p-dialog #pDialog [(visible)]="visible" [modal]="true" appendTo="body"
		[contentStyle]="{'height':'70vh'}" [style]="{'width':'90vw','height':'auto'}" 
		(onShow)="onShow($event)" (onHide)="onHide($event)">
	<p-header>
		<span>Workflow graph</span>
		<a [ngClass]="{'ui-dialog-titlebar-icon ui-corner-all':true}" style="position: absolute; right: 30px;"  tabindex="0" role="button" (click)="onToggleMinimize()" (keydown.enter)="onToggleMinimize()">
			<span [ngClass]="minimized ? 'pi pi-chevron-down' : 'pi pi-minus'"></span>
		</a>
	</p-header>

	<div [ngStyle]="{'height':'70vh'}">
		<img *ngIf="workflowGraphImageUrl" [src]="workflowGraphImageUrl" alt="workflow" style="max-width: 100%; height: auto;"/>
	</div>
	<p-footer>
		<p-button [label]="'LABELS.CANCEL' | translate" (click)="onClose()"></p-button>
	</p-footer>
</p-dialog>