<p-dialog *ngIf="windowVisible" [visible]="windowVisible" [height]="height" 
		(onHide)="onHide($event)" [width]="width" modal="true"
		appendTo="body" positionTop="20">
	<p-header>{{"LABELS.GROUPS" | translate}}</p-header>
	<app-organization-selector 
		selectionMode="single" 
		[selectableEntityTypes]="['ou']"
		[visibleEntityTypes]="['organization', 'ou']"
		(selectionChanged)="onOrganizationSelectionChanged($event)">
	</app-organization-selector>
	<p-footer>
		<p-button (onClick)="onSelectAction($event)" [label]="'LABELS.SELECT' | translate"></p-button>
		<p-button (onClick)="onCancelAction($event)" [label]="'LABELS.CANCEL' | translate"></p-button>
	</p-footer>
</p-dialog>