<div class="ui-g ui-grid-responsive ui-grid-pad ui-fluid">
	<form [formGroup]="form" novalidate>
		<div class="ui-g-12 ui-g-nopad ">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.NAME" | translate}}*:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<input pInputText type="text" formControlName="name" />
			</div>
			<div *ngIf="projectNameFormControl.invalid && projectNameFormControl.touched" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.DESCRIPTION" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<textarea formControlName="description" pInputTextarea></textarea>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.PROJECT_ABBREVIATION" | translate}}*:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<input pInputText type="text" formControlName="abbreviation" />
			</div>
			<div *ngIf="projectAbbreviationFormControl.invalid && projectAbbreviationFormControl.touched" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

		<div *ngIf="isImportanceRequired()" class="ui-g-12 ui-g-nopad ">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.DSP_VIEW_GENERAL_GRAD_DE_IMPORTANTA" | translate}}*:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<p-dropdown 
					[disabled]="(!isUserResponsible() && !hasEditImportanceRankDescriptionPermission())"
					[style]="{'width':'100%'}"
					[options]="importanceRankSelectItems" 
					formControlName="importanceRank" 
					appendTo="body"
					[autoDisplayFirst]="false" 
					showClear="true">
					<ng-template let-target pTemplate="item">
						<div [pTooltip]="getImportanceRankDescription(target)" showDelay="600" tooltipPosition="top">
							<div *ngIf="hasEditImportanceRankDescriptionPermission(); else elseBlock">
								<div class="ui-g">
									<div class="ui-g-6" [ngStyle]="{'vertical-align':'middle'}">
										<span>{{ target.label }}</span>
									</div>
									<div class="ui-g-6" [ngStyle]="{'text-align':'right'}">
										<p-button [label]="'LABELS.EDIT' | translate" (onClick)="onEditImportanceRankDescription(target, $event)" [ngClass]="'admin-button'"></p-button>
									</div>
								</div>
							</div>
							<ng-template #elseBlock>
								<span>{{ target.label }}</span>
							</ng-template>
						</div>
					</ng-template>
				</p-dropdown>
			</div>
			<div *ngIf="importanceRankFormControl.invalid && (importanceRankFormControl.dirty || importanceRankFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.PROJECT_USER_RESPONSIBLE" | translate}}*:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<app-user-selector formControlName="userResponsible"></app-user-selector>
			</div>
			<div *ngIf="userResponsibleFormControl.invalid && userResponsibleFormControl.touched" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.PROJECT_START_DATE" | translate}}*:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<p-calendar
					[showIcon]="true" 
					[monthNavigator]="true" 
					[yearNavigator]="true"
					[dateFormat]="dateFormat" 
					[yearRange]="yearRange"
					appendTo="body"
					[readonlyInput]="false" 
					formControlName="startDate">
				</p-calendar>
			</div>
			<div *ngIf="startDateFormControl.invalid && startDateFormControl.touched" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

	<div class="ui-g-12 ui-g-nopad ">
		<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.PROJECT_END_DATE" | translate}}*:</div>
		<div class="ui-g-12 ui-sm-12 ui-md-10">
			<p-calendar
				[showIcon]="true" 
				[monthNavigator]="true" 
				[yearNavigator]="true"
				[dateFormat]="dateFormat" 
				[yearRange]="yearRange"
				appendTo="body"
				[readonlyInput]="false" 
				formControlName="endDate"
				(onSelect)="onEndDateSelected($event)">
			</p-calendar>
		</div>
		<div *ngIf="endDateFormControl.invalid && endDateFormControl.touched" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
			<div class="ui-message ui-messages-error ui-corner-all">
				<i class="fa fa-close"></i>
				{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
			</div>
		</div>
	</div>
	
	<div class="ui-g-12 ui-g-nopad ">
		<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.PROJECT_IMPLEMENTATION_DATE" | translate}}*:</div>
		<div class="ui-g-12 ui-sm-12 ui-md-10">
			<input pInputText type="text" formControlName="implementationDate" readonly="true"/>
		</div>
		<div *ngIf="!isAdd()" class="ui-g-12 ui-g-nopad">
			<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.STATUS" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				{{project.projectStatusLabel | translate}}
			</div>
		</div>
	</div>
		
	</form>
</div>

<p-dialog
	[(visible)]="displayDescriptionWindow"
	appendTo="body"
	[style]="{'height':'20vh','width':'30vw'}"
	[contentStyle]="{'min-height':'20vh','min-width':'30vw'}"
	[resizable]="false">
	<p-header>
		{{ descriptionWindowHeader }}
	</p-header>
	<textarea pInputTextarea [(ngModel)]="importanceRankDescription" [ngStyle]="{'resize':'none', 'width':'100%', 'min-height':'20vh'}"></textarea>
	<p-footer>
		<p-button [label]="'LABELS.SAVE' | translate" (onClick)="descriptionChanged()"></p-button>
	</p-footer>
</p-dialog>