<p-dialog #pDialog [(visible)]="windowVisible" [modal]="true" appendTo="body"
		[contentStyle]="{'height':'70vh'}" [style]="{'width':'90vw','height':'auto'}" 
		(onShow)="onShow($event)" (onHide)="onHide($event)">
	
	<p-header>
		{{"LABELS.CHELTUIELI_REPREZENTANT_ARB" | translate}} 
		<a [ngClass]="{'ui-dialog-titlebar-icon ui-corner-all':true}" style="position: absolute; right: 30px;"  tabindex="0" role="button" (click)="onToggleMinimize()" (keydown.enter)="onToggleMinimize()">
			<span [ngClass]="minimized ? 'pi pi-chevron-down' : 'pi pi-minus'"></span>
		</a>
	</p-header>
	
	<form [formGroup]="formGroup" [ngStyle]="{'height':'68vh'}">
		<app-cheltuieli-reprezentant-arb-manager formControlName="cheltuieliReprezentantArb"></app-cheltuieli-reprezentant-arb-manager>
	</form>
	
</p-dialog>