<app-loading *ngIf="loadingVisible"></app-loading>
<p-dialog #pDialog [(visible)]="windowVisible" [modal]="true" appendTo="body"
		[contentStyle]="{'height':'70vh'}" [style]="{'width':'90vw','height':'auto'}"
		(onShow)="onShow($event)" (onHide)="onHide($event)">
	<p-header>
		<span>{{title}}</span>
		<a [ngClass]="{'ui-dialog-titlebar-icon ui-corner-all':true}" style="position: absolute; right: 30px;"  tabindex="0" role="button" (click)="onToggleMinimize()" (keydown.enter)="onToggleMinimize()">
			<span [ngClass]="minimized ? 'pi pi-chevron-down' : 'pi pi-minus'"></span>
		</a>
	</p-header>
	<p-tabView [activeIndex]="activeTabIndex" (onChange)="onTabChanged($event)" [style]="{'height':'70vh'}">
		<p-tabPanel [header]="'LABELS.GENERAL' | translate" [selected]="true">
			<span *ngIf="!tabContentVisible">{{'MESSAGES.LOADING' | translate}}</span>
			<app-document-general-tab-content *ngIf="tabContentVisible" 
				[inputData]="tabContentInputData"
				[mode]="tabContentMode" 
				[readonly]="tabContentReadonly">
			</app-document-general-tab-content>
		</p-tabPanel>
		<p-tabPanel [header]="'LABELS.ATTACHMENTS' | translate">
			<span *ngIf="!tabContentVisible">{{'MESSAGES.LOADING' | translate}}</span>
			<app-document-attachments-tab-content *ngIf="tabContentVisible" 
				[inputData]="tabContentInputData" 
				[mode]="tabContentMode" 
				[readonly]="tabContentReadonly">
			</app-document-attachments-tab-content>
		</p-tabPanel>
		<p-tabPanel [header]="'LABELS.SECURITY' | translate">
			<span *ngIf="!tabContentVisible">{{'MESSAGES.LOADING' | translate}}</span>
			<app-document-security-tab-content *ngIf="tabContentVisible" 
				[inputData]="tabContentInputData" 
				[mode]="tabContentMode" 
				[readonly]="tabContentReadonly">
			</app-document-security-tab-content>
		</p-tabPanel>		
		<p-tabPanel [header]="'LABELS.HISTORY' | translate" [disabled]="!historyTabEnabled">
			<span *ngIf="!tabContentVisible">{{'MESSAGES.LOADING' | translate}}</span>
			<app-document-history-tab-content *ngIf="tabContentVisible && historyTabEnabled" 
				[inputData]="tabContentInputData" 
				[mode]="tabContentMode" 
				[readonly]="tabContentReadonly">
			</app-document-history-tab-content>
		</p-tabPanel>
		<p-tabPanel [header]="'LABELS.VERSIONS' | translate" [disabled]="!versionsTabEnabled">
			<span *ngIf="!tabContentVisible">{{'MESSAGES.LOADING' | translate}}</span>
			<app-document-versions-tab-content *ngIf="tabContentVisible && versionsTabEnabled" 
				[inputData]="tabContentInputData" 
				[mode]="tabContentMode" 
				[readonly]="tabContentReadonly"
				(viewDocumentVersion)="onViewDocumentVersion($event)">
			</app-document-versions-tab-content>
		</p-tabPanel>		
		<p-tabPanel [header]="'LABELS.WORKFLOW_GRAPH' | translate" [disabled]="!workflowGraphTabEnabled">
			<span *ngIf="!tabContentVisible">{{'MESSAGES.LOADING' | translate}}</span>
			<app-document-workflow-graph-tab-content *ngIf="tabContentVisible" 
				[inputData]="tabContentInputData" 
				[mode]="tabContentMode" 
				[readonly]="tabContentReadonly">
			</app-document-workflow-graph-tab-content>
		</p-tabPanel>
	</p-tabView>
	<p-footer>
		<p-button (onClick)="onEditAction($event)" [disabled]="!editActionEnabled" [label]="'LABELS.EDIT' | translate"></p-button>
		<p-button (onClick)="onCloseAction($event)" [disabled]="!closeActionEnabled" [label]="'LABELS.CLOSE' | translate"></p-button>
		<p-button (onClick)="onSaveAndCloseAction($event)" [disabled]="!saveAndCloseActionEnabled" [label]="'LABELS.SAVE_AND_CLOSE' | translate"></p-button>
		<p-button (onClick)="onSaveAction($event)" [disabled]="!saveActionEnabled" [label]="'LABELS.SAVE' | translate"></p-button>
		<p-button (onClick)="onSendAction($event)" [disabled]="!sendActionEnabled" [label]="'LABELS.SEND' | translate"></p-button>
		<p-button (onClick)="onExportAsDocxAction($event)" [disabled]="!exportActionEnabled" [label]="'LABELS.EXPORT_AS_DOCX' | translate"></p-button>
		<p-button (onClick)="onCancelAction($event)" [disabled]="!cancelActionEnabled" [label]="'LABELS.CANCEL' | translate"></p-button>
	</p-footer>
</p-dialog>

<app-messages-window *ngIf="documentMessagesWindowVisible"
	[messages]="documentMessagesWindowMessages"
	(windowClosed)="onDocumentMessagesWindowClosed($event)">
</app-messages-window>

<app-choose-workflow-destination-user-window *ngIf="chooseWorkflowDestinationUserWindowVisible" 
	(destinationUserChose)="onChooseWorkflowDestinationUserWindowDestinationUserChose($event)">
</app-choose-workflow-destination-user-window>

<app-choose-workflow-transition-window *ngIf="chooseWorkflowTransitionWindowVisible" 
	[transitions]="chooseWorkflowTransitionWindowTransitions" 
	(transitionChose)="onChooseWorflowTransitionWindowTransitionChose($event)">
</app-choose-workflow-transition-window>

<app-choose-document-template-window *ngIf="chooseDocumentTemplateWindowVisible" 
	[templates]="chooseDocumentTemplateWindowTemplates" 
	(templateChose)="onChooseDocumentTemplateWindowTemplateChose($event)"
	(canceled)="onChooseDocumentTemplateWindowCanceled($event)">
</app-choose-document-template-window>

<app-document-window *ngIf="viewDocumentVersionWindowVisible" 
	[inputData]="viewDocumentVersionWindowInputData" 
	[mode]="viewDocumentVersionWindowMode"
	(windowClosed)="onViewDocumentVersionWindowClosed($event)">
</app-document-window>

<app-confirmation-window *ngIf="confirmationWindow.visible"
	[messages]="confirmationWindow.messages"
	[confirmationCallback]="confirmationWindow.callback">
</app-confirmation-window>