<p-table #tasksTable [(selection)]="selectedTask"[value]="page.items" [columns]="columns" selectionMode="single" [paginator]="true" 
		[lazy]="true" [rows]="page.pageSize" [totalRecords]="page.totalItems" [rowsPerPageOptions]="rowsPerPageOptions" [responsive]="true"
		[loading]="loading" (onLazyLoad)="onLazyLoadTasks($event)" [filterDelay]="filterDelay" 
		[scrollable]="true" [scrollHeight]="scrollHeight"
		(onRowSelect)="onTaskSelected($event)" (onRowUnselect)="onTaskUnselected($event)"> 

	<ng-template pTemplate="caption">
		{{ caption }}
	</ng-template>

	<ng-template pTemplate="colgroup" let-columns>
		<colgroup>
			<col *ngFor="let column of columns" style="width: 200px">
		</colgroup>
	</ng-template>

	<ng-template pTemplate="header">
		<tr>
			<th *ngFor="let column of columns" [pSortableColumn]="column.field" [pSortableColumnDisabled]="!isColumnSortable(column)">
				{{ column.header | translate }}
				<p-sortIcon *ngIf="isColumnSortable(column)" [field]="column.field"></p-sortIcon>
			</th>
		</tr>
		<tr>
			<th *ngFor="let column of columns" [ngSwitch]="column.filterType">
				
				<input *ngSwitchCase="'TEXT'" pInputText type="text" style="width :100%"
					(input)="tasksTable.filter($event.target.value, column.filterField, column.filterMatchMode)">
				
				<div *ngSwitchCase="'DATE'" class="ui-g-12 ui-g-nopad">
					<div class="ui-g-4">
						<p-dropdown [options]="dateFilterMatchModeSelectItems" (onChange)="onChangeDateFilterMatchMode($event, column)"
							filter="true"
								appendTo="body" autoDisplayFirst="false" [style]="{'min-width' :'100%'}">
						</p-dropdown>
					</div>
					<div class="ui-g-8">
						<p-calendar [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" [readonlyInput]="true"
							[dateFormat]="dateFormat" [yearRange]="yearRange" [yearRange]="yearRange" appendTo="body" showButtonBar="true"
							[style]="{'max-width':'100%'}" [inputStyle]="{'max-width':'70%'}"
							(onSelect)="tasksTable.filter($event, column.filterField, column.filterMatchMode)"
							(onClearClick)="tasksTable.filter('', column.filterField, column.filterMatchMode)">
						</p-calendar>
					</div>
				</div>
				
				<p-dropdown *ngSwitchCase="'PRIORITY'" [options]="taskPropertiesSelectItems" appendTo="body" [style]="{'width': '100%'}" 
					filter="true" [showClear]="true"
					(onChange)="tasksTable.filter($event.value, column.filterField, column.filterMatchMode)" [autoDisplayFirst]="false">
				</p-dropdown>
				<p-dropdown *ngSwitchCase="'STATUS'" [options]="taskStatusSelectItems" appendTo="body" [style]="{'width': '100%'}" 
					filter="true" [showClear]="true" filter="true"
					(onChange)="tasksTable.filter($event.value, column.filterField, column.filterMatchMode)" [autoDisplayFirst]="false"
					[(ngModel)]="defaultStatusFilter" [disabled]="statusFilterDisabled">
				</p-dropdown>
				<p-dropdown *ngSwitchCase="'ASSIGNEES'" [options]="userSelectItems" appendTo="body" [style]="{'width': '100%'}" [showClear]="true"
					(onChange)="tasksTable.filter($event.value, column.filterField, column.filterMatchMode)"
					filter="true" [autoDisplayFirst]="false">
				</p-dropdown>
				<p-dropdown *ngSwitchCase="'PARTICIPATIONS_TO'" [options]="participantsToSelectItems" appendTo="body" [style]="{'width': '100%'}" [showClear]="true"
					(onChange)="tasksTable.filter($event.value, column.filterField, column.filterMatchMode)"
					filter="true" [autoDisplayFirst]="false">
				</p-dropdown>
			</th>
		</tr>
	</ng-template>

	<ng-template pTemplate="emptymessage">
		<tr>
			<td align="center" [attr.colspan]="columns.length">
				{{'LABELS.NO_RECORDS_FOUND' | translate}}
			</td>
		</tr>
	</ng-template>

	<ng-template pTemplate="body" let-task let-rowIndex="rowIndex">
		<tr class="ui-widget-header" *ngIf="page.items[rowIndex]?.subactivity?.name !== page.items[rowIndex - 1]?.subactivity?.name">
			<td colspan="8">
				<span [ngStyle]="{'font-weight':'bold'}">{{"LABELS.PROJECT_SUBACTIVITY" | translate }}: {{ page.items[rowIndex]?.subactivity?.name }}</span>
			</td>
		</tr>
		<tr [pSelectableRow]="task" >
			<td *ngFor="let column of columns" [ngStyle]="task.style">
				<span *ngIf="column.field === 'startDate' || column.field === 'endDate'">
					{{task[column.field] | appDateFormater}}
				</span>
				<span *ngIf="column.field !== 'startDate' && column.field !== 'endDate'">
					{{ prepareColumnValue(column, task) }}
				</span>
			</td>
		</tr>
	</ng-template>
	
</p-table>