<div class="ui-g">
	
	<div class="ui-g-12">
		<p-button [label]="'LABELS.ADD' | translate" (onClick)="onAdd($event)" [disabled]="!addButtonEnabled"></p-button>
		<p-button [label]="'LABELS.EDIT' | translate" (onClick)="onEdit($event)" [disabled]="!editButtonEnabled"></p-button>
		<p-button [label]="'LABELS.VIEW' | translate" (onClick)="onView($event)" [disabled]="!viewButtonEnabled"></p-button>
		<p-button [label]="'LABELS.CANCEL' | translate" (onClick)="onCancel($event)" [disabled]="!cancelButtonEnabled"></p-button>
		<p-button [label]="'LABELS.REFRESH' | translate" (onClick)="onRefresh($event)" [disabled]="!refreshButtonEnabled"></p-button>
		<p-button [label]="'LABELS.EXPORT_CSV' | translate" (onClick)="onExportCSV($event)" [disabled]="!exportCSVButtonEnabled"></p-button>
	</div>
	
	<div class="ui-g-12 ui-sm-12 ui-md-6">
		<p-dropdown 
			[(ngModel)]="selectedYear" 
			[options]="yearItems"
			[placeholder]="'LABELS.SELECT' | translate"
			appendTo="body" 
			filter="true"
			(onChange)="onYearValueChanged($event)">
		</p-dropdown>
	</div>
	
	<div class="ui-g-12">
		<p-table *ngIf="tableVisible" 
				#registruDocumenteJustificativePlatiDataTable 
				[(selection)]="selectedData" 
				[selectionMode]="selectionMode" 
				[columns]="columns" 
				[value]="registruDocumenteJustificativePlati" 
				[paginator]="true" 
				[totalRecords]="registruDocumenteJustificativePlati.length" 
				[first]="pageOffset" 
				[rows]="pageRows"
				[rowsPerPageOptions]="[5,10,20,30]" 
				[scrollable]="true" 
				[scrollHeight]="scrollHeight"
				[loading]="dataLoading"
				(onRowSelect)="onDataSelected($event)"
				(onRowUnselect)="onDataUnselected($event)">
			<ng-template pTemplate="colgroup" let-columns>
				<colgroup>
					<col *ngFor="let column of columns" style="width:250px">
				</colgroup>
			</ng-template>
			<ng-template pTemplate="header" let-columns>
				<tr>
					<th *ngFor="let column of columns" [pSortableColumn]="column.filterField">
						{{column.header}}
						<p-sortIcon [field]="column.filterField"></p-sortIcon>
					</th>
				</tr>
				<tr>
					<th *ngFor="let column of columns" [ngSwitch]="column.field">
								
						<p-multiSelect *ngSwitchCase="'lunaInregistrareForDisplay'" [(ngModel)]="selectedLunaInregistrareFilterValue" [options]="monthsItems" [style]="{'width' :'100%'}" 
								maxSelectedLabels="1" appendTo="body" 
								(onChange)="registruDocumenteJustificativePlatiDataTable.filter($event.value, column.filterField, 'in')">
						</p-multiSelect>
	
						<input *ngSwitchCase="'numarInregistrareForDisplay'" [(ngModel)]="selectedNumarInregistrareFilterValue" pInputText type="text" 
								(input)="registruDocumenteJustificativePlatiDataTable.filter($event.target.value, column.filterField, 'startsWith')">
							
						<p-calendar *ngSwitchCase="'dataInregistrareForDisplay'" [(ngModel)]="selectedDataInregistrareFilterValue" [monthNavigator]="true" [yearNavigator]="true" 
								[readonlyInput]="true" [dateFormat]="dateFormat" [yearRange]="yearRange" [showIcon]="true" appendTo="body" 
								showButtonBar="true"  [style]="{'max-width':'100%'}" [inputStyle]="{'max-width':'70%'}"
								(onSelect)="registruDocumenteJustificativePlatiDataTable.filter($event, column.filterField, 'equals')"
								(onClearClick)="registruDocumenteJustificativePlatiDataTable.filter('', column.filterField, 'equals')">
						</p-calendar>
						
						<input *ngSwitchCase="'emitent'" [(ngModel)]="selectedEmitentFilterValue" pInputText type="text" 
								(input)="registruDocumenteJustificativePlatiDataTable.filter($event.target.value, column.filterField, 'contains')">
								
						<p-multiSelect *ngSwitchCase="'tipDocumentForDisplay'" [(ngModel)]="selectedTipDocumentFilterValue" [options]="tipDocumentNomenclatorFilterData" [style]="{'width' :'100%'}" 
								maxSelectedLabels="1" appendTo="body" 
								(onChange)="registruDocumenteJustificativePlatiDataTable.filter($event.value, column.filterField, 'in')">
						</p-multiSelect>
	
						<input *ngSwitchCase="'numarDocument'" [(ngModel)]="selectedNumarDocumentFilterValue" pInputText type="text" pKeyFilter="num"
								(input)="registruDocumenteJustificativePlatiDataTable.filter($event.target.value, column.filterField, 'contains')">
							
						<p-calendar *ngSwitchCase="'dataDocumentForDisplay'" [(ngModel)]="selectedDataDocumentFilterValue" [monthNavigator]="true" [yearNavigator]="true" 
								[readonlyInput]="true" [dateFormat]="dateFormat" [yearRange]="yearRange" [style]="{'width' :'80%'}" 
								[showIcon]="true" appendTo="body" showButtonBar="true" 
								(onSelect)="registruDocumenteJustificativePlatiDataTable.filter($event, column.filterField, 'equals')"
								(onClearClick)="registruDocumenteJustificativePlatiDataTable.filter('', column.filterField, 'equals')">
						</p-calendar>
								
						<p-multiSelect *ngSwitchCase="'modLivrareForDisplay'" [(ngModel)]="selectedModLivrareFilterValue" [options]="modLivrareItems" [style]="{'width' :'100%'}" 
								maxSelectedLabels="1" appendTo="body" 
								(onChange)="registruDocumenteJustificativePlatiDataTable.filter($event.value, column.filterField, 'in')">
						</p-multiSelect>
						
						<input *ngSwitchCase="'detalii'" [(ngModel)]="selectedDetaliiFilterValue" pInputText type="text" 
								(input)="registruDocumenteJustificativePlatiDataTable.filter($event.target.value, column.filterField, 'contains')">
	
						<input *ngSwitchCase="'valoareForDisplay'" [(ngModel)]="selectedValoareFilterValue" pInputText type="text" pKeyFilter="num"
								(input)="registruDocumenteJustificativePlatiDataTable.filter($event.target.value, column.filterField, 'contains')">
								
						<p-multiSelect *ngSwitchCase="'monedaForDisplay'" [(ngModel)]="selectedMonedaFilterValue" [options]="monedeNomenclatorFilterData" [style]="{'width' :'100%'}" 
								maxSelectedLabels="1" appendTo="body" 
								(onChange)="registruDocumenteJustificativePlatiDataTable.filter($event.value, column.filterField, 'in')">
						</p-multiSelect>
							
						<p-calendar *ngSwitchCase="'dataScadentaForDisplay'" [(ngModel)]="selectedDataScadentaFilterValue" [monthNavigator]="true" [yearNavigator]="true" 
								[readonlyInput]="true" [dateFormat]="dateFormat" [yearRange]="yearRange" [style]="{'width' :'80%'}" 
								[showIcon]="true" appendTo="body" showButtonBar="true" 
								(onSelect)="registruDocumenteJustificativePlatiDataTable.filter($event, column.filterField, 'equals')"
								(onClearClick)="registruDocumenteJustificativePlatiDataTable.filter('', column.filterField, 'equals')">
						</p-calendar>
								
						<p-multiSelect *ngSwitchCase="'modalitatePlataForDisplay'" [(ngModel)]="selectedModalitatePlataFilterValue" [options]="modalitatePlataItems" [style]="{'width' :'100%'}" 
								maxSelectedLabels="1" appendTo="body" 
								(onChange)="registruDocumenteJustificativePlatiDataTable.filter($event.value, column.filterField, 'in')">
						</p-multiSelect>
	
						<p-selectButton *ngSwitchCase="'reconciliereCuExtrasBancaForDisplay'" [(ngModel)]="selectedReconciliereCuExtrasBancaFilterValue" [options]="booleanFilterTypes" [multiple]="true"
								(onChange)="registruDocumenteJustificativePlatiDataTable.filter($event.value, column.filterField, 'equals')">
						</p-selectButton>
	
						<p-selectButton *ngSwitchCase="'platitForDisplay'" [(ngModel)]="selectedPlatitFilterValue" [options]="booleanFilterTypes" [multiple]="true"
								(onChange)="registruDocumenteJustificativePlatiDataTable.filter($event.value, column.filterField, 'equals')">
						</p-selectButton>
							
						<p-calendar *ngSwitchCase="'dataPlatiiForDisplay'" [(ngModel)]="selectedDataPlatiiFilterValue" [monthNavigator]="true" [yearNavigator]="true" 
								[readonlyInput]="true" [dateFormat]="dateFormat" [yearRange]="yearRange" [style]="{'width' :'80%'}" 
								[showIcon]="true" appendTo="body" showButtonBar="true" 
								(onSelect)="registruDocumenteJustificativePlatiDataTable.filter($event, column.filterField, 'equals')"
								(onClearClick)="registruDocumenteJustificativePlatiDataTable.filter('', column.filterField, 'equals')">
						</p-calendar>
						
						<input *ngSwitchCase="'incadrareConformBVC'" [(ngModel)]="selectedIncadrareConformBVCFilterValue" pInputText type="text" 
								(input)="registruDocumenteJustificativePlatiDataTable.filter($event.target.value, column.filterField, 'contains')">
	
						<input *ngSwitchCase="'intrareEmitere'" [(ngModel)]="selectedIntrareEmitereFilterValue" pInputText type="text" pKeyFilter="num"
								(input)="registruDocumenteJustificativePlatiDataTable.filter($event.target.value, column.filterField, 'contains')">
	
						<input *ngSwitchCase="'plataScadenta'" [(ngModel)]="selectedPlataScadentaFilterValue" pInputText type="text" pKeyFilter="num"
								(input)="registruDocumenteJustificativePlatiDataTable.filter($event.target.value, column.filterField, 'contains')">
	
						<input *ngSwitchCase="'scadentaEmitere'" [(ngModel)]="selectedScadentaEmitereFilterValue" pInputText type="text" pKeyFilter="num"
								(input)="registruDocumenteJustificativePlatiDataTable.filter($event.target.value, column.filterField, 'contains')">
	
						<p-selectButton *ngSwitchCase="'anulatForDisplay'" [(ngModel)]="selectedAnulatFilterValue" [options]="booleanFilterTypes" [multiple]="true"
								(onChange)="registruDocumenteJustificativePlatiDataTable.filter($event.value, column.filterField, 'equals')">
						</p-selectButton>
						
						<input *ngSwitchCase="'motivAnulare'" [(ngModel)]="selectedMotivAnulareFilterValue" pInputText type="text" 
								(input)="registruDocumenteJustificativePlatiDataTable.filter($event.target.value, column.filterField, 'contains')">
	
					</th>
				</tr>
			</ng-template>
			
			<ng-template pTemplate="body" let-documenteJustificativePlatiData let-rowIndex="rowIndex">
				<tr [pSelectableRow]="documenteJustificativePlatiData">
					<!-- <td *ngIf="rowGroupMetadata[documenteJustificativePlatiData['lunaInregistrare']].index === rowIndex" 
							[attr.rowspan]="rowGroupMetadata[documenteJustificativePlatiData['lunaInregistrare']].size">
						{{ documenteJustificativePlatiData['lunaInregistrareForDisplay'] | translate }} {{ documenteJustificativePlatiData.yearForDisplay }}
					</td> -->
					<td>{{ documenteJustificativePlatiData['lunaInregistrareForDisplay'] | translate }}</td>
					<td>{{ documenteJustificativePlatiData['numarInregistrareForDisplay'] }}</td>
					<td>{{ documenteJustificativePlatiData['dataInregistrareForDisplay'] }}</td>
					<td>{{ documenteJustificativePlatiData['emitent'] }}</td>
					<td>{{ documenteJustificativePlatiData['tipDocumentForDisplay'] }}</td>
					<td>{{ documenteJustificativePlatiData['numarDocument'] }}</td>
					<td>{{ documenteJustificativePlatiData['dataDocumentForDisplay'] }}</td>
					<td>{{ documenteJustificativePlatiData['modLivrareForDisplay'] | translate }}</td>
					<td>{{ documenteJustificativePlatiData['detalii'] }}</td>
					<td>{{ documenteJustificativePlatiData['valoareForDisplay'] }}</td>
					<td>{{ documenteJustificativePlatiData['monedaForDisplay'] }}</td>
					<td>{{ documenteJustificativePlatiData['dataScadentaForDisplay'] }}</td>
					<td>{{ documenteJustificativePlatiData['modalitatePlataForDisplay'] | translate }}</td>
					<td>{{ documenteJustificativePlatiData['reconciliereCuExtrasBancaForDisplay'] | translate }}</td>
					<td>{{ documenteJustificativePlatiData['platitForDisplay'] | translate }}</td>
					<td>{{ documenteJustificativePlatiData['dataPlatiiForDisplay'] }}</td>
					<td>{{ documenteJustificativePlatiData['incadrareConformBVC'] }}</td>
					<td>{{ documenteJustificativePlatiData['intrareEmitere'] }}</td>
					<td>{{ documenteJustificativePlatiData['plataScadenta'] }}</td>
					<td>{{ documenteJustificativePlatiData['scadentaEmitere'] }}</td>
					<td>{{ documenteJustificativePlatiData['anulatForDisplay'] | translate }}</td>
					<td>{{ documenteJustificativePlatiData['motivAnulare'] }}</td>
				</tr>
			</ng-template>
	
			<ng-template pTemplate="emptymessage">
				<tr>
					<td [attr.colspan]="columns.length">
						{{'LABELS.NO_RECORDS_FOUND' | translate}}
					</td>
				</tr>
			</ng-template>
		</p-table>
	</div>
	
	<app-registru-documente-justificative-plati-window
			*ngIf="registruDocumenteJustificativePlatiWindowVisible"
			[mode]="registruDocumenteJustificativePlatiWindowMode"
			[registruDocumentJustificativPlataId]="registruId"
			(windowClosed)="onRegistruDocumenteJustificativePlatiWindowClosed($event)">
	</app-registru-documente-justificative-plati-window>
	
	<app-anulare-document-justificativ-plati-window
			*ngIf="anulareDocumentJustificativPlatiWindowVisible"
			(windowClosed)="onAnulareDocumentJustificativPlatiWindowClosed($event)">
	</app-anulare-document-justificativ-plati-window>
</div>