<app-loading *ngIf="loadingVisible"></app-loading>

<p-dialog #pDialog [(visible)]="windowVisible" [modal]="true" appendTo="body"
		[contentStyle]="{'height':'70vh'}" [style]="{'width':'90vw','height':'auto'}" 
		(onShow)="onShow($event)" (onHide)="onHide($event)">
	<p-header>
		{{title}}
		<a [ngClass]="{'ui-dialog-titlebar-icon ui-corner-all':true}" style="position: absolute; right: 30px;"  tabindex="0" role="button" (click)="onToggleMinimize()" (keydown.enter)="onToggleMinimize()">
			<span [ngClass]="minimized ? 'pi pi-chevron-down' : 'pi pi-minus'"></span>
		</a>
	</p-header>

	<form [formGroup]="formGroup" [ngStyle]="{'height':'70vh'}">

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.DEPLASARI_DECONTURI_APELATIV" | translate}} <span *ngIf="isCampObligatoriu">*</span>:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<p-dropdown 
					[options]="apelativItems"
					[placeholder]="'LABELS.SELECT' | translate" 
					[style]="{'width':'100%'}" 
					[readonly]="readonly"
					formControlName="apelativ"
					appendTo="body">
				</p-dropdown>
			</div>
			<div *ngIf="apelativFormControl.invalid && (apelativFormControl.dirty || apelativFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.DEPLASARI_DECONTURI_REPREZENTANT_ARB" | translate}}<span *ngIf="isCampObligatoriu">*</span>:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<app-nomenclator-value-field
						formControlName="reprezentantArb"
						[readonly]="isReadOnly()"
						(valueChanged)="onReprezentantArbValueChanged()">
				</app-nomenclator-value-field>
			</div>
			<div *ngIf="reprezentantArbFormControl.invalid && (reprezentantArbFormControl.dirty || reprezentantArbFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					<span *ngIf="reprezentantArbFormControl.errors['required']">{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}</span>
				</div>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.DEPLASARI_DECONTURI_NUMAR_DECIZIE" | translate}}<span *ngIf="isCampObligatoriu">*</span>:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<p-dropdown 
					[options]="numarDecizieItems"
					[placeholder]="'LABELS.SELECT' | translate" 
					[style]="{'width':'100%'}" 
					[readonly]="numarDecizieReadonly"
					formControlName="numarDecizie"
					appendTo="body"
					filter="true"
					(onChange)="onNumarDecizieValueChanged()">
				</p-dropdown>
			</div>
			<div *ngIf="numarDecizieFormControl.invalid && (numarDecizieFormControl.dirty || numarDecizieFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.DEPLASARI_DECONTURI_INSTITUTIE" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<input pInputText type="text" formControlName="institutie" readonly>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.DEPLASARI_DECONTURI_DATA_DECIZIE" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<p-calendar 
						[showIcon]="true"
						[dateFormat]="dateFormat"
						formControlName="dataDecizie"
						readonlyInput="true"
						appendTo="body" 
						showButtonBar="true">
				</p-calendar>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.DEPLASARI_DECONTURI_DENUMIRE_ORGANISM" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<input pInputText type="text" formControlName="denumireOrganism" readonly>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.DEPLASARI_DECONTURI_ABREVIERE_ORGANISM" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<input pInputText type="text" formControlName="abreviereOrganism" readonly>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.DEPLASARI_DECONTURI_COMITET" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<input pInputText type="text" formControlName="comitet" readonly>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.DEPLASARI_DECONTURI_NUMAR_DEPLASARI_EFECTUATE" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<input pInputText type="text" formControlName="numarDeplasariEfectuate" readonly>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.DEPLASARI_DECONTURI_NUMAR_DEPLASARI_BUGETATE_RAMASE" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<input pInputText type="text" formControlName="numarDeplasariBugetateRamase" readonly>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.DEPLASARI_DECONTURI_EVENIMENT" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<input pInputText type="text" formControlName="eveniment" readonly>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.DEPLASARI_DECONTURI_TARA" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<input pInputText type="text" formControlName="tara" readonly>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.DEPLASARI_DECONTURI_ORAS" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<input pInputText type="text" formControlName="oras" readonly>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.DEPLASARI_DECONTURI_DATA_PLECARE" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<p-calendar 
						[showIcon]="true"
						[dateFormat]="dateFormat"
						formControlName="dataPlecare"
						showTime="true"
						readonlyInput="true"
						appendTo="body" 
						showButtonBar="true">
				</p-calendar>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.DEPLASARI_DECONTURI_DATA_SOSIRE" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<p-calendar 
						[showIcon]="true"
						[dateFormat]="dateFormat"
						formControlName="dataSosire"
						showTime="true"
						readonlyInput="true"
						appendTo="body" 
						showButtonBar="true">
				</p-calendar>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.DEPLASARI_DECONTURI_DATA_CONFERINTA_INCEPUT" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<p-calendar 
						[showIcon]="true"
						[dateFormat]="dateFormat"
						showTime="true"
						formControlName="dataConferintaInceput"
						readonlyInput="true"
						appendTo="body" 
						showButtonBar="true">
				</p-calendar>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.DEPLASARI_DECONTURI_DATA_CONFERINTA_SFARSIT" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<p-calendar 
						[showIcon]="true"
						[dateFormat]="dateFormat"
						showTime="true"
						formControlName="dataConferintaSfarsit"
						readonlyInput="true"
						appendTo="body" 
						showButtonBar="true">
				</p-calendar>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.DEPLASARI_DECONTURI_NUMAR_NOPTI" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<input pInputText type="number" formControlName="numarNopti" readonly>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.DEPLASARI_DECONTURI_MINUTA_INTALNIRE_TRANSMISA" | translate}}<span *ngIf="isCampObligatoriu">*</span>:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<p-checkbox formControlName="minutaIntalnireTransmisa" binary="true"></p-checkbox>
			</div>
			<div *ngIf="minutaIntalnireTransmisaFormControl.invalid && (minutaIntalnireTransmisaFormControl.dirty || minutaIntalnireTransmisaFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
				<div class="ui-message ui-messages-error ui-corner-all">
					<i class="fa fa-close"></i>
					{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
				</div>
			</div>
		</div>

		<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.DEPLASARI_DECONTURI_OBSERVATII" | translate}}:</div>
			<div class="ui-g-12 ui-sm-12 ui-md-10">
				<input pInputText type="text" formControlName="observatii">
			</div>
		</div>

		<div class="ui-g-12 ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<p-fieldset [legend]="decontFieldsetTitle" [toggleable]="true" [collapsed]="true"
					(onAfterToggle)="onAfterToggleDecontFieldset($event)">
				<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
					<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.CHELTUIELI_ARB_TITULAR_DECONT" | translate}}<span *ngIf="isCampObligatoriu">*</span>:</div>
					<div class="ui-g-12 ui-sm-12 ui-md-10">
						<input pInputText type="text" formControlName="cheltuieliArbTitularDecont" readonly>
					</div>
					<div *ngIf="cheltuieliArbTitularDecontFormControl.invalid && (cheltuieliArbTitularDecontFormControl.dirty || cheltuieliArbTitularDecontFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
						<div class="ui-message ui-messages-error ui-corner-all">
							<i class="fa fa-close"></i>
							{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
						</div>
					</div>
				</div>

				<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
					<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.CHELTUIELI_ARB_TIP_DECONT" | translate}}:</div>
					<div class="ui-g-12 ui-sm-12 ui-md-10">
						<input pInputText type="text" formControlName="cheltuieliArbTipDecont">
					</div>
				</div>

				<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
					<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.CHELTUIELI_ARB_DATA_DECONT" | translate}}<span *ngIf="isCampObligatoriu">*</span>:</div>
					<div class="ui-g-12 ui-sm-12 ui-md-10">
						<p-calendar 
								[showIcon]="true"
								[dateFormat]="dateFormat"
								formControlName="cheltuieliArbDataDecont"
								readonlyInput="true"
								appendTo="body" 
								showButtonBar="true"
								(onSelect)="onCheltuieliArbDataDecontChanged()">
						</p-calendar>
					</div>
					<div *ngIf="cheltuieliArbDataDecontFormControl.invalid && (cheltuieliArbDataDecontFormControl.dirty || cheltuieliArbDataDecontFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
						<div class="ui-message ui-messages-error ui-corner-all">
							<i class="fa fa-close"></i>
							<span *ngIf="cheltuieliArbDataDecontFormControl.errors.required">{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}</span>
							<span *ngIf="cheltuieliArbDataDecontFormControl.errors['dataSosireRequired']">{{"MESSAGES.CHELTUIERI_ARB_DATA_DECONT_DATA_SOSIRE_REQUIRED" | translate}}</span>
							<span *ngIf="cheltuieliArbDataDecontFormControl.errors['dataDecontLessThanDataSosire']">{{"MESSAGES.CHELTUIERI_ARB_DATA_DECONT_MAI_MICA_DECAT_DATA_SOSIRE" | translate}}</span>
						</div>
					</div>
				</div>

				<div class="ui-g-12 ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
					<p-fieldset [legend]="cheltuieliArbFieldsetTitle" [toggleable]="true" [collapsed]="true"
							(onAfterToggle)="onAfterToggleCheltuieliArbFieldset($event)">
						<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
							<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.CHELTUIELI_ARB" | translate}}<span *ngIf="isCampObligatoriu">*</span>:</div>
							<div class="ui-g-12 ui-sm-12 ui-md-10">
								<app-cheltuieli-arb-manager formControlName="cheltuieliArb" 
									[dataDecont]="cheltuieliArbDataDecont"
									(dataChanged)="onCheltuieliArbDataChanged($event)">
								</app-cheltuieli-arb-manager>
							</div>
							<div *ngIf="cheltuieliArbFormControl.invalid && (cheltuieliArbFormControl.dirty || cheltuieliArbFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
								<div class="ui-message ui-messages-error ui-corner-all">
									<i class="fa fa-close"></i>
									{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
								</div>
							</div>
						</div>
					</p-fieldset>
				</div>

				<div class="ui-g-12 ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
					<p-fieldset [legend]="cheltuieliReprezentantArbFieldsetTitle" [toggleable]="true" [collapsed]="true"
							(onAfterToggle)="onAfterToggleCheltuieliReprezentantArbFieldset($event)">

						<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
							<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.CHELTUIELI_REPREZENTANT_ARB_DIURNA_ZILNICA" | translate}}<span *ngIf="isCampObligatoriu">*</span>:</div>
							<div class="ui-g-12 ui-sm-12 ui-md-10">
								<input pInputText type="number" (input)="onDiurnaZilnicaChanged()" [min]="valoareMinimaDiurnaZilnica" formControlName="cheltuieliReprezentantArbDiurnaZilnica">
							</div>
							<div *ngIf="cheltuieliReprezentantArbDiurnaZilnicaFormControl.invalid && (cheltuieliReprezentantArbDiurnaZilnicaFormControl.dirty || cheltuieliReprezentantArbDiurnaZilnicaFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
								<div class="ui-message ui-messages-error ui-corner-all">
									<i class="fa fa-close"></i>
									<span *ngIf="cheltuieliReprezentantArbDiurnaZilnicaFormControl.errors.required">{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}</span>
									<span *ngIf="cheltuieliReprezentantArbDiurnaZilnicaFormControl.errors.min">{{"MESSAGES.VALIDATOR_MIN_VALUE" | translate:validationMessageParameterMinValueForDiurnaZilnica}}</span>
								</div>
							</div>
						</div>
						
						<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
							<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.CHELTUIELI_REPREZENTANT_ARB_DIURNA_ZILNICA_VALUTA" | translate}}<span *ngIf="isCampObligatoriu">*</span>:</div>
							<div class="ui-g-12 ui-sm-12 ui-md-10">
								<p-dropdown 
									[options]="valutaItems"
									[placeholder]="'LABELS.SELECT' | translate" 
									[style]="{'width':'100%'}" 
									formControlName="cheltuieliReprezentantArbDiurnaZilnicaValuta"
									(onChange)="onCheltuieliReprezentantArbDiurnaZilnicaValutaValueChanged()"
									appendTo="body">
								</p-dropdown>
							</div>
							<div *ngIf="cheltuieliReprezentantArbDiurnaZilnicaValutaFormControl.invalid && (cheltuieliReprezentantArbDiurnaZilnicaValutaFormControl.dirty || cheltuieliReprezentantArbDiurnaZilnicaValutaFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
								<div class="ui-message ui-messages-error ui-corner-all">
									<i class="fa fa-close"></i>
									{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
								</div>
							</div>
						</div>

						<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
							<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.CHELTUIELI_REPREZENTANT_ARB_DIURNA_ZILNICA_CURS_VALUTAR" | translate}}:</div>
							<div class="ui-g-12 ui-sm-12 ui-md-10">
								<input pInputText type="number" formControlName="cheltuieliReprezentantArbDiurnaZilnicaCursValutar" readonly>
							</div>
						</div>

						<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
							<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.CHELTUIELI_REPREZENTANT_ARB_DIURNA_ZILNICA_CARD_SAU_NUMERAR" | translate}}<span *ngIf="isCampObligatoriu">*</span>:</div>
							<div class="ui-g-12 ui-sm-12 ui-md-10">
								<p-dropdown 
									[options]="diurnaZilnicaModalitatePlataItems"
									[placeholder]="'LABELS.SELECT' | translate" 
									[style]="{'width':'100%'}" 
									formControlName="cheltuieliReprezentantArbDiurnaZilnicaModalitatePlata"
									appendTo="body">
								</p-dropdown>
							</div>
							<div *ngIf="cheltuieliReprezentantArbDiurnaZilnicaModalitatePlataFormControl.invalid && (cheltuieliReprezentantArbDiurnaZilnicaModalitatePlataFormControl.dirty || cheltuieliReprezentantArbDiurnaZilnicaModalitatePlataFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
								<div class="ui-message ui-messages-error ui-corner-all">
									<i class="fa fa-close"></i>
									{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
								</div>
							</div>
						</div>

						<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
							<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.CHELTUIELI_REPREZENTANT_ARB_NUMAR_ZILE" | translate}}:</div>
							<div class="ui-g-12 ui-sm-12 ui-md-10">
								<input pInputText type="number" formControlName="cheltuieliReprezentantArbNumarZile" readonly>
							</div>
						</div>

						<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
							<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.CHELTUIELI_REPREZENTANT_ARB_TOTAL_DIURNA" | translate}}:</div>
							<div class="ui-g-12 ui-sm-12 ui-md-10">
								<input pInputText type="number" formControlName="cheltuieliReprezentantArbTotalDiurna" readonly>
							</div>
						</div>

						<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
							<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.CHELTUIELI_REPREZENTANT_ARB_AVANS_PRIMIT_SUMA" | translate}}<span *ngIf="isCampObligatoriu">*</span>:</div>
							<div class="ui-g-12 ui-sm-12 ui-md-10">
								<input pInputText type="number" (input)="onAvansPrimitChanged()" [min]="valoareMinimaAvansPrimit" formControlName="cheltuieliReprezentantArbAvansPrimitSuma">
							</div>
							<div *ngIf="cheltuieliReprezentantArbAvansPrimitSumaFormControl.invalid && (cheltuieliReprezentantArbAvansPrimitSumaFormControl.dirty || cheltuieliReprezentantArbAvansPrimitSumaFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
								<div class="ui-message ui-messages-error ui-corner-all">
									<i class="fa fa-close"></i>
									<span *ngIf="cheltuieliReprezentantArbAvansPrimitSumaFormControl.errors.required">{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}</span>
									<span *ngIf="cheltuieliReprezentantArbAvansPrimitSumaFormControl.errors.min">{{"MESSAGES.VALIDATOR_MIN_VALUE" | translate:validationMessageParameterMinValueForAvansPrimit}}</span>
								</div>
							</div>
						</div>

						<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
							<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.CHELTUIELI_REPREZENTANT_ARB_AVANS_PRIMIT_SUMA_VALUTA" | translate}}<span *ngIf="isCampObligatoriu">*</span>:</div>
							<div class="ui-g-12 ui-sm-12 ui-md-10">
								<p-dropdown 
									[options]="valutaItems"
									[placeholder]="'LABELS.SELECT' | translate" 
									[style]="{'width':'100%'}" 
									formControlName="cheltuieliReprezentantArbAvansPrimitSumaValuta"
									(onChange)="onCheltuieliReprezentantArbAvansPrimitSumaValutaValueChanged()"
									appendTo="body">
								</p-dropdown>
							</div>
							<div *ngIf="cheltuieliReprezentantArbAvansPrimitSumaValutaFormControl.invalid && (cheltuieliReprezentantArbAvansPrimitSumaValutaFormControl.dirty || cheltuieliReprezentantArbAvansPrimitSumaValutaFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
								<div class="ui-message ui-messages-error ui-corner-all">
									<i class="fa fa-close"></i>
									{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
								</div>
							</div>
						</div>

						<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
							<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.CHELTUIELI_REPREZENTANT_ARB_AVANS_PRIMIT_SUMA_CURS_VALUTAR" | translate}}:</div>
							<div class="ui-g-12 ui-sm-12 ui-md-10">
								<input pInputText type="number" formControlName="cheltuieliReprezentantArbAvansPrimitSumaCursValutar" readonly>
							</div>
						</div>

						<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
							<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.CHELTUIELI_REPREZENTANT_ARB_AVANS_PRIMIT_CARD_SAU_NUMERAR" | translate}}<span *ngIf="isCampObligatoriu">*</span>:</div>
							<div class="ui-g-12 ui-sm-12 ui-md-10">
								<p-dropdown 
									[options]="avansPrimitModalitatePlataItems"
									[placeholder]="'LABELS.SELECT' | translate" 
									[style]="{'width':'100%'}" 
									formControlName="cheltuieliReprezentantArbAvansPrimitCardSauNumerar"
									appendTo="body">
								</p-dropdown>
							</div>
							<div *ngIf="cheltuieliReprezentantArbAvansPrimitCardSauNumerarFormControl.invalid && (cheltuieliReprezentantArbAvansPrimitCardSauNumerarFormControl.dirty || cheltuieliReprezentantArbAvansPrimitCardSauNumerarFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
								<div class="ui-message ui-messages-error ui-corner-all">
									<i class="fa fa-close"></i>
									{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
								</div>
							</div>
						</div>

						<div class="ui-g-12 ui-g-nopad ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
							<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.CHELTUIELI_REPREZENTANT_ARB" | translate}}:</div>
							<div class="ui-g-12 ui-sm-12 ui-md-10">
								<app-cheltuieli-reprezentant-arb-manager 
									formControlName="cheltuieliReprezentantArb" 
									[dataDecont]="cheltuieliArbDataDecont"
									(dataChanged)="onCheltuieliReprezentantArbDataChanged($event)">
								</app-cheltuieli-reprezentant-arb-manager>
							</div>
							<div *ngIf="cheltuieliReprezentantArbFormControl.invalid && (cheltuieliReprezentantArbFormControl.dirty || cheltuieliReprezentantArbFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
								<div class="ui-message ui-messages-error ui-corner-all">
									<i class="fa fa-close"></i>
									{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
								</div>
							</div>
						</div>

					</p-fieldset>
				</div>

				<div *ngIf="(cheltuieliArbFormControl.invalid && (cheltuieliArbFormControl.dirty || cheltuieliArbFormControl.touched) ) && (cheltuieliReprezentantArbFormControl.invalid && (cheltuieliReprezentantArbFormControl.dirty || cheltuieliReprezentantArbFormControl.touched) )" class="ui-g-12 ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
					<div class="ui-message ui-messages-error ui-corner-all">
						<i class="fa fa-close"></i>
						<span *ngIf="cheltuieliArbFormControl.errors['cheltuieliArbSauCheltuieliReprezentantArbRequired'] && cheltuieliReprezentantArbFormControl.errors['cheltuieliArbSauCheltuieliReprezentantArbRequired']">{{"MESSAGES.CHELTUIERI_ARB_SAU_CHELTUIELI_REPREZENTANT_ARB_REQUIRED" | translate}}</span>
					</div>
				</div>
			</p-fieldset>
		</div>
	</form>

	<p-footer>
		<p-button (onClick)="onSaveAction($event)" [disabled]="!saveActionEnabled" [label]="'LABELS.SAVE' | translate"></p-button>
		<p-button (onClick)="onCloseAction($event)" [label]="'LABELS.CLOSE' | translate"></p-button>
	</p-footer>
</p-dialog>

<app-messages-window *ngIf="messagesWindowVisible"
	[messages]="messagesWindowMessages"
	(windowClosed)="onMessagesWindowClosed()">
</app-messages-window>