<app-loading *ngIf="loadingVisible"></app-loading>
<form [formGroup]="formGroup">

	<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
		<div class="ui-grid-row">
			<div class="ui-grid-col-2">
				{{imputernicireLabel}}<span *ngIf="requiredFields['imputernicire']"> *</span>:
			</div>
			<div class="ui-grid-col-10">
				<p-dropdown [options]="imputernicireSelectItems" 
					formControlName="imputernicire"
					[style]="{'width':'100%'}"
					autoDisplayFirst="false"
					[placeholder]="'LABELS.SELECT' | translate"
					[filterPlaceholder]="'LABELS.SELECT' | translate"
					(onChange)="onImputernicireValueChanged($event)"
					appendTo="body">
				</p-dropdown>		
			</div>
		</div>
		<div class="ui-grid-row">
			<div class="ui-grid-col-2"></div>
			<div class="ui-grid-col-10">
				<div *ngIf="imputernicireFormControl.invalid && (imputernicireFormControl.dirty || imputernicireFormControl.touched)" class="ui-message ui-widget ui-corner-all ui-message-error">
					<span class="ui-message-icon pi pi-times"></span>
					<span *ngIf="imputernicireFormControl.errors['required']" class="ui-message-text">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>
				</div>
			</div>
		</div>	
	</div>

	<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
		<div class="ui-grid-row">
			<div class="ui-grid-col-2">
				{{participantAcreditatLabel}}<span *ngIf="requiredFields['participant_acreditat']"> *</span>:
			</div>
			<div class="ui-grid-col-10">
				<app-nomenclator-value-field 
					formControlName="participantAcreditat"
					(valueChanged)="participantAcreditatValueChanged($event)">
				</app-nomenclator-value-field>	
			</div>
		</div>
		<div class="ui-grid-row">
			<div class="ui-grid-col-2"></div>
			<div class="ui-grid-col-10">
				<div *ngIf="participantAcreditatFormControl.invalid && (participantAcreditatFormControl.dirty || participantAcreditatFormControl.touched)" class="ui-message ui-widget ui-corner-all ui-message-error">
					<span class="ui-message-icon pi pi-times"></span>
					<span *ngIf="participantAcreditatFormControl.errors['required']" class="ui-message-text">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>
				</div>
			</div>
		</div>	
	</div>

	<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
		<div class="ui-grid-row">
			<div class="ui-grid-col-2">
				{{numeParticipantInlocuitorLabel}}<span *ngIf="requiredFields['nume_participant_inlocuitor']"> *</span>:
			</div>
			<div class="ui-grid-col-10">
				<input type="text" formControlName="numeParticipantInlocuitor" pInputText>		
			</div>
		</div>
		<div class="ui-grid-row">
			<div class="ui-grid-col-2"></div>
			<div class="ui-grid-col-10">
				<div *ngIf="numeParticipantInlocuitorFormControl.invalid && (numeParticipantInlocuitorFormControl.dirty || numeParticipantInlocuitorFormControl.touched)" class="ui-message ui-widget ui-corner-all ui-message-error">
					<span class="ui-message-icon pi pi-times"></span>
					<span *ngIf="numeParticipantInlocuitorFormControl.errors['required']" class="ui-message-text">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>
				</div>
			</div>
		</div>	
	</div>

	<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
		<div class="ui-grid-row">
			<div class="ui-grid-col-2">
				{{prenumeParticipantInlocuitorLabel}}<span *ngIf="requiredFields['prenume_participant_inlocuitor']"> *</span>:
			</div>
			<div class="ui-grid-col-10">
				<input type="text" formControlName="prenumeParticipantInlocuitor" pInputText>		
			</div>
		</div>
		<div class="ui-grid-row">
			<div class="ui-grid-col-2"></div>
			<div class="ui-grid-col-10">
				<div *ngIf="prenumeParticipantInlocuitorFormControl.invalid && (prenumeParticipantInlocuitorFormControl.dirty || prenumeParticipantInlocuitorFormControl.touched)" class="ui-message ui-widget ui-corner-all ui-message-error">
					<span class="ui-message-icon pi pi-times"></span>
					<span *ngIf="prenumeParticipantInlocuitorFormControl.errors['required']" class="ui-message-text">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>
				</div>
			</div>
		</div>	
	</div>

	<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
		<div class="ui-grid-row">
			<div class="ui-grid-col-2">
				{{functieParticipantLabel}}<span *ngIf="requiredFields['functie_participant_acreditat_inlocuitor']"> *</span>:
			</div>
			<div class="ui-grid-col-10">
				<input type="text" formControlName="functieParticipant" pInputText>		
			</div>
		</div>
		<div class="ui-grid-row">
			<div class="ui-grid-col-2"></div>
			<div class="ui-grid-col-10">
				<div *ngIf="functieParticipantFormControl.invalid && (functieParticipantFormControl.dirty || functieParticipantFormControl.touched)" class="ui-message ui-widget ui-corner-all ui-message-error">
					<span class="ui-message-icon pi pi-times"></span>
					<span *ngIf="functieParticipantFormControl.errors['required']" class="ui-message-text">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>
				</div>
			</div>
		</div>	
	</div>

	<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
		<div class="ui-grid-row">
			<div class="ui-grid-col-2">
				{{calitateParticipantLabel}}<span *ngIf="requiredFields['calitate_participant']"> *</span>:
			</div>
			<div class="ui-grid-col-10">
				<p-dropdown [options]="calitateSelectItems" 
					formControlName="calitateParticipant"
					[style]="{'width':'100%'}"
					[placeholder]="'LABELS.SELECT' | translate"
					[filterPlaceholder]="'LABELS.SELECT' | translate"
					showClear="true"
					(onChange)="onCalitateParticipantValueChanged($event)"
					appendTo="body">
				</p-dropdown>	
			</div>
		</div>	
		<div class="ui-grid-row">
			<div class="ui-grid-col-2"></div>
			<div class="ui-grid-col-10">
				<div *ngIf="calitateParticipantFormControl.invalid && (calitateParticipantFormControl.dirty || calitateParticipantFormControl.touched)" class="ui-message ui-widget ui-corner-all ui-message-error">
					<span class="ui-message-icon pi pi-times"></span>
					<span *ngIf="calitateParticipantFormControl.errors['required']" class="ui-message-text">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>
				</div>
			</div>
		</div>	
	</div>

	<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
		<div class="ui-grid-row">
			<div class="ui-grid-col-2">
				{{institutieLabel}}<span *ngIf="requiredFields['institutie']"> *</span>:
			</div>
			<div class="ui-grid-col-10">
				<app-nomenclator-value-field 
					formControlName="institutie"
					[customFilters]="institutieCustomFilters">
				</app-nomenclator-value-field>		
			</div>
		</div>	
		<div class="ui-grid-row">
			<div class="ui-grid-col-2"></div>
			<div class="ui-grid-col-10">
				<div *ngIf="institutieFormControl.invalid && (institutieFormControl.dirty || institutieFormControl.touched)" class="ui-message ui-widget ui-corner-all ui-message-error">
					<span class="ui-message-icon pi pi-times"></span>
					<span *ngIf="institutieFormControl.errors['required']" class="ui-message-text">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>
				</div>
			</div>
		</div>	
	</div>		
		
</form>
