<app-loading *ngIf="loadingVisible"></app-loading>
<form [formGroup]="formGroup">

	<!-- institutie -->
	<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
		<div class="ui-grid-row">
			<div class="ui-grid-col-2">
				{{institutieLabel}} *:
			</div>
			<div class="ui-grid-col-10">
				<p-dropdown [options]="institutieSelectItems" 
					formControlName="institutie"
					[style]="{'width':'100%'}"
					[placeholder]="'LABELS.SELECT' | translate"
					[filterPlaceholder]="'LABELS.SELECT' | translate"
					[filter]="true"
					autoDisplayFirst="false"
					showClear="true"
					(onChange)="onInstitutieValueChanged($event)"
					appendTo="body">
				</p-dropdown>		
			</div>
		</div>
		<div class="ui-grid-row">
			<div class="ui-grid-col-2"></div>
			<div class="ui-grid-col-10">
				<div *ngIf="institutieFormControl.invalid && (institutieFormControl.dirty || institutieFormControl.touched)" class="ui-message ui-widget ui-corner-all ui-message-error">
					<span class="ui-message-icon pi pi-times"></span>
					<span *ngIf="institutieFormControl.errors['required']" class="ui-message-text">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>
				</div>
			</div>
		</div>	
	</div>

	<!-- membru acreditat -->
	<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
		<div class="ui-grid-row">
			<div class="ui-grid-col-2">
				{{membruAcreditatLabel}}:
			</div>
			<div class="ui-grid-col-10">
				<div class="ui-inputgroup">
					<input type="text" pInputText formControlName="membruAcreditat" [readonly]="true">
					<button pButton type="button" *ngIf="clearSelectedMembruAcreditatEnabled" icon="fa fa-close" class="ui-button-secondary" (click)="onClearSelectedMembruAcreditat()"></button>			
					<button pButton type="button" label="..." [disabled]="!selectMembruAcreditatEnabled" (click)="onSelectMembruAcreditat()"></button> 
				</div>	
			</div>
		</div>
		<div class="ui-grid-row">
			<div class="ui-grid-col-2"></div>
			<div class="ui-grid-col-10">
				<div *ngIf="membruAcreditatFormControl.invalid && (membruAcreditatFormControl.dirty || membruAcreditatFormControl.touched)" class="ui-message ui-widget ui-corner-all ui-message-error">
					<span class="ui-message-icon pi pi-times"></span>
					<span *ngIf="membruAcreditatFormControl.errors['membruAcreditatOrInlocuitorRequired']" class="ui-message-text">{{'MESSAGES.PREZENTA_COMISIE_GL_INFORMATII_PARTICIPANTI_MEMBRU_ACREDITAT_OR_INLOCUITOR_REQUIRED' | translate}}</span>
				</div>
			</div>
		</div>	
	</div>

	<!-- nume membru inlocuitor -->
	<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
		<div class="ui-grid-row">
			<div class="ui-grid-col-2">
				{{numeMembruInlocuitorLabel}} :
			</div>
			<div class="ui-grid-col-10">
				<input type="text" formControlName="numeMembruInlocuitor" (input)="onNumeInlocuitorChanged()" pInputText>		
			</div>
		</div>
		<div class="ui-grid-row">
			<div class="ui-grid-col-2"></div>
			<div class="ui-grid-col-10">
				<div *ngIf="numeMembruInlocuitorFormControl.invalid && (numeMembruInlocuitorFormControl.dirty || numeMembruInlocuitorFormControl.touched)" class="ui-message ui-widget ui-corner-all ui-message-error">
					<span class="ui-message-icon pi pi-times"></span>
					<span *ngIf="numeMembruInlocuitorFormControl.errors['required']" class="ui-message-text">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>
				</div>
			</div>
		</div>	
	</div>

	<!-- prenume membru inlocuitor -->
	<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
		<div class="ui-grid-row">
			<div class="ui-grid-col-2">
				{{prenumeMembruInlocuitorLabel}} :
			</div>
			<div class="ui-grid-col-10">
				<input type="text" formControlName="prenumeMembruInlocuitor" (input)="onPrenumeInlocuitorChanged()" pInputText>		
			</div>
		</div>
		<div class="ui-grid-row">
			<div class="ui-grid-col-2"></div>
			<div class="ui-grid-col-10">
				<div *ngIf="prenumeMembruInlocuitorFormControl.invalid && (prenumeMembruInlocuitorFormControl.dirty || prenumeMembruInlocuitorFormControl.touched)" class="ui-message ui-widget ui-corner-all ui-message-error">
					<span class="ui-message-icon pi pi-times"></span>
					<span *ngIf="prenumeMembruInlocuitorFormControl.errors['required']" class="ui-message-text">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>
				</div>
			</div>
		</div>	
	</div>

	<!-- functie membru inlocuitor -->
	<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
		<div class="ui-grid-row">
			<div class="ui-grid-col-2">
				{{functieMembruLabel}}:
			</div>
			<div class="ui-grid-col-10">
				<input type="text" formControlName="functieMembru" pInputText>		
			</div>
		</div>
		<div class="ui-grid-row">
			<div class="ui-grid-col-2"></div>
			<div class="ui-grid-col-10">
				<div *ngIf="functieMembruFormControl.invalid && (functieMembruFormControl.dirty || functieMembruFormControl.touched)" class="ui-message ui-widget ui-corner-all ui-message-error">
					<span class="ui-message-icon pi pi-times"></span>
					<span *ngIf="functieMembruFormControl.errors['required']" class="ui-message-text">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>
				</div>
			</div>
		</div>	
	</div>

	<!-- departament -->
	<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
		<div class="ui-grid-row">
			<div class="ui-grid-col-2">
				{{departamentLabel}}:
			</div>
			<div class="ui-grid-col-10">
				<input type="text" formControlName="departament" pInputText>		
			</div>
		</div>	
	</div>

	<!-- telefon -->
	<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
		<div class="ui-grid-row">
			<div class="ui-grid-col-2">
				{{telefonLabel}}:
			</div>
			<div class="ui-grid-col-10">
				<input type="text" formControlName="telefon" pInputText>		
			</div>
		</div>	
	</div>		
		
	<!-- adresa email participant -->
	<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
		<div class="ui-grid-row">
			<div class="ui-grid-col-2">
				{{adresaEmailParticipantLabel}}:
			</div>
			<div class="ui-grid-col-10">
				<input type="text" formControlName="adresaEmailParticipant" pInputText>		
			</div>
		</div>	
	</div>

	<!-- calitate participant -->
	<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
		<div class="ui-grid-row">
			<div class="ui-grid-col-2">
				{{calitateParticipantLabel}}:
			</div>
			<div class="ui-grid-col-10">
				<p-dropdown [options]="calitateSelectItems" 
					formControlName="calitateParticipant"
					[style]="{'width':'100%'}"
					[placeholder]="'LABELS.SELECT' | translate"
					[filterPlaceholder]="'LABELS.SELECT' | translate"
					showClear="true"
					(onChange)="onCalitateParticipantValueChanged($event)"
					appendTo="body">
				</p-dropdown>	
			</div>
		</div>	
	</div>
</form>

<p-dialog #pDialogSma [(visible)]="selectMembruAcreditatDialogVisible" [modal]="true" appendTo="body"
		[contentStyle]="{'height':'70vh'}" [style]="{'width':'90vw','height':'auto'}" 
		(onShow)="onShowSelectMembruAcreditatDialog($event, pDialogSma)" (onHide)="onHideSelectMembruAcreditatDialog($event)">
	<p-header>
		{{title}}
		<a [ngClass]="{'ui-dialog-titlebar-icon ui-corner-all':true}" style="position: absolute; right: 30px;"  tabindex="0" role="button" (click)="onToggleMinimizeSelectMembruAcreditatDialog(pDialogSma)" (keydown.enter)="onToggleMinimizeSelectMembruAcreditatDialog(pDialogSma)">
			<span [ngClass]="selectMembruAcreditatDialogMinimized ? 'pi pi-chevron-down' : 'pi pi-minus'"></span>
		</a>				
	</p-header>

	<p-table [(selection)]="selectionMembruAcreditat"
			[value]="membriAcreditati"
			columnResizeMode="expand"
			[selectionMode]="'single'"
			[responsive]="true"
			[resizableColumns]="true"
			[scrollable]="true"
			scrollHeight="500px"
			[rows]="membriAcreditatiPageSize"
			[paginator]="true"
			[rows]="membriAcreditatiPageSize"
			(onRowSelect)="onMembruAcreditatSelected($event)"
			(onRowUnselect)="onMembruAcreditatUnselected($event)">
		<ng-template pTemplate="colgroup" let-columns>
			<colgroup>
				<col style="width: 5%">
				<col style="width: 15%">
				<col style="width: 15%">
				<col style="width: 15%">
				<col style="width: 15%">
				<col style="width: 15%">
				<col style="width: 10%">
				<col style="width: 10%">
			</colgroup>
		</ng-template>
		<ng-template pTemplate="header" let-columns>
			<tr [pSelectableRow]>
				<th pResizableColumn>
					{{"LABELS.NO_CRT" | translate}}
				</th>							
				<th pResizableColumn pSortableColumn="nume">
					{{"LABELS.MEMBRU_REPREZENTANTI_COMISIE_SAU_GL_NUME" | translate}}
					<p-sortIcon field="nume"></p-sortIcon>
				</th>
				<th pResizableColumn pSortableColumn="prenume">
					{{"LABELS.MEMBRU_REPREZENTANTI_COMISIE_SAU_GL_PRENUME" | translate}}
					<p-sortIcon field="prenume"></p-sortIcon>
				</th>
				<th pResizableColumn pSortableColumn="functie">
					{{"LABELS.MEMBRU_REPREZENTANTI_COMISIE_SAU_GL_FUNCTIE" | translate}}
					<p-sortIcon field="functie"></p-sortIcon>
				</th>
				<th pResizableColumn pSortableColumn="departament">
					{{"LABELS.MEMBRU_REPREZENTANTI_COMISIE_SAU_GL_DEPARTAMENT" | translate}}
					<p-sortIcon field="departament"></p-sortIcon>
				</th>
				<th pResizableColumn pSortableColumn="telefon">
					{{"LABELS.MEMBRU_REPREZENTANTI_COMISIE_SAU_GL_TELEFON" | translate}}
					<p-sortIcon field="telefon"></p-sortIcon>
				</th>
				<th pResizableColumn pSortableColumn="email">
					{{"LABELS.MEMBRU_REPREZENTANTI_COMISIE_SAU_GL_EMAIL" | translate}}
					<p-sortIcon field="email"></p-sortIcon>
				</th>
				<th pResizableColumn pSortableColumn="calitate">
					{{"LABELS.MEMBRU_REPREZENTANTI_COMISIE_SAU_GL_CALITATE" | translate}}
					<p-sortIcon field="calitate"></p-sortIcon>
				</th>	
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-ma let-index="rowIndex">
			<tr [pSelectableRow]="ma">
				<td class="ui-resizable-column">{{(index + 1)}}</td>					
				<td class="ui-resizable-column">{{ma.nume}}</td>
				<td class="ui-resizable-column">{{ma.prenume}}</td>
				<td class="ui-resizable-column">{{ma.functie}}</td>
				<td class="ui-resizable-column">{{ma.departament}}</td>
				<td class="ui-resizable-column">{{ma.telefon}}</td>
				<td class="ui-resizable-column">{{ma.email}}</td>
				<td class="ui-resizable-column">{{ma.calitate}}</td>
			</tr>
		</ng-template>
		<ng-template pTemplate="emptymessage" let-columns>
			<tr>
				<td [attr.colspan]="8">
					{{"LABELS.NO_RECORDS_FOUND" | translate}}
				</td>
			</tr>
		</ng-template>
	</p-table>
	<p-footer>
		<p-button (onClick)="onSelectMembruAcreditatDialogOKAction()" [label]="'LABELS.OK' | translate" [disabled]="!membruAcreditatDialogOKActionEnabled"></p-button>
		<p-button (onClick)="onSelectMembruAcreditatDialogCloseAction()" [label]="'LABELS.CLOSE' | translate"></p-button>
	</p-footer>
</p-dialog>