<div class="ui-g ui-grid-responsive ui-grid-pad ui-fluid">
	<form [formGroup]="formGroup" class="ui-g-12">

		<!-- Comisie / GL-->
		<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-grid-row">
				<div class="ui-grid-col-3">
					{{'LABELS.REPREZENTANTI_COMISIE_SAU_GL_DENUMIRE' | translate}}:
				</div>
				<div class="ui-grid-col-9">
					<app-nomenclator-value-field
							formControlName="comisieSauGL"
							[readonly]="true">
					</app-nomenclator-value-field>
				</div>
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-3"></div>
				<div class="ui-grid-col-9">
					<div class="ui-message ui-messages-error ui-corner-all" *ngIf="comisieSauGLFormControl.invalid && (comisieSauGLFormControl.dirty || comisieSauGLFormControl.touched)">
						<i class="fa fa-close"></i>
						<span *ngIf="comisieSauGLFormControl.errors['required']">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>
					</div>
				</div>
			</div>
		</div>
	
		<!-- Presedinte -->
		<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-grid-row">
				<div class="ui-grid-col-3">
					{{'LABELS.REPREZENTANTI_COMISIE_SAU_GL_PRESEDINTE' | translate}}<span *ngIf="inputData.isCategorieComisie"> *</span>:
				</div>
				<div class="ui-grid-col-9">
					<app-nomenclator-value-field
							formControlName="presedinte"
							[readonly]="readonly">
					</app-nomenclator-value-field>
				</div>			
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-3"></div>
				<div class="ui-grid-col-9">
					<div class="ui-message ui-messages-error ui-corner-all" *ngIf="presedinteFormControl.invalid && (presedinteFormControl.dirty || presedinteFormControl.touched)">
						<i class="fa fa-close"></i>
						<span *ngIf="presedinteFormControl.errors['required']">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>
					</div>
				</div>
			</div>
		</div>

		<!-- Data inceput mandat presedinte -->
		<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-grid-row">
				<div class="ui-grid-col-3">
					{{'LABELS.REPREZENTANTI_COMISIE_SAU_GL_DATA_INCEPUT_MANDAT_PRESEDINTE' | translate}}<span *ngIf="inputData.isCategorieComisie"> *</span>:
				</div>
				<div class="ui-grid-col-9">
					<p-calendar
						formControlName="dataInceputMandatPresedinte" 
						showIcon="true" 
						[readonlyInput]="readonly" 
						[disabled]="readonly" 
						[dateFormat]="dateFormat"
						monthNavigator="true" 
						yearNavigator="true"
						[yearRange]="yearRange"
						showButtonBar="true"
						appendTo="body" 
						[dataType]="'date'"
						[minDate]="minDateForDataInceputMandat"						
						(onSelect)="onDataInceputMandatPresedinteChanged($event)"
						(onClearClick)="onDataInceputMandatPresedinteClearClicked($event)">
					</p-calendar>
				</div>
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-3"></div>
				<div class="ui-grid-col-9">
					<div class="ui-message ui-messages-error ui-corner-all" *ngIf="dataInceputMandatPresedinteFormControl.invalid && (dataInceputMandatPresedinteFormControl.dirty || dataInceputMandatPresedinteFormControl.touched)">
						<i class="fa fa-close"></i>
						<span *ngIf="dataInceputMandatPresedinteFormControl.errors['required']">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>
					</div>
				</div>
			</div>			
		</div>

		<!-- Data expirare mandat presedinte -->
		<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-grid-row">
				<div class="ui-grid-col-3">
					{{'LABELS.REPREZENTANTI_COMISIE_SAU_GL_DATA_EXPIRARE_MANDAT_PRESEDINTE' | translate}}:
				</div>
				<div class="ui-grid-col-9">
					<input formControlName="dataExpirareMandatPresedinte" 
							type="text"
							[value]="dataExpirareMandatPresedinteFormControl.value | appDateFormater"
							pInputText
							readonly="true">
				</div>
			</div>
		</div>

		<!-- Vicepresedinte1 -->
		<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-grid-row">
				<div class="ui-grid-col-3">
					{{'LABELS.REPREZENTANTI_COMISIE_SAU_GL_VICEPRESEDINTE1' | translate}}<span *ngIf="inputData.isCategorieComisie"> *</span>:
				</div>
				<div class="ui-grid-col-9">
					<app-nomenclator-value-field
							formControlName="vicepresedinte1"
							[readonly]="readonly">
					</app-nomenclator-value-field>
				</div>
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-3"></div>
				<div class="ui-grid-col-9">
					<div class="ui-message ui-messages-error ui-corner-all" *ngIf="vicepresedinte1FormControl.invalid && (vicepresedinte1FormControl.dirty || vicepresedinte1FormControl.touched)">
						<i class="fa fa-close"></i>
						<span *ngIf="vicepresedinte1FormControl.errors['required']">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>
					</div>
				</div>
			</div>
		</div>

		<!-- Data inceput mandat vicepresedinte1 -->
		<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-grid-row">
				<div class="ui-grid-col-3">
					{{'LABELS.REPREZENTANTI_COMISIE_SAU_GL_DATA_INCEPUT_MANDAT_VICEPRESEDINTE1' | translate}}<span *ngIf="inputData.isCategorieComisie"> *</span>:
				</div>
				<div class="ui-grid-col-9">
					<p-calendar
						formControlName="dataInceputMandatVicepresedinte1" 
						showIcon="true" 
						[readonlyInput]="readonly" 
						[disabled]="readonly"
						[dateFormat]="dateFormat"
						monthNavigator="true" 
						yearNavigator="true"
						[yearRange]="yearRange"
						showButtonBar="true"
						appendTo="body" 
						[dataType]="'date'"
						[minDate]="minDateForDataInceputMandat"						
						(onSelect)="onDataInceputMandatVicepresedinte1Changed($event)"
						(onClearClick)="onDataInceputMandatVicepresedinte1ClearClicked($event)">
					</p-calendar>
				</div>
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-3"></div>
				<div class="ui-grid-col-9">
					<div class="ui-message ui-messages-error ui-corner-all" *ngIf="dataInceputMandatVicepresedinte1FormControl.invalid && (dataInceputMandatVicepresedinte1FormControl.dirty || dataInceputMandatVicepresedinte1FormControl.touched)">
						<i class="fa fa-close"></i>
						<span *ngIf="dataInceputMandatVicepresedinte1FormControl.errors['required']">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>
					</div>
				</div>
			</div>
		</div>

		<!-- Data expirare mandat vicepresedinte1 -->
		<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-grid-row">
				<div class="ui-grid-col-3">
					{{'LABELS.REPREZENTANTI_COMISIE_SAU_GL_DATA_EXPIRARE_MANDAT_VICEPRESEDINTE1' | translate}}:
				</div>
				<div class="ui-grid-col-9">
					<input formControlName="dataExpirareMandatVicepresedinte1" 
							type="text"
							[value]="dataExpirareMandatVicepresedinte1FormControl.value | appDateFormater"
							pInputText
							readonly="true">
				</div>
			</div>
		</div>
	
		<!-- Vicepresedinte2 -->
		<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-grid-row">
				<div class="ui-grid-col-3">
					{{'LABELS.REPREZENTANTI_COMISIE_SAU_GL_VICEPRESEDINTE2' | translate}}:
				</div>
				<div class="ui-grid-col-9">
					<app-nomenclator-value-field
							formControlName="vicepresedinte2"
							[readonly]="readonly"
							(valueChanged)="onVicepresedinte2ValueChanged($event)">
					</app-nomenclator-value-field>
				</div>
			</div>
		</div>

		<!-- Data inceput mandat vicepresedinte2 -->
		<div *ngIf="dataInceputMandatVicepresedinte2Required" class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-grid-row">
				<div class="ui-grid-col-3">
					{{'LABELS.REPREZENTANTI_COMISIE_SAU_GL_DATA_INCEPUT_MANDAT_VICEPRESEDINTE2' | translate}}<span *ngIf="dataInceputMandatVicepresedinte2Required"> *</span>:
				</div>
				<div class="ui-grid-col-9">
					<p-calendar
						formControlName="dataInceputMandatVicepresedinte2" 
						showIcon="true" 
						[readonlyInput]="readonly" 
						[disabled]="readonly"
						[dateFormat]="dateFormat"
						monthNavigator="true" 
						yearNavigator="true"
						[yearRange]="yearRange"
						showButtonBar="true"
						appendTo="body" 
						[dataType]="'date'"
						[minDate]="minDateForDataInceputMandat"
						(onSelect)="onDataInceputMandatVicepresedinte2Changed($event)"
						(onClearClick)="onDataInceputMandatVicepresedinte2ClearClicked($event)">
					</p-calendar>
				</div>
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-3"></div>
				<div class="ui-grid-col-9">
					<div class="ui-message ui-messages-error ui-corner-all" *ngIf="dataInceputMandatVicepresedinte2FormControl.invalid && (dataInceputMandatVicepresedinte2FormControl.dirty || dataInceputMandatVicepresedinte2FormControl.touched)">
						<i class="fa fa-close"></i>
						<span *ngIf="dataInceputMandatVicepresedinte2FormControl.errors['required']">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>
					</div>
				</div>
			</div>
		</div>

		<!-- Data expirare mandat vicepresedinte2 -->
		<div *ngIf="dataInceputMandatVicepresedinte2Required" class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-grid-row">
				<div class="ui-grid-col-3">
					{{'LABELS.REPREZENTANTI_COMISIE_SAU_GL_DATA_EXPIRARE_MANDAT_VICEPRESEDINTE2' | translate}}:
				</div>
				<div class="ui-grid-col-9">
					<input formControlName="dataExpirareMandatVicepresedinte2" 
							type="text"
							[value]="dataExpirareMandatVicepresedinte2FormControl.value | appDateFormater"
							pInputText
							readonly="true">
				</div>
			</div>
		</div>
	
		<!-- Vicepresedinte3 -->
		<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-grid-row">
				<div class="ui-grid-col-3">
					{{'LABELS.REPREZENTANTI_COMISIE_SAU_GL_VICEPRESEDINTE3' | translate}}:
				</div>
				<div class="ui-grid-col-9">
					<app-nomenclator-value-field
							formControlName="vicepresedinte3"
							[readonly]="readonly"
							(valueChanged)="onVicepresedinte3ValueChanged($event)">
					</app-nomenclator-value-field>
				</div>
			</div>
		</div>

		<!-- Data inceput mandat vicepresedinte3 -->
		<div *ngIf="dataInceputMandatVicepresedinte3Required" class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-grid-row">
				<div class="ui-grid-col-3">
					{{'LABELS.REPREZENTANTI_COMISIE_SAU_GL_DATA_INCEPUT_MANDAT_VICEPRESEDINTE3' | translate}}<span *ngIf="dataInceputMandatVicepresedinte3Required"> *</span>:
				</div>
				<div class="ui-grid-col-9">
					<p-calendar
						formControlName="dataInceputMandatVicepresedinte3" 
						showIcon="true" 
						[readonlyInput]="readonly" 
						[disabled]="readonly"
						[dateFormat]="dateFormat"
						monthNavigator="true" 
						yearNavigator="true"
						[yearRange]="yearRange"
						showButtonBar="true"
						appendTo="body" 
						[dataType]="'date'"
						[minDate]="minDateForDataInceputMandat"
						(onSelect)="onDataInceputMandatVicepresedinte3Changed($event)"
						(onClearClick)="onDataInceputMandatVicepresedinte3ClearClicked($event)">
					</p-calendar>
				</div>
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-3"></div>
				<div class="ui-grid-col-9">
					<div class="ui-message ui-messages-error ui-corner-all" *ngIf="dataInceputMandatVicepresedinte3FormControl.invalid && (dataInceputMandatVicepresedinte3FormControl.dirty || dataInceputMandatVicepresedinte3FormControl.touched)">
						<i class="fa fa-close"></i>
						<span *ngIf="dataInceputMandatVicepresedinte3FormControl.errors['required']">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>
					</div>
				</div>
			</div>
		</div>

		<!-- Data expirare mandat vicepresedinte3 -->
		<div *ngIf="dataInceputMandatVicepresedinte3Required" class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-grid-row">
				<div class="ui-grid-col-3">
					{{'LABELS.REPREZENTANTI_COMISIE_SAU_GL_DATA_EXPIRARE_MANDAT_VICEPRESEDINTE3' | translate}}:
				</div>
				<div class="ui-grid-col-9">
					<input formControlName="dataExpirareMandatVicepresedinte3" 
							type="text"
							[value]="dataExpirareMandatVicepresedinte3FormControl.value | appDateFormater"
							pInputText
							readonly="true">
				</div>
			</div>
		</div>
		
		<!-- Responsabil ARB -->
		<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-grid-row">
				<div class="ui-grid-col-3">
					{{'LABELS.REPREZENTANTI_COMISIE_SAU_GL_RESPONSABIL_ARB' | translate}} *:
				</div>
				<div class="ui-grid-col-9">
					<app-user-selector
							formControlName="responsabilARB"
							[readonly]="readonly"
							[labelDisplayMode]="'name-title'">
					</app-user-selector>
				</div>
			</div>
			<div class="ui-grid-row">
					<div class="ui-grid-col-3"></div>
					<div class="ui-grid-col-9">
						<div class="ui-message ui-messages-error ui-corner-all" *ngIf="responsabilARBFormControl.invalid && (responsabilARBFormControl.dirty || responsabilARBFormControl.touched)">
							<i class="fa fa-close"></i>
							<span *ngIf="responsabilARBFormControl.errors['required']">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>
						</div>
					</div>
				</div>
		</div>
		
	
		<!-- Membru CD Coordonator -->
		<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-grid-row">
				<div class="ui-grid-col-3">
					{{'LABELS.REPREZENTANTI_COMISIE_SAU_GL_MEMBRU_CD_COORDONATOR' | translate}}<span *ngIf="inputData.isCategorieComisie"> *</span>:
				</div>
				<div class="ui-grid-col-9">
					<app-nomenclator-value-field
							formControlName="membruCDCoordonator"
							[readonly]="readonly">
					</app-nomenclator-value-field>
				</div>
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-3"></div>
				<div class="ui-grid-col-9">
					<div class="ui-message ui-messages-error ui-corner-all" *ngIf="membruCDCoordonatorFormControl.invalid && (membruCDCoordonatorFormControl.dirty || membruCDCoordonatorFormControl.touched)">
						<i class="fa fa-close"></i>
						<span *ngIf="membruCDCoordonatorFormControl.errors['required']">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>
					</div>
				</div>
			</div>
		</div>

		<!-- Data inceput mandat Membru CD Coordonator -->
		<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-grid-row">
				<div class="ui-grid-col-3">
					{{'LABELS.REPREZENTANTI_COMISIE_SAU_GL_DATA_INCEPUT_MANDAT_MEMBRU_CD_COORDONATOR' | translate}}<span *ngIf="inputData.isCategorieComisie"> *</span>:
				</div>
				<div class="ui-grid-col-9">
					<p-calendar
						formControlName="dataInceputMandatMembruCDCoordonator" 
						showIcon="true" 
						[readonlyInput]="readonly" 
						[disabled]="readonly"
						[dateFormat]="dateFormat"
						monthNavigator="true" 
						yearNavigator="true"
						[yearRange]="yearRange"
						showButtonBar="true"
						appendTo="body" 
						[dataType]="'date'"
						[minDate]="minDateForDataInceputMandat"
						(onSelect)="onDataInceputMandatMembruCDCoordonatorChanged($event)"
						(onClearClick)="onDataInceputMandatMembruCDCoordonatorClearClicked($event)">
					</p-calendar>
				</div>
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-3"></div>
				<div class="ui-grid-col-9">
					<div class="ui-message ui-messages-error ui-corner-all" *ngIf="dataInceputMandatMembruCDCoordonatorFormControl.invalid && (dataInceputMandatMembruCDCoordonatorFormControl.dirty || dataInceputMandatMembruCDCoordonatorFormControl.touched)">
						<i class="fa fa-close"></i>
						<span *ngIf="dataInceputMandatMembruCDCoordonatorFormControl.errors['required']">{{'MESSAGES.VALIDATOR_MANDATORY_FIELD' | translate}}</span>
					</div>
				</div>
			</div>
		</div>

		<!-- Data expirare mandat Membru CD Coordonator -->
		<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-grid-row">
				<div class="ui-grid-col-3">
					{{'LABELS.REPREZENTANTI_COMISIE_SAU_GL_DATA_EXPIRARE_MANDAT_MEMBRU_CD_COORDONATOR' | translate}}:
				</div>
				<div class="ui-grid-col-9">
					<input formControlName="dataExpirareMandatMembruCDCoordonator" 
							type="text"
							[value]="dataExpirareMandatMembruCDCoordonatorFormControl.value | appDateFormater"
							pInputText
							readonly="true">
				</div>
			</div>
		</div>
	</form>
</div>