<p-listbox *ngIf="multipleSelection" [options]="calendarsSelectItems" [(ngModel)]="calendarsSelected" [multiple]="true"
		(onChange)="onCalendarSelectionChanged($event)" filter="filter" [disabled]="isReadOnly">
	<ng-template let-calendar pTemplate="item">
		<div class="ui-helper-clearfix">
			<i [style.color]="calendar.value.color" style="border: 1px solid #ffffff" class="fa fa-square" aria-hidden="true"></i>
			<span>{{ calendar.value.name }}</span>
		</div>
	</ng-template>
</p-listbox>

<p-dropdown *ngIf="!multipleSelection" [options]="calendarsSelectItems" [(ngModel)]="calendarsSelected[0]"
		[autoDisplayFirst]="true" (onChange)="onCalendarSelectionChanged($event)" [style]="{ 'width': '100%' }"
		filter="true" [disabled]="isReadOnly">
</p-dropdown>