<p-dialog #pDialog [(visible)]="windowVisible" [modal]="true" appendTo="body"
		[contentStyle]="{'height':'70vh'}" [style]="{'width':'90vw','height':'auto'}" 
		(onShow)="onShow($event)" (onHide)="onHide($event)">
	<p-header>
		{{"LABELS.GROUP" | translate}}:
		<a [ngClass]="{'ui-dialog-titlebar-icon ui-corner-all':true}" style="position: absolute; right: 30px;"  tabindex="0" role="button" (click)="onToggleMinimize()" (keydown.enter)="onToggleMinimize()">
			<span [ngClass]="minimized ? 'pi pi-chevron-down' : 'pi pi-minus'"></span>
		</a>
	</p-header>

	<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
		<form [formGroup]="form">
			<div class="ui-g-12 ui-g-nopad">
				<div class="ui-g-12 ui-sm-12 ui-md-2 ">{{"LABELS.NAME" | translate}}*:</div>
				<div class="ui-g-12 ui-sm-12 ui-md-10">
					<input pInputText formControlName="name" type="text" required/>
				</div>
				<div *ngIf="nameFormControl.invalid && (nameFormControl.dirty || nameFormControl.touched)" class="ui-g-12 ui-sm-12 ui-md-offset-2 ui-md-10">
					<div class="ui-message ui-messages-error ui-corner-all">
						<i class="fa fa-close"></i>
						{{"MESSAGES.VALIDATOR_MANDATORY_FIELD" | translate}}
					</div>
				</div>
			</div>

			<div class="ui-g-12 ui-g-nopad">
				<div class="ui-g-12 ui-sm-12 ui-md-2">{{"LABELS.DESCRIPTION" | translate}}:</div>
				<div class="ui-g-12 ui-sm-12 ui-md-10">
					<textarea pInputTextarea formControlName="description" type="text" style="width: -webkit-fill-available;"></textarea>
				</div>
			</div>

			<app-picklist [sourceItems]="sourceUsers" [propertyNameToDisplay]="'displayName'" [propertyNameToFilter]="'name'" [showTargetFilter]="false" formControlName="users"></app-picklist>
		</form>
	</div>
	
	<p-footer>
		<p-button *ngIf="addButtonVisible" (onClick)="onAdd($event)" [label]="'LABELS.ADD' | translate"></p-button>
		<p-button *ngIf="saveButtonVisible" (onClick)="onSave($event)" [label]="'LABELS.SAVE' | translate"></p-button>
		<p-button (onClick)="onCancel($event)" [label]="'LABELS.CANCEL' | translate"></p-button>
	</p-footer>
</p-dialog>