<div class="exception-body">
    <div class="exception-topbar">
        <a href="#" class="logo">
            <span class="logo-text" translate>LABELS.APP_NAME</span>
        </a>
    </div>

    <div class="exception-panel">
        <div class="top">
                <img src="assets/layout/images/curvy-left.svg" alt="ecuador-layout" class="left"/>
                <img src="assets/layout/images/access.svg" alt="ecuador-layout" class="main"/>
                <img src="assets/layout/images/curvy-right.svg" alt="ecuador-layout" class="right"/>
                <div class="seperator"></div>
        </div>
        <div class="bottom">
            <span class="exception-panel-header">Access Denied</span>
            <span class="exception-panel-subheader">You don't have permission.</span>
            <button type="button" (click)="onTurnOnToHomePageAction()" class="ui-button ui-button-text-only ui-widget ui-state-default ui-corner-all ">
                <span class="ui-button-text ui-c"> Turn to home page </span>
            </button>
            <button type="button" *ngIf="logoutEnabled" (click)="onLogoutAction()" class="ui-button ui-button-text-only ui-widget ui-state-default ui-corner-all ">
                <span class="ui-button-text ui-c" translate>LABELS.LOGOUT</span>
            </button>
        </div>
    </div>
</div>
